<ul class="nav nav-tabs horizontal-bar in">
    <li role="presentation" {% if NAV['appbar'] == 'application' %} class="active"{% endif %}>
        <a href="/application/{{ app_data.ID }}/App/{{ app_data.ApplicationName }}">
            <span class="fa fa-globe" aria-hidden="true"></span>
            <span class="hidden-xs">Overview</span>
        </a>
    </li>
    <li role="presentation" class="dropdown{% if NAV['appbar'] == 'metrics' %} active{% endif %}">
        <a class="dropdown-toggle active" data-toggle="dropdown" href="">
            <span class="fa fa-sitemap" aria-hidden="true"></span>
            <span class="hidden-xs">Metrics</span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="/applevel_metrics/{{ app_data.ApplicationName }}">
                    <div class="fa fa-list-alt"></div>
                    View Dashboard
                </a>
            </li>
            <li>
                <a href="/application_KPIs/{{ app_data.ApplicationName }}">
                    <div class="fa fa-list-alt"></div>
                    View KPIs
                </a>
            </li>

        </ul>
    </li>
</ul>


