<ul class="nav nav-tabs horizontal-bar in">
    <li role="presentation" {% if NAV['appbar'] == 'application' %} class="active"{% endif %}>
        <a href="/application/{{ app_data.ID }}">
            <span class="fa fa-globe" aria-hidden="true"></span>
            <span class="hidden-xs">Overview</span>
        </a>
    </li>
    <li role="presentation" {% if NAV['appbar'] == 'metrics' %} class="active"{% endif %}>
        <a href="/applevel_metrics/{{ app_data.ApplicationName }}">
            <span class="fas fa-chart-line" aria-hidden="true"></span>
            <span class="hidden-xs">Metrics</span>
        </a>
    </li>
</ul>


