<!-- blank modal -->
<div id="blank_modal" class="modal">
  <!-- Modal content -->
  <div class="settings_container">
    
    <div class="settings_row">
      
      <div class="settings_col_m8_center">
    
        <div class="settings_card">
      
          <div class="settings_card_header">
            <span class="close" onclick="hideModal('blank_modal')"><div class="fas fa-times" style="font-size: 3rem;"></div></span>
            <h4 class="settings_card_title">Upload</h4>
          </div>
      
          <div class="settings_card_body">
      
            <div class="settings_form">

              <div id="aim_warn_content"></div>


        
            </div>
      
          </div>
      
        </div>
    
      </div>
    </div>
    
  </div>
</div>





<!-- end add modal -->