{% extends 'base_auth.html' %}

{% block app_content %}

    <div class="container-fluid">
        <!-- start of tabs -->
        <div class="row">
            <div class="col-md-12 active">
                <h3 class="no-margin-top" style="padding-bottom: 5px;color: floralwhite;">{{ app_data.ApplicationName }}--{{ app_data.Component }}

                </h3>
                {% include "component_horizontal_bar.html" %}
            </div>
        </div>


            <!-- end of tabs -->
    <div class="row">
        <div class="col-lg-12">

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div id="base-content" class="col-lg-12">

            <div class="panel panel-default">
                <div class="panel-heading tight">
                    <div class="clearfix">
                        <h3 class="has-filters">
                            Metrics Overview

                        </h3>


                    </div>
                </div>
                {% include "vulnerability_filters.html" %}
                <div class="panel-body product-graphs-overview">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="fa fa-crosshairs fa-2x"></div>

                                        <div class="pull-right inline-block text-right">
                                            <span class=" fa-2x">{{ metrics['mttr'] }} days</span>
                                            <span>Mean Time to Remediate</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="fa fa-crosshairs fa-2x"></div>

                                        <div class="pull-right inline-block text-right">
                                            <span class=" fa-2x">{{ metrics['finding_accuracy'] }} %</span>
                                            <span>Detection Accuracy Rate</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="fa fa-crosshairs fa-2x"></div>

                                        <div class="pull-right inline-block text-right">
                                            <span class=" fa-2x">{{ metrics['false_positive_rate'] }} %</span>
                                            <span>False Positive Rate</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="fa fa-crosshairs fa-2x"></div>

                                        <div class="pull-right inline-block text-right">
                                            <span class=" fa-2x">{{ metrics['false_negative_rate'] }} %</span>
                                            <span>False Negative Rate</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="fa fa-crosshairs fa-2x"></div>

                                        <div class="pull-right inline-block text-right">
                                            <span class=" fa-2x">{{ findings_map['reviewed_findings']['total'] }}</span>
                                            <span><a href="/all_app_vulns_filtered/{{ app_data.ApplicationName }}/status/Open-Reviewed">Reviewed
                                        Findings <div class="fa fa-arrow-circle-right"></div></a>
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="verified_objs" class="graph" style="padding: 0px; position: relative;">
                                    <canvas id="verify_findings_Chart"></canvas>

                                </div>
                            </div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="fa fa-bug fa-2x"></div>

                                        <div class="pull-right inline-block text-right">
                                            <span class=" fa-2x">{{ findings_map['open_findings']['total'] }}</span>
                                            <span><a href="/all_app_vulns_filtered/{{ app_data.ApplicationName }}/status/Open-">Open
                                        Findings <div class="fa fa-arrow-circle-right"></div></a>
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="open_objs" class="graph" style="padding: 0px; position: relative;">
                                    <canvas id="open_findings_Chart"></canvas>
                                </div>
                            </div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="fa fa-check fa-2x"></div>

                                        <div class="pull-right text-right">
                                            <span class="fa-2x">{{ findings_map['risk_accepted_findings']['total'] }}</span>
                                            <span><a href="/all_app_vulns_filtered/{{ app_data.ApplicationName }}/Open-RiskAccepted">Risk Accepted
                                    Findings <div class="fa fa-arrow-circle-right"></div></a>
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="accepted_objs" class="graph" style="padding: 0px; position: relative;">
                                    <canvas id="risk_accepted_findings_Chart"></canvas>
                                </div>
                            </div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="fa fa-fire-extinguisher fa-2x"></div>

                                        <div class="text-right pull-right">
                                            <span class="fa-2x">{{ findings_map['closed_findings']['total'] }}</span>
                                            <span><a href="/all_app_vulns_filtered/{{ app_data.ApplicationName }}/status/Closed-">Closed
                                        Findings <div class="fa fa-arrow-circle-right"></div></a>
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="closed_objs" class="graph" style="padding: 0px; position: relative;">
                                    <canvas id="closed_findings_Chart"></canvas>
                                </div>
                            </div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="fa fa-fire-extinguisher fa-2x"></div>

                                        <div class="text-right pull-right">
                                            <span class="fa-2x">{{ findings_map['false_positive_findings']['total'] }}</span>
                                            <span><a
                                                    href="/all_app_vulns_filtered/{{ app_data.ApplicationName }}/status/Closed-FP">False-postive
                                        Findings <div class="fa fa-arrow-circle-right"></div></a>
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="false_positive_objs" class="graph" style="padding: 0px; position: relative;">
                                    <canvas id="false_positive_findings_Chart"></canvas>
                                </div>
                            </div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="fa fa-fire-extinguisher fa-2x"></div>

                                        <div class="pull-right inline-block text-right">
                                            <span class=" fa-2x">{{ findings_map['closed_manually']['total'] }}</span>
                                            <span><a href="/all_app_vulns_filtered/{{ app_data.ApplicationName }}/status/Closed-Manual">Manually Closed
                                        Findings <div class="fa fa-arrow-circle-right"></div></a>
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="out_of_scope_objs" class="graph" style="padding: 0px; position: relative;">
                                    <canvas id="closed_manually_Chart"></canvas>
                                </div>
                            </div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="fa fa-bullseye fa-2x"></div>

                                        <div class="text-right pull-right">
                                            <span class="fa-2x">{{ findings_map['total_findings']['total'] }}</span>
                                            <span><a href="/all_app_vulns_filtered/{{ app_data.ApplicationName }}/status/ALL">Total
                                        Findings <div class="fa fa-arrow-circle-right"></div></a>
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="all_objs" class="graph" style="padding: 0px; position: relative;">
                                    <canvas id="total_findings_Chart"></canvas>
                                </div>
                            </div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="fa fa-bug fa-2x"></div>

                                        <div class="pull-right inline-block text-right">
                                            <span class=" fa-2x">{{ findings_map['secreview_findings']['total'] }}</span>
                                            <span><a href="/all_app_vulns_filtered/{{ app_data.ApplicationName }}/status/Open-SecReview">Needs Security Review
                                        Findings <div class="fa fa-arrow-circle-right"></div></a>
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="inactive_objs" class="graph" style="padding: 0px; position: relative;">
                                    <canvas id="secreview_findings_Chart"></canvas>
                                </div>
                            </div>
                            <div class="panel-footer"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading tight">
                    <div class="clearfix">
                        <h3 class="pull-left">
                            Detailed Metrics
                        </h3>

                        <div class="dropdown pull-right">
                            <div class="btn-group">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body product-graphs">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Open, Closed, and Accepted Week to Week

                            </div>
                            <div class="panel-body">
                                <div id="open_close_weekly" class="graph" style="padding: 0px; position: relative;">
                                    <canvas id="open_closed_accepted_w2w_Chart"></canvas>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div title="Weeks are only displayed if findings are available."
                                   class="text-info fa fa-info-circle"></div>
                                <small>Weeks are only displayed if findings are available.</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Week to Week by Severity

                            </div>
                            <div class="panel-body">
                                <div id="severity_weekly" class="graph" style="padding: 0px; position: relative;">
                                    <canvas id="week_2_week_severity_Chart"></canvas>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div title="Weeks are only displayed if findings are available."
                                   class="text-info fa fa-info-circle"></div>
                                <small>Weeks are only displayed if findings are available.</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Critical Week to Week

                            </div>
                            <div class="panel-body">
                                <div id="severity_critical" class="graph" style="padding: 0px; position: relative;">
                                    <canvas id="critical_week_2_week_Chart"></canvas>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div title="Weeks are only displayed if findings are available."
                                   class="text-info fa fa-info-circle"></div>
                                <small>Weeks are only displayed if findings are available.</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                High Week to Week

                            </div>
                            <div class="panel-body">
                                <div id="severity_high" class="graph" style="padding: 0px; position: relative;">
                                    <canvas id="high_week_2_week_Chart"></canvas>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div title="Weeks are only displayed if findings are available."
                                   class="text-info fa fa-info-circle"></div>
                                <small>Weeks are only displayed if findings are available.</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Medium Week to Week

                            </div>
                            <div class="panel-body">
                                <div id="severity_medium" class="graph" style="padding: 0px; position: relative;">
                                    <canvas id="medium_week_2_week_Chart"></canvas>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div title="Weeks are only displayed if findings are available."
                                   class="text-info fa fa-info-circle"></div>
                                <small>Weeks are only displayed if findings are available.</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Finding Age
                            </div>
                            <div class="panel-body">
                                <div id="finding_age" class="graph" style="padding: 0px; position: relative;">
                                    <canvas id="finding_age_Chart"></canvas>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div title="Weeks are only displayed if findings are available."
                                   class="text-info fa fa-info-circle"></div>
                                <small>Finding age of {{ findings_map['open_findings']['total'] }} open
                                    findings</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Weekly activity of findings reported

                            </div>
                            <div class="panel-body">
                                <div class="graph" id="punchcard">
                                    <canvas id="findings_by_dow_Chart"></canvas>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div title="Weeks are only displayed if findings are available."
                                   class="text-info fa fa-info-circle"></div>
                                <small>Weeks are only displayed if findings are available.</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Findings by Test Type

                            </div>
                            <div class="panel-body">
                                <div class="graph" id="test_type" style="padding: 0px; position: relative;">
                                    <canvas id="findings_by_test_type_Chart"></canvas>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div title="Weeks are only displayed if findings are available."
                                   class="text-info fa fa-info-circle"></div>
                                <small>Test Types shown only if available.</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Open CWE Vulnerabilities
                            </div>
                            <div class="panel-body">
                                <div id="open_vulnerabilities" class="graph" style="padding: 0px; position: relative;">
                                    <canvas id="open_cwe_vulns_Chart"></canvas>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="text-info fa fa-info-circle"></div>
                                <small>Showing {{ details_map['cwe_types_open_cnt'] }}
                                    vulnerabilities from Open findings</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Total CWE Vulnerabilities
                            </div>
                            <div class="panel-body">
                                <div id="all_vulnerabilities" class="graph" style="padding: 0px; position: relative;">
                                    <canvas id="total_cwe_vulns_Chart"></canvas>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="text-info fa fa-info-circle"></div>
                                <small>Showing {{ details_map['cwe_types_total_cnt'] }}
                                    vulnerabilities from all findings</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.col-lg-12 -->
</div>




{#  Scripts  #}
<script src='../static/js/Chart.js'></script>
{# reviewed_findings  #}
<script>
const options = {
  plugins: {
    tooltip: {
      title: '',
    },
  },
};

const data = {
  datasets: [
      {
        label: 'Critical',
        data: [{{ findings_map['reviewed_findings']['critical'] }}],
        backgroundColor: 'red',
        hoverOffset: 4
      },
      {
        label: 'High',
        data: [{{ findings_map['reviewed_findings']['high'] }}],
        backgroundColor: 'orange',
        hoverOffset: 4
      },
      {
        label: 'Medium',
        data: [{{ findings_map['reviewed_findings']['medium'] }}],
        backgroundColor: 'yellow',
        hoverOffset: 4
      },
      {
        label: 'Low',
        data: [{{ findings_map['reviewed_findings']['low'] }}],
        backgroundColor: 'blue',
        hoverOffset: 4
      },
      {
        label: 'Info',
        data: [{{ findings_map['reviewed_findings']['info'] }}],
        backgroundColor: 'purple',
        hoverOffset: 4
      }
 ]

};

// get chart canvas
var ctx = document.getElementById("verify_findings_Chart").getContext("2d");
var newChart = new Chart(ctx, {
  type: 'bar',
  options: options,
  data: data,
    options: {
      legend: {
            position: 'bottom',
        },

    }
});
</script>
{# open_findings  #}
<script>
const open_findings_data = {
  datasets: [
      {
        label: 'Critical',
        data: [{{ findings_map['open_findings']['critical'] }}],
        backgroundColor: 'red',
        hoverOffset: 4
      },
      {
        label: 'High',
        data: [{{ findings_map['open_findings']['high'] }}],
        backgroundColor: 'orange',
        hoverOffset: 4
      },
      {
        label: 'Medium',
        data: [{{ findings_map['open_findings']['medium'] }}],
        backgroundColor: 'yellow',
        hoverOffset: 4
      },
      {
        label: 'Low',
        data: [{{ findings_map['open_findings']['low'] }}],
        backgroundColor: 'blue',
        hoverOffset: 4
      },
      {
        label: 'Info',
        data: [{{ findings_map['open_findings']['info'] }}],
        backgroundColor: 'purple',
        hoverOffset: 4
      }
 ]

};

// get chart canvas
var open_findings_ctx = document.getElementById("open_findings_Chart").getContext("2d");
var open_findingsChart = new Chart(open_findings_ctx, {
  type: 'bar',
  options: options,
  data: open_findings_data,
    options: {
      legend: {
            position: 'bottom',
        },

    }
});
</script>
{# risk_accepted_findings  #}
<script>
const risk_accepted_findings_data = {
  labels: [],
  datasets: [
      {
        label: 'Critical',
        data: [{{ findings_map['risk_accepted_findings']['critical'] }}],
        backgroundColor: 'red',
        hoverOffset: 4
      },
      {
        label: 'High',
        data: [{{ findings_map['risk_accepted_findings']['high'] }}],
        backgroundColor: 'orange',
        hoverOffset: 4
      },
      {
        label: 'Medium',
        data: [{{ findings_map['risk_accepted_findings']['medium'] }}],
        backgroundColor: 'yellow',
        hoverOffset: 4
      },
      {
        label: 'Low',
        data: [{{ findings_map['risk_accepted_findings']['low'] }}],
        backgroundColor: 'blue',
        hoverOffset: 4
      },
      {
        label: 'Info',
        data: [{{ findings_map['risk_accepted_findings']['info'] }}],
        backgroundColor: 'purple',
        hoverOffset: 4
      }
 ]

};

// get chart canvas
var risk_accepted_findings_ctx = document.getElementById("risk_accepted_findings_Chart").getContext("2d");
var risk_accepted_findingsChart = new Chart(risk_accepted_findings_ctx, {
  type: 'bar',
  data: risk_accepted_findings_data,
    options: {
      legend: {
            position: 'bottom',
        },

    }
});
</script>
{# closed_findings  #}
<script>
const closed_findings_data = {
  labels: [],
  datasets: [
      {
        label: 'Critical',
        data: [{{ findings_map['closed_findings']['critical'] }}],
        backgroundColor: 'red',
        hoverOffset: 4
      },
      {
        label: 'High',
        data: [{{ findings_map['closed_findings']['high'] }}],
        backgroundColor: 'orange',
        hoverOffset: 4
      },
      {
        label: 'Medium',
        data: [{{ findings_map['closed_findings']['medium'] }}],
        backgroundColor: 'yellow',
        hoverOffset: 4
      },
      {
        label: 'Low',
        data: [{{ findings_map['closed_findings']['low'] }}],
        backgroundColor: 'blue',
        hoverOffset: 4
      },
      {
        label: 'Info',
        data: [{{ findings_map['closed_findings']['info'] }}],
        backgroundColor: 'purple',
        hoverOffset: 4
      }
 ]

};

// get chart canvas
var closed_findings_ctx = document.getElementById("closed_findings_Chart").getContext("2d");
var closed_findingsChart = new Chart(closed_findings_ctx, {
  type: 'bar',
  data: closed_findings_data,
    options: {
      legend: {
            position: 'bottom',
        },

    }
});
</script>
{# closed_manually  #}
<script>
const closed_manually_data = {
  labels: [],
  datasets: [
      {
        label: 'Critical',
        data: [{{ findings_map['closed_manually']['critical'] }}],
        backgroundColor: 'red',
        hoverOffset: 4
      },
      {
        label: 'High',
        data: [{{ findings_map['closed_manually']['high'] }}],
        backgroundColor: 'orange',
        hoverOffset: 4
      },
      {
        label: 'Medium',
        data: [{{ findings_map['closed_manually']['medium'] }}],
        backgroundColor: 'yellow',
        hoverOffset: 4
      },
      {
        label: 'Low',
        data: [{{ findings_map['closed_manually']['low'] }}],
        backgroundColor: 'blue',
        hoverOffset: 4
      },
      {
        label: 'Info',
        data: [{{ findings_map['closed_manually']['info'] }}],
        backgroundColor: 'purple',
        hoverOffset: 4
      }
 ]

};

// get chart canvas
var closed_manually_ctx = document.getElementById("closed_manually_Chart").getContext("2d");
var closed_manuallyChart = new Chart(closed_manually_ctx, {
  type: 'bar',
  data: closed_manually_data,
    options: {
      legend: {
            position: 'bottom',
        },

    }
});
</script>
{# total_findings  #}
<script>
const total_findings_data = {
  labels: [],
  datasets: [
      {
        label: 'Critical',
        data: [{{ findings_map['total_findings']['critical'] }}],
        backgroundColor: 'red',
        hoverOffset: 4
      },
      {
        label: 'High',
        data: [{{ findings_map['total_findings']['high'] }}],
        backgroundColor: 'orange',
        hoverOffset: 4
      },
      {
        label: 'Medium',
        data: [{{ findings_map['total_findings']['medium'] }}],
        backgroundColor: 'yellow',
        hoverOffset: 4
      },
      {
        label: 'Low',
        data: [{{ findings_map['total_findings']['low'] }}],
        backgroundColor: 'blue',
        hoverOffset: 4
      },
      {
        label: 'Info',
        data: [{{ findings_map['total_findings']['info'] }}],
        backgroundColor: 'purple',
        hoverOffset: 4
      }
 ]

};

// get chart canvas
var total_findings_ctx = document.getElementById("total_findings_Chart").getContext("2d");
var total_findingsChart = new Chart(total_findings_ctx, {
  type: 'bar',
  data: total_findings_data,
    options: {
      legend: {
            position: 'bottom',
        },

    }
});
</script>
{# secreview_findings  #}
<script>
const secreview_findings_data = {
  labels: [],
  datasets: [
      {
        label: 'Critical',
        data: [{{ findings_map['secreview_findings']['critical'] }}],
        backgroundColor: 'red',
        hoverOffset: 4
      },
      {
        label: 'High',
        data: [{{ findings_map['secreview_findings']['high'] }}],
        backgroundColor: 'orange',
        hoverOffset: 4
      },
      {
        label: 'Medium',
        data: [{{ findings_map['secreview_findings']['medium'] }}],
        backgroundColor: 'yellow',
        hoverOffset: 4
      },
      {
        label: 'Low',
        data: [{{ findings_map['secreview_findings']['low'] }}],
        backgroundColor: 'blue',
        hoverOffset: 4
      },
      {
        label: 'Info',
        data: [{{ findings_map['secreview_findings']['info'] }}],
        backgroundColor: 'purple',
        hoverOffset: 4
      }
 ]

};

// get chart canvas
var secreview_findings_ctx = document.getElementById("secreview_findings_Chart").getContext("2d");
var secreview_findingsChart = new Chart(secreview_findings_ctx, {
  type: 'bar',
  data: secreview_findings_data,
    options: {
      legend: {
            position: 'bottom',
        },

    }
});
</script>
{# false_positive_findings  #}
<script>
const false_positive_findings_data = {
  labels: [],
  datasets: [
      {
        label: 'Critical',
        data: [{{ findings_map['false_positive_findings']['critical'] }}],
        backgroundColor: 'red',
        hoverOffset: 4
      },
      {
        label: 'High',
        data: [{{ findings_map['false_positive_findings']['high'] }}],
        backgroundColor: 'orange',
        hoverOffset: 4
      },
      {
        label: 'Medium',
        data: [{{ findings_map['false_positive_findings']['medium'] }}],
        backgroundColor: 'yellow',
        hoverOffset: 4
      },
      {
        label: 'Low',
        data: [{{ findings_map['false_positive_findings']['low'] }}],
        backgroundColor: 'blue',
        hoverOffset: 4
      },
      {
        label: 'Info',
        data: [{{ findings_map['false_positive_findings']['info'] }}],
        backgroundColor: 'purple',
        hoverOffset: 4
      }
 ]

};

// get chart canvas
var false_positive_findings_ctx = document.getElementById("false_positive_findings_Chart").getContext("2d");
var false_positive_findingsChart = new Chart(false_positive_findings_ctx, {
  type: 'bar',
  data: false_positive_findings_data,
    options: {
      legend: {
            position: 'bottom',
        },

    }
});
</script>


{# open_closed_accepted_w2w  #}
<script>
const open_closed_accepted_w2w_data = {
  labels: [{% for date in details_map['all_weeks'] %}"{{ date|safe }}",{% endfor %}],
  datasets: [
      {
        label: 'Open',
        data: [{% for date in details_map['all_weeks'] %}{{ details_map['all_weeks'][date]['opened'] }},{% endfor %}],
        backgroundColor: 'red',
        hoverOffset: 4
      },
      {
        label: 'Closed',
        data: [{% for date in details_map['all_weeks'] %}{{ details_map['all_weeks'][date]['closed'] }},{% endfor %}],
        backgroundColor: 'orange',
        hoverOffset: 4
      },
      {
        label: 'Accepted',
        data: [{% for date in details_map['all_weeks'] %}{{ details_map['all_weeks'][date]['accepted'] }},{% endfor %}],
        backgroundColor: 'yellow',
        hoverOffset: 4
      }
 ]

};

// get chart canvas
var open_closed_accepted_w2w_ctx = document.getElementById("open_closed_accepted_w2w_Chart").getContext("2d");
var false_positive_findingsChart = new Chart(open_closed_accepted_w2w_ctx, {
  type: 'line',
  data: open_closed_accepted_w2w_data,
    options: {
      legend: {
            position: 'bottom',
        },

    }
});
</script>
{# week_2_week_severity  #}
<script>
const week_2_week_severity_data = {
  labels: [{% for date in details_map['all_weeks'] %}"{{ date|safe }}",{% endfor %}],
  datasets: [
      {
        label: 'Critical',
        data: [{% for date in details_map['all_weeks'] %}{{ details_map['all_weeks'][date]['new_critical'] }},{% endfor %}],
        backgroundColor: 'red',
        hoverOffset: 4
      },
      {
        label: 'High',
        data: [{% for date in details_map['all_weeks'] %}{{ details_map['all_weeks'][date]['new_high'] }},{% endfor %}],
        backgroundColor: 'orange',
        hoverOffset: 4
      },
      {
        label: 'Medium',
        data: [{% for date in details_map['all_weeks'] %}{{ details_map['all_weeks'][date]['new_medium'] }},{% endfor %}],
        backgroundColor: 'yellow',
        hoverOffset: 4
      },
      {
        label: 'Low',
        data: [{% for date in details_map['all_weeks'] %}{{ details_map['all_weeks'][date]['new_low'] }},{% endfor %}],
        backgroundColor: 'green',
        hoverOffset: 4
      },
      {
        label: 'Info',
        data: [{% for date in details_map['all_weeks'] %}{{ details_map['all_weeks'][date]['new_info'] }},{% endfor %}],
        backgroundColor: 'purple',
        hoverOffset: 4
      }
 ]

};

// get chart canvas
var week_2_week_severity_ctx = document.getElementById("week_2_week_severity_Chart").getContext("2d");
var week_2_week_severityChart = new Chart(week_2_week_severity_ctx, {
  type: 'line',
  data: week_2_week_severity_data,
    options: {
      legend: {
            position: 'bottom',
        },

    }
});
</script>
{# critical_week_2_week  #}
<script>
const critical_week_2_week_data = {
  labels: [{% for date in details_map['all_weeks'] %}"{{ date|safe }}",{% endfor %}],
  datasets: [
      {
        label: 'Critical',
        data: [{% for date in details_map['all_weeks'] %}{{ details_map['all_weeks'][date]['new_critical'] }},{% endfor %}],
        backgroundColor: 'red',
        hoverOffset: 4
      }
 ]

};

// get chart canvas
var critical_week_2_week_ctx = document.getElementById("critical_week_2_week_Chart").getContext("2d");
var critical_week_2_weekChart = new Chart(critical_week_2_week_ctx, {
  type: 'line',
  data: critical_week_2_week_data,
    options: {
      legend: {
            position: 'bottom',
        },

    }
});
</script>
{# high_week_2_week  #}
<script>
const high_week_2_week_data = {
  labels: [{% for date in details_map['all_weeks'] %}"{{ date|safe }}",{% endfor %}],
  datasets: [
      {
        label: 'High',
        data: [{% for date in details_map['all_weeks'] %}{{ details_map['all_weeks'][date]['new_high'] }},{% endfor %}],
        backgroundColor: 'orange',
        hoverOffset: 4
      }
 ]

};

// get chart canvas
var high_week_2_week_ctx = document.getElementById("high_week_2_week_Chart").getContext("2d");
var high_week_2_weekChart = new Chart(high_week_2_week_ctx, {
  type: 'line',
  data: high_week_2_week_data,
    options: {
      legend: {
            position: 'bottom',
        },

    }
});
</script>
{# medium_week_2_week  #}
<script>
const medium_week_2_week_data = {
  labels: [{% for date in details_map['all_weeks'] %}"{{ date|safe }}",{% endfor %}],
  datasets: [
      {
        label: 'Medium',
        data: [{% for date in details_map['all_weeks'] %}{{ details_map['all_weeks'][date]['new_medium'] }},{% endfor %}],
        backgroundColor: 'yellow',
        hoverOffset: 4
      }
 ]

};

// get chart canvas
var medium_week_2_week_ctx = document.getElementById("medium_week_2_week_Chart").getContext("2d");
var medium_week_2_weekChart = new Chart(medium_week_2_week_ctx, {
  type: 'line',
  data: medium_week_2_week_data,
    options: {
      legend: {
            position: 'bottom',
        },

    }
});
</script>
{# finding_age  #}
<script>
const finding_age_data = {
  labels: [{% for date in details_map['days_open'] %}"{{ date|safe }}",{% endfor %}],
  datasets: [
      {
        label: 'Days Open',
        data: [{% for date in details_map['days_open'] %}{{ details_map['days_open'][date] }},{% endfor %}],
        backgroundColor: 'dark blue',
        hoverOffset: 4
      }
 ]

};

// get chart canvas
var finding_age_ctx = document.getElementById("finding_age_Chart").getContext("2d");
var finding_age_weekChart = new Chart(finding_age_ctx, {
  type: 'bar',
  data: finding_age_data,
    options: {
      legend: {
            position: 'bottom',
        },

    }
});
</script>
{# findings_by_dow  #}
<script>
const findings_by_dow_data = {
  labels: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
  datasets: [
      {
        label: 'Day',
        data: [
            {{ details_map['dow']['Sunday'] }},
            {{ details_map['dow']['Monday'] }},
            {{ details_map['dow']['Tuesday'] }},
            {{ details_map['dow']['Wednesday'] }},
            {{ details_map['dow']['Thursday'] }},
            {{ details_map['dow']['Friday'] }},
            {{ details_map['dow']['Saturday'] }}
        ],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(255, 205, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(201, 203, 207, 0.2)'
        ],
        borderColor: [
          'rgb(255, 99, 132)',
          'rgb(255, 159, 64)',
          'rgb(255, 205, 86)',
          'rgb(75, 192, 192)',
          'rgb(54, 162, 235)',
          'rgb(153, 102, 255)',
          'rgb(201, 203, 207)'
        ],
        borderWidth: 1,
        hoverOffset: 4
      }
 ]

};

// get chart canvas
var findings_by_dow_ctx = document.getElementById("findings_by_dow_Chart").getContext("2d");
var findings_by_dow_weekChart = new Chart(findings_by_dow_ctx, {
  type: 'bar',
  data: findings_by_dow_data,
    options: {
      legend: {
            position: 'bottom',
        },

    }
});
</script>
{# findings_by_test_type  #}
<script>
const findings_by_test_type_data = {
  labels: [],
  datasets: [
      {% for i in details_map['test_types'] %}
        {
            label: '{{ i }}',
            data: [{{ details_map['test_types'][i] }}],
            backgroundColor: 'dark blue',
            hoverOffset: 4
        },
      {% endfor %}
 ]

};

// get chart canvas
var findings_by_test_type_ctx = document.getElementById("findings_by_test_type_Chart").getContext("2d");
var findings_by_test_typeChart = new Chart(findings_by_test_type_ctx, {
  type: 'bar',
  data: findings_by_test_type_data,
    options: {
      legend: {
            position: 'bottom',
        },

    }
});
</script>
{# open_cwe_vulns  #}
<script>
const open_cwe_vulns_data = {
  labels: [],
  datasets: [
      {% for i in details_map['cwe_types_open'] %}
        {
            label: '{{ i }}',
            data: [{{ details_map['cwe_types_open'][i] }}],
            backgroundColor: 'dark blue',
            hoverOffset: 4
        },
      {% endfor %}
 ]

};

// get chart canvas
var open_cwe_vulns_ctx = document.getElementById("open_cwe_vulns_Chart").getContext("2d");
var open_cwe_vulnsChart = new Chart(open_cwe_vulns_ctx, {
  type: 'bar',
  data: open_cwe_vulns_data,
    options: {
      legend: {
            position: 'bottom',
        },

    }
});
</script>
{# total_cwe_vulns  #}
<script>
const total_cwe_vulns_data = {
  labels: [],
  datasets: [
      {% for i in details_map['cwe_types_total'] %}
        {
            label: '{{ i }}',
            data: [{{ details_map['cwe_types_total'][i] }}],
            backgroundColor: 'dark blue',
            hoverOffset: 4
        },
      {% endfor %}
 ]

};

// get chart canvas
var total_cwe_vulns_ctx = document.getElementById("total_cwe_vulns_Chart").getContext("2d");
var total_cwe_vulnsChart = new Chart(total_cwe_vulns_ctx, {
  type: 'bar',
  data: total_cwe_vulns_data,
    options: {
      legend: {
            position: 'bottom',
        },

    }
});
</script>
{% endblock %}