{% extends 'base_auth.html' %}

{% block app_content %}

    <div class="container-fluid">
        <!-- start of tabs -->


        <div class="row">
            <div class="col-md-12 active">
                <h3 class="no-margin-top" style="padding-bottom: 5px;">
                    GitLab pipeline demo


                    <sup>
                        <div class="tag-label A">A</div>
                    </sup>


                </h3>
                <ul class="nav nav-tabs horizontal-bar in">
                    <li role="presentation">
                        <a href="/product/4">
                            <span class="fa fa-globe" aria-hidden="true"></span>
                            <span class="hidden-xs">Overview</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="/product/4/components">
                            <span class="fa fa-th-large" aria-hidden="true"></span>
                            <span class="hidden-xs">Components</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="/product/4/metrics">
                            <span class="fa fa-bar-chart" aria-hidden="true"></span>
                            <span class="hidden-xs">Metrics</span>
                        </a>
                    </li>
                    <!-- Engagements Tab -->
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle active" data-toggle="dropdown" href="">
                            <span class="fa fa-calendar" aria-hidden="true"></span>
                            <span class="hidden-xs">Engagements

                                                        <span class="badge">2</span>

                                                </span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/product/4/engagements">
                                    <div class="fa fa-calendar"></div>
                                    View Engagements
                                </a>
                            </li>

                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/product/4/new_engagement">
                                    <div class="fa fa-plus"></div>
                                    Add New Interactive Engagement
                                </a>
                            </li>
                            <li>
                                <a href="/product/4/new_engagement/cicd">
                                    <div class="fa fa-plus"></div>
                                    Add New CI/CD Engagement
                                </a>
                            </li>

                        </ul>
                    </li>
                    <!-- Findings Tab -->
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle active" data-toggle="dropdown" href="">
                            <span class="fa fa-bug" aria-hidden="true"></span>
                            <span class="hidden-xs">
                                                    Findings

                                                        <span class="badge">395</span>

                                                </span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/product/4/finding/open">
                                    <div class="fa fa-list-alt"></div>
                                    View Active Findings
                                </a>
                            </li>
                            <li>
                                <a href="/product/4/finding/open?verified=true">
                                    <div class="fa fa-list-alt"></div>
                                    View Active Verified Findings
                                </a>
                            </li>
                            <li>
                                <a href="/product/4/finding/open?severity=Critical">
                                    <div class="fa fa-exclamation-triangle"></div>
                                    View Critical Findings
                                </a>
                            </li>
                            <li>
                                <a href="/product/4/finding/open?date=2">
                                    <div class="fa fa-calendar"></div>
                                    View Findings from Last 7 Days
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/product/4/finding/accepted">
                                    <div class="fa fa-check"></div>
                                    View Risk Accepted Findings
                                </a>
                            </li>
                            <li>
                                <a href="/product/4/finding/all">
                                    <div class="fa fa-search"></div>
                                    View All Findings
                                </a>
                            </li>
                            <li>
                                <a href="/product/4/finding/closed">
                                    <div class="fa fa-fire-extinguisher"></div>
                                    &nbsp;&nbsp;View Closed Findings
                                </a>
                            </li>

                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/product/4/ad_hoc_finding">
                                    <div class="fa fa-plus"></div>
                                    Add New Finding
                                </a>
                            </li>


                            <li>
                                <a href="/product/4/import_scan_results">
                                    <div class="fa fa-upload"></div>
                                    Import Scan Results
                                </a>
                            </li>

                        </ul>
                    </li>
                    <!-- Endpoints Tab -->
                    <li role="presentation" class="dropdown active active-color">
                        <a class="dropdown-toggle active" data-toggle="dropdown" href="">
                            <span class="fa fa-sitemap" aria-hidden="true"></span>
                            <span class="hidden-xs">
                                                    Endpoints

                                                        <span class="badge">2 / 68</span>

                                                </span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/endpoint?product=4">
                                    <div class="fa fa-list-alt"></div>
                                    View Endpoints
                                </a>
                            </li>
                            <li>
                                <a href="/endpoint/host?product=4">
                                    <div class="fa fa-list-alt"></div>
                                    View Hosts
                                </a>
                            </li>
                            <li>
                                <a href="/endpoint/vulnerable?product=4">
                                    <div class="fa fa-sitemap"></div>
                                    View Vulnerable Endpoints
                                </a>
                            </li>
                            <li>
                                <a href="/endpoint/host/vulnerable?product=4">
                                    <div class="fa fa-sitemap"></div>
                                    View Vulnerable Hosts
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/product/4/endpoint/report">
                                    <div class="fa fa-file-text-o"></div>
                                    Endpoint Report
                                </a>
                            </li>

                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/endpoints/4/add">
                                    <div class="fa fa-plus"></div>
                                    Add New Endpoint
                                </a>
                            </li>


                            <li>
                                <a href="/endpoint/4/import_endpoint_meta">
                                    <div class="fa fa-upload"></div>
                                    Import Endpoint Meta
                                </a>
                            </li>

                        </ul>
                    </li>
                    <!-- Benchmarks Tab -->


                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle active" data-toggle="dropdown" href="">
                            <span class="fa fa-balance-scale" aria-hidden="true"></span>
                            <span class="hidden-xs">Benchmarks</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">

                            <a title="OWASP ASVS" href="/benchmark/4/type/1">
                            </a>
                            <li><a title="OWASP ASVS" href="/benchmark/4/type/1">
                                <span class="fa fa-list"></span>
                                OWASP ASVS v. 3.1
                            </a>
                                <!-- the order is swithced here for some reason, but it looks bad the "correct" way -->
                            </li>

                        </ul>
                    </li>


                    <!-- Product Settings Tab -->

                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle active" data-toggle="dropdown" href="">
                            <span class="fa fa-cogs" aria-hidden="true"></span>
                            <span class="hidden-xs">Settings</span>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li role="presentation">
                                <a class="" href="/product/4/edit">
                                    <div class="fa fa-pencil-square-o"></div>
                                    Edit
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li role="presentation">
                                <a class="" href="/product/4/add_meta_data">
                                    <div class="fa fa-plus"></div>
                                    Add Custom Fields
                                </a>
                            </li>
                            <li role="presentation">
                                <a title="Edit Custom Fields" href="/product/4/edit_meta_data">
                                    <div class="fa fa-pencil-square-o"></div>
                                    Edit Custom Fields
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li role="presentation">
                                <a class="" href="/product/4/add_api_scan_configuration">
                                    <div class="fa fa-plus"></div>
                                    Add API Scan Configuration
                                </a>
                            </li>
                            <li role="presentation">
                                <a title="View API Scan Configurations" href="/product/4/view_api_scan_configurations">
                                    <div class="fa fa-list-alt"></div>
                                    View API Scan Configurations
                                </a>
                            </li>

                            <li role="separator" class="divider"></li>
                            <li role="presentation">
                                <a class="" href="/product/4/object/add">
                                    <div class="fa fa-plus"></div>
                                    Add Product Tracking Files
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="/product/4/object/view">
                                    <div class="fa fa-list-alt"></div>
                                    View Product Tracking Files
                                </a>
                            </li>


                            <li role="separator" class="divider"></li>
                            <li role="presentation">
                                <a href="/product/4/cred/add">
                                    <div class="fa fa-plus"></div>
                                    Add Credentials
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="/product/4/cred/all">
                                    <div class="fa fa-list-alt"></div>
                                    View Credentials
                                </a>
                            </li>

                            <li role="separator" class="divider"></li>
                            <li role="presentation">
                                <a href="/product/4/tool_product/add">
                                    <div class="fa fa-plus"></div>
                                    Add Tools
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="/product/4/tool_product/all">
                                    <div class="fa fa-list-alt"></div>
                                    View Tools
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li role="presentation">
                                <a href="/product/4/engagement_presets/add">
                                    <div class="fa fa-plus"></div>
                                    Add Engagement Presets
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="/product/4/engagement_presets">
                                    <div class="fa fa-list-alt"></div>
                                    View Engagement Presets
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li role="presentation">
                                <a href="/history/23/4">
                                    <div class="fa fa-history"></div>
                                    View History
                                </a>
                            </li>


                            <li role="separator" class="divider"></li>
                            <li role="presentation">
                                <a class="text-danger" href="/product/4/delete">
                                    <div class="fa fa-trash"></div>
                                    Delete
                                </a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </div>
        </div>


        <!-- end of tabs -->
        <div class="row">
            <div class="col-lg-12">

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div id="base-content" class="col-lg-12">


                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li><a data-toggle="tooltip" data-placement="top" title="Endpoints" href="/endpoint?product=4">Endpoints</a>
                        </li>


                        <li><a data-toggle="tooltip" data-placement="top" title="Test" href="/endpoint/host/{{ details.details.ID }}">{{ details.details.Hostname }}</a>
                        </li>


                        <li class="breadcrumb-item active" aria-current="page">Host</li>

                    </ol>
                </nav>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="clearfix">
                            <h4 class="pull-left finding-title">

                                Host: {{ details.details.Hostname }} -
                                1 / 3 mitigated endpoints

                            </h4>


                            <div class="dropdown pull-right">
                                <div class="btn-group">
                                    <button class="btn btn-primary clickable panel-collapsed">
                                        <span><div class="fa fa-bar-chart"></div></span>
                                    </button>
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1"
                                            data-toggle="dropdown" aria-expanded="true">
                                        <span class="fa fa-bars"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu"
                                        aria-labelledby="dropdownMenu1">

                                        <li role="presentation">
                                            <a href="/endpoint/host/{{ details.details.ID }}/report?&amp;active=1">
                                                <div class="fa fa-file-text-o"></div> Report
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body product-graphs" style="display: none;">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="fa fa-calendar fa-2x"></div>

                                            <div class="pull-right inline-block text-right">
                                                <span class=" fa-2x">&nbsp;</span>
                                                <span>
                                        Finding Age (12 verified
                                        findings)
                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div id="finding_age" class="graph" style="padding: 0px; position: relative;">
                                        <canvas class="flot-base"
                                                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 396px; height: 158px;"
                                                width="396" height="158"></canvas>
                                        <div class="flot-text"
                                             style="position: absolute; inset: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                                            <div class="flot-x-axis flot-x1-axis xAxis x1Axis"
                                                 style="position: absolute; inset: 0px;">
                                                <div style="position: absolute; max-width: 396px; top: 118px; left: 208px; text-align: center;"
                                                     class="flot-tick-label tickLabel">0
                                                </div>
                                            </div>
                                            <div class="flot-y-axis flot-y1-axis yAxis y1Axis"
                                                 style="position: absolute; inset: 0px;">
                                                <div style="position: absolute; top: 105px; left: 23px; text-align: right;"
                                                     class="flot-tick-label tickLabel">0
                                                </div>
                                                <div style="position: absolute; top: 70px; left: 23px; text-align: right;"
                                                     class="flot-tick-label tickLabel">5
                                                </div>
                                                <div style="position: absolute; top: 35px; left: 16px; text-align: right;"
                                                     class="flot-tick-label tickLabel">10
                                                </div>
                                                <div style="position: absolute; top: 1px; left: 16px; text-align: right;"
                                                     class="flot-tick-label tickLabel">15
                                                </div>
                                            </div>
                                        </div>
                                        <canvas class="flot-overlay"
                                                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 396px; height: 158px;"
                                                width="396" height="158"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="fa fa-bug fa-2x"></div>

                                            <div class="pull-right inline-block text-right">
                                                <span class=" fa-2x">12</span>
                                                <span>

                                        <a href="/endpoint/host/85/report">

                                            endpoint findings <div class="fa fa-arrow-circle-right"></div></a>
                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div id="open_findings" class="graph" style="padding: 0px; position: relative;">
                                        <canvas class="flot-base"
                                                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 396px; height: 158px;"
                                                width="396" height="158"></canvas>
                                        <div class="flot-text"
                                             style="position: absolute; inset: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                                            <div class="flot-x-axis flot-x1-axis xAxis x1Axis"
                                                 style="position: absolute; inset: 0px;">
                                                <div style="position: absolute; max-width: 79px; top: 140px; left: 35px; text-align: center;"
                                                     class="flot-tick-label tickLabel">Critical
                                                </div>
                                                <div style="position: absolute; max-width: 79px; top: 140px; left: 113px; text-align: center;"
                                                     class="flot-tick-label tickLabel">High
                                                </div>
                                                <div style="position: absolute; max-width: 79px; top: 140px; left: 176px; text-align: center;"
                                                     class="flot-tick-label tickLabel">Medium
                                                </div>
                                                <div style="position: absolute; max-width: 79px; top: 140px; left: 258px; text-align: center;"
                                                     class="flot-tick-label tickLabel">Low
                                                </div>
                                                <div style="position: absolute; max-width: 79px; top: 140px; left: 332px; text-align: center;"
                                                     class="flot-tick-label tickLabel">Info
                                                </div>
                                            </div>
                                            <div class="flot-y-axis flot-y1-axis yAxis y1Axis"
                                                 style="position: absolute; inset: 0px;">
                                                <div style="position: absolute; top: 127px; left: 8px; text-align: right;"
                                                     class="flot-tick-label tickLabel">0
                                                </div>
                                                <div style="position: absolute; top: 101px; left: 8px; text-align: right;"
                                                     class="flot-tick-label tickLabel">2
                                                </div>
                                                <div style="position: absolute; top: 76px; left: 8px; text-align: right;"
                                                     class="flot-tick-label tickLabel">4
                                                </div>
                                                <div style="position: absolute; top: 51px; left: 8px; text-align: right;"
                                                     class="flot-tick-label tickLabel">6
                                                </div>
                                                <div style="position: absolute; top: 26px; left: 8px; text-align: right;"
                                                     class="flot-tick-label tickLabel">8
                                                </div>
                                                <div style="position: absolute; top: 1px; left: 1px; text-align: right;"
                                                     class="flot-tick-label tickLabel">10
                                                </div>
                                            </div>
                                        </div>
                                        <canvas class="flot-overlay"
                                                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 396px; height: 158px;"
                                                width="396" height="158"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="fa fa-bug fa-2x"></div>

                                            <div class="pull-right inline-block text-right">
                                                <span>Opened findings count by month</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div id="opened_per_month_2" class="graph"
                                         style="padding: 0px; position: relative;">
                                        <canvas class="flot-base"
                                                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 856px; height: 158px;"
                                                width="856" height="158"></canvas>
                                        <div class="flot-text"
                                             style="position: absolute; inset: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                                            <div class="flot-x-axis flot-x1-axis xAxis x1Axis"
                                                 style="position: absolute; inset: 0px;">
                                                <div style="position: absolute; max-width: 171px; top: 140px; left: 8px; text-align: center;"
                                                     class="flot-tick-label tickLabel">11-01-2022
                                                </div>
                                                <div style="position: absolute; max-width: 171px; top: 140px; left: 379px; text-align: center;"
                                                     class="flot-tick-label tickLabel">11-15-2022
                                                </div>
                                            </div>
                                            <div class="flot-y-axis flot-y1-axis yAxis y1Axis"
                                                 style="position: absolute; inset: 0px;">
                                                <div style="position: absolute; top: 127px; left: 1px; text-align: right;"
                                                     class="flot-tick-label tickLabel">0
                                                </div>
                                                <div style="position: absolute; top: 101px; left: 1px; text-align: right;"
                                                     class="flot-tick-label tickLabel">1
                                                </div>
                                                <div style="position: absolute; top: 76px; left: 1px; text-align: right;"
                                                     class="flot-tick-label tickLabel">2
                                                </div>
                                                <div style="position: absolute; top: 51px; left: 1px; text-align: right;"
                                                     class="flot-tick-label tickLabel">3
                                                </div>
                                                <div style="position: absolute; top: 26px; left: 1px; text-align: right;"
                                                     class="flot-tick-label tickLabel">4
                                                </div>
                                                <div style="position: absolute; top: 1px; left: 1px; text-align: right;"
                                                     class="flot-tick-label tickLabel">5
                                                </div>
                                            </div>
                                        </div>
                                        <canvas class="flot-overlay"
                                                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 856px; height: 158px;"
                                                width="856" height="158"></canvas>
                                        <div class="legend">
                                            <div style="position: absolute; width: 58px; height: 66.6667px; top: 14px; right: 37px; background-color: rgb(255, 255, 255); opacity: 0.85;"></div>
                                            <table style="position:absolute;top:14px;right:37px;;font-size:smaller;color:#545454" aria-describedby="Component Table">
                                                <tbody>
                                                <th style="display: none;"></th>
                                                <tr>
                                                    <td class="legendColorBox">
                                                        <div style="border:1px solid #ccc;padding:1px">
                                                            <div style="width:4px;height:0;border:5px solid #d9534f;overflow:hidden"></div>
                                                        </div>
                                                    </td>
                                                    <td class="legendLabel"> Critical</td>
                                                </tr>
                                                <tr>
                                                    <td class="legendColorBox">
                                                        <div style="border:1px solid #ccc;padding:1px">
                                                            <div style="width:4px;height:0;border:5px solid #f0ad4e;overflow:hidden"></div>
                                                        </div>
                                                    </td>
                                                    <td class="legendLabel"> High</td>
                                                </tr>
                                                <tr>
                                                    <td class="legendColorBox">
                                                        <div style="border:1px solid #ccc;padding:1px">
                                                            <div style="width:4px;height:0;border:5px solid #f0de28;overflow:hidden"></div>
                                                        </div>
                                                    </td>
                                                    <td class="legendLabel"> Medium</td>
                                                </tr>
                                                <tr>
                                                    <td class="legendColorBox">
                                                        <div style="border:1px solid #ccc;padding:1px">
                                                            <div style="width:4px;height:0;border:5px solid #337ab7;overflow:hidden"></div>
                                                        </div>
                                                    </td>
                                                    <td class="legendLabel"> Low</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                    </div>
                </div>

                <div class="panel panel-default table-responsive">

                    <div class="panel-heading"><h4>Endpoints</h4></div>


                    <table class="table-striped table table table-condensed table-hover finding-endpoints" aria-describedby="Component Table">

                        <tbody>
                        <th style="display: none;"></th>
                        <tr>

                            {% for i in details.endpoints %}
                            <td>
                                <a data-toggle="tooltip" data-placement="top"
                                   data-original-title="{{ i.Endpoint }}" href="/endpoint/{{ i.ID }}">

                                    <span style="color:OrangeRed" class="fa fa-thumbs-down"></span>

                                    &nbsp;{{ i.Endpoint }}</a>

                            </td>
                            {% endfor %}


                        </tr>

                        </tbody>
                    </table>


                </div>


                <div class="panel panel-default table-responsive">
                    <div class="panel-heading">
                        <h4>Active Verified Findings</h4>
                    </div>

                    <div class="clearfix pagination-in-panel">


                        <div class="pull-left pagination  pagination-sm">
                            Showing entries 1 to {{ details.vulns_all|length }} of {{ details.vulns_all|length }}
                        </div>

                        <nav class="pull-right" aria-label="Pagination">
                            <ul class="pagination pagination-sm">


                                <li>
                                    <!-- Split button -->
                                    &nbsp;
                                    <div class="btn-group">
                                        <button type="button" class="btn-sm btn-secondary dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Page Size
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="?page_size=25">25</a></li>
                                            <li><a href="?page_size=50">50</a></li>
                                            <li><a href="?page_size=75">75</a></li>
                                            <li><a href="?page_size=100">100</a></li>
                                            <li><a href="?page_size=150">150</a></li>

                                            <li><a href="?page_size=7">All</a></li>
                                        </ul>
                                    </div>
                                </li>

                            </ul>
                        </nav>


                    </div>
                    <div class="table-responsive panel panel-default">
                        <table id="findings" class="tablesorter-bootstrap table table-striped" aria-describedby="Component Table">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th class="text-center">Severity</th>
                                <th class="text-center">Date</th>
                                <th class="text-center">Age</th>
                                <th>Found by</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for i in details.vulns_all %}
                            <tr>
                                <td>
                                    <a href="/finding/{{ i.VulnerabilityID }}">{{ i.VulnerabilityName }}</a>
                                </td>
                                <td class="text-center">
                            <span class="label severity severity-Medium">
                            {{ i.Severity }}
                            </span>
                                </td>
                                <td class="text-center">
                                    {{ i.ReleaseDate }}
                                </td>
                                <td class="text-center">
                                    0
                                </td>
                                <td>

                                    {{ i.Source }} ({{ i.Classification }})

                                </td>
                            </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                    <div class="clearfix pagination-in-panel">


                        <div class="pull-left pagination  pagination-sm">
                            Showing entries 1 to {{ details.vulns_all|length }} of {{ details.vulns_all|length }}
                        </div>

                        <nav class="pull-right" aria-label="Pagination">
                            <ul class="pagination pagination-sm">


                                <li>
                                    <!-- Split button -->
                                    &nbsp;
                                    <div class="btn-group">
                                        <button type="button" class="btn-sm btn-secondary dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Page Size
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="?page_size=25">25</a></li>
                                            <li><a href="?page_size=50">50</a></li>
                                            <li><a href="?page_size=75">75</a></li>
                                            <li><a href="?page_size=100">100</a></li>
                                            <li><a href="?page_size=150">150</a></li>

                                            <li><a href="?page_size=7">All</a></li>
                                        </ul>
                                    </div>
                                </li>

                            </ul>
                        </nav>


                    </div>

                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>

{% endblock %}



