{% extends 'base_auth.html' %}

{% block app_content %}

    <div class="container-fluid">
        <!-- start of tabs -->
        <div class="row">
            <div class="col-md-12 active">
                <h3 class="no-margin-top" style="padding-bottom: 5px;color: floralwhite;">{{ app_data.ApplicationName }}

                </h3>
                {% include "application_horizontal_bar.html" %}
            </div>
        </div>


        <!-- end of tabs -->
        <div class="row">
            <div class="col-lg-12">

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="scorecard_top">
            <div style="display: inline-block;">
                <div class="scorecard_top_item" style="padding-bottom: 0.5em;font-size: 16px;">Branch: <strong>{{ entities.GitBranch }}</strong></div>
                <div class="scorecard_top_item" style="padding-bottom: 0.5em;font-size: 16px;">Start Time: <strong>{{ entities.StartDate }}</strong></div>
                <div class="scorecard_top_item" style="padding-bottom: 0.5em;font-size: 16px;">Project: <strong>{{ entities.Project }}</strong></div>
                <div class="scorecard_top_item" style="padding-bottom: 0.5em;font-size: 16px;">Build Number: <strong>{{ entities.BuildNum }}</strong></div>
                <div class="scorecard_top_item" style="padding-bottom: 0.5em;font-size: 16px;">Outcome: <strong>{{ scorecard_results['OVERALL'] }}</strong></div>
            </div>

        </div>
        <div class="scorecard_row_1">
            <div class="scorecard_item">
                <div class="scorecard_item_grid">
                    <div class="scorecard_item_section header">Secret Scanning Stage</div>
                    <div class="scorecard_item_section subsection">
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Low</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshSecretsLow|default(0) }}|{{ entities.ResultSecretsLow if entities.ResultSecretsLow is not none else 0 }}
                        </div>
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Med</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshSecretsMedium|default(0) }}|{{ entities.ResultSecretsMedium if entities.ResultSecretsMedium is not none else 0 }}
                        </div>
                    </div>
                    <div class="scorecard_item_section subsection">
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">High</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshSecretsHigh|default(0) }}|{{ entities.ResultSecretsHigh if entities.ResultSecretsHigh is not none else 0 }}
                        </div>
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Crit</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshSecretsCritical|default(0) }}|{{ entities.ResultSecretsCritical if entities.ResultSecretsCritical is not none else 0 }}
                        </div>
                    </div>
                    <div class="scorecard_item_section footer" style="background-color: {% if scorecard_results['secrets'] == 'Pass' %}green{% else %}red{% endif %};">{{ scorecard_results['secrets'] }}</div>
                </div>
            </div>
            <div class="scorecard_item">
                <div class="scorecard_item_grid">
                    <div class="scorecard_item_section header">Software Composition Analysis Stage</div>
                    <div class="scorecard_item_section subsection">
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Low</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshScaLow|default(0) }}|{{ entities.ResultScaLow if entities.ResultScaLow is not none else 0 }}
                        </div>
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Med</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshScaMedium|default(0) }}|{{ entities.ResultScaMedium if entities.ResultScaMedium is not none else 0 }}
                        </div>
                    </div>
                    <div class="scorecard_item_section subsection">
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">High</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshScaHigh|default(0) }}|{{ entities.ResultScaHigh if entities.ResultScaHigh is not none else 0 }}
                        </div>
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Crit</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshScaCritical|default(0) }}|{{ entities.ResultScaCritical if entities.ResultScaCritical is not none else 0 }}
                        </div>
                    </div>
                    <div class="scorecard_item_section footer" style="background-color: {% if scorecard_results['sca'] == 'Pass' %}green{% else %}red{% endif %};">{{ scorecard_results['sca'] }}</div>
                </div>
            </div>
            <div class="scorecard_item">
                <div class="scorecard_item_grid">
                    <div class="scorecard_item_section header">*Infrastructure-as-Code Scanning Stage</div>
                    <div class="scorecard_item_section subsection">
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Low</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshIacLow|default(0) }}|{{ entities.ResultIacLow if entities.ResultIacLow is not none else 0 }}
                        </div>
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Med</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshIacMedium|default(0) }}|{{ entities.ResultIacMedium if entities.ResultIacMedium is not none else 0 }}
                        </div>
                    </div>
                    <div class="scorecard_item_section subsection">
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">High</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshIacHigh|default(0) }}|{{ entities.ResultIacHigh if entities.ResultIacHigh is not none else 0 }}
                        </div>
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Crit</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshIacCritical|default(0) }}|{{ entities.ResultIacCritical if entities.ResultIacCritical is not none else 0 }}
                        </div>
                    </div>
                    <div class="scorecard_item_section footer" style="background-color: {% if scorecard_results['iac'] == 'Pass' %}green{% else %}red{% endif %};">{{ scorecard_results['iac'] }}</div>
                </div>
            </div>
            <div class="scorecard_item">
                <div class="scorecard_item_grid">
                    <div class="scorecard_item_section header">Static Application Security Testing (SAST) Stage</div>
                    <div class="scorecard_item_section subsection">
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Low</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshSastLow|default(0) }}|{{ entities.ResultSastLow if entities.ResultSastLow is not none else 0 }}
                        </div>
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Med</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshSastMedium|default(0) }}|{{ entities.ResultSastMedium if entities.ResultSastMedium is not none else 0 }}
                        </div>
                    </div>
                    <div class="scorecard_item_section subsection">
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">High</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshSastHigh|default(0) }}|{{ entities.ResultSastHigh if entities.ResultSastHigh is not none else 0 }}
                        </div>
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Crit</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshSastCritical|default(0) }}|{{ entities.ResultSastCritical if entities.ResultSastCritical is not none else 0 }}
                        </div>
                    </div>
                    <div class="scorecard_item_section footer" style="background-color: {% if scorecard_results['sast'] == 'Pass' %}green{% else %}red{% endif %};">{{ scorecard_results['sast'] }}</div>
                </div>
            </div>
            <div class="scorecard_item">
                <div class="scorecard_item_grid">
                    <div class="scorecard_item_section header">*Container Scanning Stage</div>
                    <div class="scorecard_item_section subsection">
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Low</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshContainerLow|default(0) }}|{{ entities.ResultContainerLow if entities.ResultContainerLow is not none else 0 }}
                        </div>
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Med</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshContainerMedium|default(0) }}|{{ entities.ResultContainerMedium if entities.ResultContainerMedium is not none else 0 }}
                        </div>
                    </div>
                    <div class="scorecard_item_section subsection">
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">High</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshContainerHigh|default(0) }}|{{ entities.ResultContainerHigh if entities.ResultContainerHigh is not none else 0 }}
                        </div>
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Crit</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshContainerCritical|default(0) }}|{{ entities.ResultContainerCritical if entities.ResultContainerCritical is not none else 0 }}
                        </div>
                    </div>
                    <div class="scorecard_item_section footer" style="background-color: {% if scorecard_results['container'] == 'Pass' %}green{% else %}red{% endif %};">{{ scorecard_results['container'] }}</div>
                </div>
            </div>
            <div class="scorecard_item">
                <div class="scorecard_item_grid">
                    <div class="scorecard_item_section header">*Infrastructure Security Scanning Stage</div>
                    <div class="scorecard_item_section subsection">
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Low</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshInfrastructureLow|default(0) }}|{{ entities.ResultInfrastructureLow if entities.ResultInfrastructureLow is not none else 0 }}
                        </div>
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Med</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshInfrastructureMedium|default(0) }}|{{ entities.ResultInfrastructureMedium if entities.ResultInfrastructureMedium is not none else 0 }}
                        </div>
                    </div>
                    <div class="scorecard_item_section subsection">
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">High</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshInfrastructureHigh|default(0) }}|{{ entities.ResultInfrastructureHigh if entities.ResultInfrastructureHigh is not none else 0 }}
                        </div>
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Crit</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshInfrastructureCritical|default(0) }}|{{ entities.ResultInfrastructureCritical if entities.ResultInfrastructureCritical is not none else 0 }}
                        </div>
                    </div>
                    <div class="scorecard_item_section footer" style="background-color: {% if scorecard_results['infrastructure'] == 'Pass' %}green{% else %}red{% endif %};">{{ scorecard_results['infrastructure'] }}</div>
                </div>
            </div>
            <div class="scorecard_item">
                <div class="scorecard_item_grid">
                    <div class="scorecard_item_section header">Dynamic Application Security Testing (DAST) Stage</div>
                    <div class="scorecard_item_section subsection">
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Low</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshDastLow|default(0) }}|{{ entities.ResultDastLow if entities.ResultDastLow is not none else 0 }}
                        </div>
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Med</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshDastMedium|default(0) }}|{{ entities.ResultDastMedium if entities.ResultDastMedium is not none else 0 }}
                        </div>
                    </div>
                    <div class="scorecard_item_section subsection">
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">High</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshDastHigh|default(0) }}|{{ entities.ResultDastHigh if entities.ResultDastHigh is not none else 0 }}
                        </div>
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Crit</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshDastCritical|default(0) }}|{{ entities.ResultDastCritical if entities.ResultDastCritical is not none else 0 }}
                        </div>
                    </div>
                    <div class="scorecard_item_section footer" style="background-color: {% if scorecard_results['dast'] == 'Pass' %}green{% else %}red{% endif %};">{{ scorecard_results['dast'] }}</div>
                </div>
            </div>
            <div class="scorecard_item">
                <div class="scorecard_item_grid">
                    <div class="scorecard_item_section header">*Dynamic Api Security Testing (DASTAPI) Stage</div>
                    <div class="scorecard_item_section subsection">
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Low</div>
                            <span style="font-size: x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshDastApiLow|default(0) }}|{{ entities.ResultDastApiLow if entities.ResultDastApiLow is not none else 0 }}
                        </div>
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Med</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshDastApiMedium|default(0) }}|{{ entities.ResultDastApiMedium if entities.ResultDastApiMedium is not none else 0 }}
                        </div>
                    </div>
                    <div class="scorecard_item_section subsection">
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">High</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshDastApiHigh|default(0) }}|{{ entities.ResultDastApiHigh if entities.ResultDastApiHigh is not none else 0 }}
                        </div>
                        <div class="scorecard_item_subsection_child">
                            <div class="scorecard_cell_hdr">Crit</div>
                            <span style="font-size:x-small">(Limit|Actual)</span>
                            <br>{{ entities.ThreshDastApiCritical|default(0) }}|{{ entities.ResultDastApiCritical if entities.ResultDastApiCritical is not none else 0 }}
                        </div>
                    </div>
                    <div class="scorecard_item_section footer" style="background-color: {% if scorecard_results['dastapi'] == 'Pass' %}green{% else %}red{% endif %};">{{ scorecard_results['dastapi'] }}</div>
                </div>
            </div>
        </div>
        <div class="scorecard_row_2">*These stages are optional depending on the structure of the application.</div>

    </div>


<script>

</script>

{% endblock %}