{% extends 'base_auth.html' %}
 
{% block app_content %}
  {{ super() }}


    <div id="asset_table" class="col_12">

      <div class="table_top_row">
        <div class="table_top_col">
          <div class="table_card">
            <div class="table_card_header">
              <div class="table_card_settings">
                <div id="active_searches"></div>
                <div id="clr_search"></div>
                <div class="search"  onclick="showModal('search_modal')">
                  <div class="fa fa-search"></div>
                  <input id="search_input" placeholder="Search" aria-label="Search" value=""/>
                </div>
                {% if 'bulkadd' in cls['modules'] %}
                <span class="su_tooltip_menu">
                  <div id="table_add_btn" class="fas fa-file-upload" onclick="showModal('bulkadd_modal')"></div>
                  <span class="su_tooltiptext">Add in Bulk</span>
                </span>
                {% endif %}
                {% if 'add' in cls['modules'] %}
                <span class="su_tooltip_menu">
                  <div id="table_add_btn" class="fas fa-plus-square" onclick="showModal('add_modal')"></div>
                  <span class="su_tooltiptext">Add New</span>
                </span>
                {% endif %}
                {% if 'add_web_console' in cls['modules'] %}
                <span class="su_tooltip_menu">
                  <div id="table_add_btn" class="fas fa-plus-square" onclick="showModal('add_modal_web_console')"></div>
                  <span class="su_tooltiptext">Add New</span>
                </span>
                {% endif %}
                {% if 'add_by_link' in cls['modules'] %}
                <span class="su_tooltip_menu">
                  <a href="{{ cls['modules']['add_by_link']['link'] }}" style="text-decoration: none;"><div id="table_add_btn" class="fas fa-plus-square" onclick="showModal('add_modal_web_console')"></div></a>
                  <span class="su_tooltiptext">Add New</span>
                </span>
                {% endif %}
                <span class="su_tooltip_menu">
                  <div id="table_settings" class="fas fa-cog" onclick="showModal('table_settings_modal')"></div>
                  <span class="su_tooltiptext">Table Settings</span>
                </span>
              </div>
              <div class="table_card_title">
                {{ cls['specs']['table_title']|upper }}

                {% if 'title_link' in cls['modules'] %}
                  <span class="su_tooltip_menu">
                    <a href="{{ cls['modules']['title_link']['href'] }}">
                      <div class="fas fa-exchange-alt"></div>
                      <span class="su_tooltiptext">
                        {{ cls['modules']['title_link']['name'] }}
                      </span>
                    </a>
                  </span>

                {% endif %}

              </div>
              <div class="table_card_body">
                <div class="table_container_class" id="table_class">
                  <table class="table_class" aria-describedby="Component Table">
                    <thead class="table_header">
                      <tr class="table_row">
                        <th class="table_header"></th>

                        {% for i in settings %}
                          <th id="th_{{i}}" onclick="sortTable(this.id, cat, docname)" class="table_header"><div id="sort_{{i}}" {% if i == cls['sort'] %}class="sort_i_down"><div class="fas fa-long-arrow-alt-down"></div>{% else %}>{% endif %}</div>{{ cls[i]['hdr'].replace('_', ' ') }}</th>
                        {% endfor %}
                      
                      </tr>
                    </thead>
                    <tbody class="table_body" id="table_data">

                      <input id="item_cnt" type="hidden" value="{{ item_tot }}" />
                      <input id="pg_cnt" type="hidden" value="{{ pg_cnt }}" />
                      <input id="cur_pg" type="hidden" value="{{ page }}" />
                      <input id="cur_per" type="hidden" value="{{ per_page }}" />
                      <input id="orderby" type="hidden" value="{{ orderby }}" />
                      <input id="act_search" type="hidden" value="" />
                      <input id="date_search" type="hidden" value="" />
                    
                      {% for i in row_list %}

                        <tr class="table_row" onmouseover="addAndRemoveClass('u_{{ i[0] }}', 'unhide_div', 'hide_div')" onmouseout="addAndRemoveClass('u_{{ i[0] }}','hide_div', 'unhide_div')">
                        
                          <td class="table_data">
                            <div class="console_bar_holder{{ cls['specs']['man_icons'] }}">
                              <div class="console_bar" id="u_{{ i[0] }}">

                              {% if 'gantt' in cls['modules'] %}
                                <div class="i_container" onclick="loadGanttPage({{ i[0] }}, '{{ cls["modules"]["gantt"]["url"] }}')">
                                  <span class="su_tooltip_menu">
                                    <div class="fas fa-columns"></div>
                                    <span class="su_tooltiptext">Gantt Chart</span>
                                  </span>
                                </div>
                              {% endif %}

                              {% if 'tasks' in cls['modules'] %}
                                <div class="i_container" onclick="loadItemContent('{{ i[0] }}', cat, docname, 'tasklist')">
                                  <span class="su_tooltip_menu">
                                    <div class="fas fa-tasks"></div>
                                    <span class="su_tooltiptext">Tasks</span>
                                  </span>
                                </div>
                              {% endif %}

                              {% if 'details' in cls['modules'] %}
                                {% if i[0]|int != 0 %}
                                <div class="i_container" onclick="loadDetailPage({{ i[0] }}, '{{ cls["modules"]["details"]["url"] }}')">
                                {% else %}
                                <div class="i_container" onclick="loadDetailPage('{{ i[0] }}', '{{ cls["modules"]["details"]["url"] }}')">
                                {% endif %}

                                  <span class="su_tooltip_menu">
                                    <div class="fas fa-clipboard-list"></div>
                                    <span class="su_tooltiptext">Details</span>
                                  </span>
                                </div>
                              {% endif %}

                              {% if 'lock' in cls['modules'] %}
                                {% if i[1] == 1 %}
                                  <div class="i_container" onclick="prelockItem(0, {{ i[0] }}, '{{ cls["modules"]["lock"]["entity"] }}')">
                                    <span class="su_tooltip_menu">
                                        <div class="fas fa-lock"></div>
                                        <span class="su_tooltiptext">Lock</span>
                                      </span>
                                  </div>
                                {% else %}
                                  <div class="i_container" onclick="prelockItem(1, {{ i[0] }}, '{{ cls["modules"]["lock"]["entity"] }}')">
                                    <span class="su_tooltip_menu">
                                        <div class="fas fa-unlock"></div>
                                        <span class="su_tooltiptext">Unlock</span>
                                      </span>
                                  </div>
                                {% endif %}
                              {% endif %}

                              {% if 'edit' in cls['modules'] and not 'no_edit' in cls %}
                                <div class="i_container" onclick="loadItemContent('{{ i[0] }}', cat, docname, 'edit')">
                                  <span class="su_tooltip_menu">
                                    <div class="fas fa-edit"></div>
                                    <span class="su_tooltiptext">Edit</span>
                                  </span>
                                </div>
                              {% endif %}
                            
                              {% if 'info' in cls['modules'] %}
                                <div class="i_container" onclick="loadItemContent('{{ i[0] }}', cat, docname, 'info')">
                                  <span class="su_tooltip_menu">
                                    <div class="info fas fa-info-circle"></div>
                                    <span class="su_tooltiptext">More Info</span>
                                  </span>
                                </div>
                              {% endif %}

                              {% if 'delete' in cls['modules'] %}
                                <div class="i_container" onclick="removeItemDb('{{ i[0] }}')">
                                    <span class="su_tooltip_menu">
                                      <div class="far fa-trash-alt"></div>
                                      <span class="su_tooltiptext">Delete</span>
                                    </span>
                                </div>
                              {% endif %}

                              {% if 'html' in cls['modules'] %}
                                <div class="i_container" onclick="generateReport('{{ i[0] }}', 'html', '{{ cls['specs']['docname'] }}', '{{ cls['specs']['cat'] }}')">
                                  <span class="su_tooltip_menu">
                                    <div class="fab fa-html5"></div>
                                    <span class="su_tooltiptext">Create HTML Report</span>
                                  </span>
                                </div>
                              {% endif %}

                              {% if 'pdf' in cls['modules'] %}
                                <div class="i_container" onclick="generateReport('{{ i[0] }}', 'pdf', '{{ cls['specs']['docname'] }}', '{{ cls['specs']['cat'] }}')">
                                  <span class="su_tooltip_menu">
                                    <div class="far fa-file-pdf"></div>
                                    <span class="su_tooltiptext">Create PDF Report</span>
                                  </span>
                                </div>
                              {% endif %}

                              {% if 'csv' in cls['modules'] %}
                                <div class="i_container" onclick="generateReport('{{ i[0] }}', 'csv', '{{ cls['specs']['docname'] }}', '{{ cls['specs']['cat'] }}')">
                                  <span class="su_tooltip_menu">
                                    <div class="fas fa-file-csv"></div>
                                    <span class="su_tooltiptext">Create CSV Report</span>
                                  </span>
                                </div>
                              {% endif %}

                              {% if 'network_map' in cls['modules'] %}
                                <div class="i_container" onclick="loadNetworkMapPage({{ i[0] }}, '{{ cls["modules"]["network_map"]["url"] }}')">
                                  <span class="su_tooltip_menu">
                                    <div class="fas fa-network-wired"></div>
                                    <span class="su_tooltiptext">Network Map</span>
                                  </span>
                                </div>
                              {% endif %}

                              {% if 'start_session' in cls['modules'] %}
                                <a href="{{ cls["modules"]["start_session"]["url"] }}/{{ i[0] }}">
                                    <div class="i_container">
                                        <span class="su_tooltip_menu">
                                            <div class="far fa-play-circle"></div>
                                            <span class="su_tooltiptext">Start</span>
                                          </span>
                                    </div>
                                </a>
                              {% endif %}

                              {% if 'start_session_dyn' in cls['modules'] %}
                                  {% if row_list and row_list[0][10] == 'Quiz' %}
                                <a href="quiz_session/{{ i[1] }}">
                                  {% else %}
                                <a href="content_session/{{ i[1] }}">
                                  {% endif %}
                                    <div class="i_container">
                                        <span class="su_tooltip_menu">
                                            <div class="far fa-play-circle"></div>
                                            <span class="su_tooltiptext">Start</span>
                                          </span>
                                    </div>
                                </a>
                              {% endif %}

                              {% if 'settings' in cls['modules'] %}
                                <a href="{{ cls["modules"]["settings"]["url"] }}_{{ i[0] }}">
                                    <div class="i_container">
                                        <span class="su_tooltip_menu">
                                          <div class="fas fa-cog"></div>
                                          <span class="su_tooltiptext">Settings</span>
                                        </span>
                                    </div>
                                </a>
                              {% endif %}

                              {% if 'settings_anchor' in cls['modules'] %}
                                <a href="{{ cls["modules"]["settings_anchor"]["url"] }}#anchor_{{ i[0] }}">
                                    <div class="i_container">
                                        <span class="su_tooltip_menu">
                                          <div class="fas fa-cog"></div>
                                          <span class="su_tooltiptext">Settings</span>
                                        </span>
                                    </div>
                                </a>
                              {% endif %}

                              {% if 'remediation' in cls['modules'] %}
                                <a href="{{ cls["modules"]["remediation"]["url"] }}_{{ i[0] }}">
                                    <div class="i_container">
                                        <span class="su_tooltip_menu">
                                            <div class="fas fa-heartbeat"></div>
                                            <span class="su_tooltiptext">Remediation Plan</span>
                                          </span>
                                    </div>
                                </a>
                              {% endif %}

                              {% if 'escalate' in cls['modules'] %}
                                <div class="i_container" onclick="secEventElevate('{{ i[0] }}')">
                                  <span class="su_tooltip_menu">
                                    <div class="fas fa-level-up-alt"></div>
                                    <span class="su_tooltiptext">Escalate to Incident</span>
                                  </span>
                                </div>
                              {% endif %}

                              {% if 'investigate' in cls['modules'] %}
                                <div class="i_container" onclick="{{ cls["modules"]["investigate"]["function"] }}('{{ i[0] }}')">
                                  <span class="su_tooltip_menu">
                                    <div class="fas fa-toolbox"></div>
                                    <span class="su_tooltiptext">Investigate {{ cls["modules"]["investigate"]["entity"] }}</span>
                                  </span>
                                </div>
                              {% endif %}

                              {% if 'remediate' in cls['modules'] %}
                                <div class="i_container" onclick="{{ cls["modules"]["remediate"]["function"] }}('{{ i[0] }}')">
                                  <span class="su_tooltip_menu">
                                    <div class="fas fa-heartbeat"></div>
                                    <span class="su_tooltiptext">Remediate {{ cls["modules"]["remediate"]["entity"] }}</span>
                                  </span>
                                </div>
                              {% endif %}

                              {% if 'sample_template' in cls['modules'] %}
                                <div class="i_container" onclick="loadSampleSelectedTemplate('{{ i[0] }}')">
                                  <span class="su_tooltip_menu">
                                    <div class="fas fa-file-invoice"></div>
                                    <span class="su_tooltiptext">Sample Template</span>
                                  </span>
                                </div>
                              {% endif %}



                              </div>
                            </div>
                          </td>
                          {% for j in settings %}
                            <td class="table_data">
                            {% if 'sql_join' in sd and j in sd['sql_join'] %}
                              {% if i[j] %}
                                <div class="fas fa-check-circle"></div>
                              {% else %}
                                  <div class="fas fa-times-circle"></div>
                              {% endif %}
                            {% elif 'boolean' in sd and j in sd['boolean'] %}
                              {% if i[j] == True %}
                                <div class="fas fa-check-circle"></div>
                              {% elif i[j] == "1" or i[j] == 1 %}
                                <div class="fas fa-check-circle"></div>
                              {% elif i[j] == "2" or i[j] == 2 %}
                                <div class="fas fa-question-circle"></div>
                              {% elif i[j] == "y" %}
                                <div class="fas fa-check-circle"></div>
                              {% else %}
                                <div class="fas fa-times-circle"></div>
                              {% endif %}
                            {% elif 'mailto' in sd and j in sd['mailto'] %}
                              <a href="mailto:{{ i[j] }}">{{ i[j] }}</a>
                            {% elif 'html' in sd and j in sd['html'] %}
                              <a href="{{ i[j] | safe }}" target="_blank" rel="noopener"><div class="fas fa-external-link-alt"></div></a>
                            {% elif 'html_link' in sd and j in sd['html_link'] %}
                              {{ i[j] | safe }}
                            {% elif 'null' in sd and j in sd['null'] %}
                              {% if i[j] != None %}
                                <div class="fas fa-check-circle"></div>
                              {% else %}
                                <div class="fas fa-times-circle"></div>
                              {% endif %}
                            {% elif 'yn' in sd and j in sd['yn'] %}
                              {% if i[j] == 'y' %}
                                <div class="fas fa-check-circle"></div>
                              {% else %}
                                <div class="fas fa-times-circle"></div>
                              {% endif %}
                            {% elif 'none_to_zero' in sd and j in sd['none_to_zero'] %}
                              {% if i[j] %}
                                {{ i[j] }}
                              {% else %}
                                0
                              {% endif %}
                            {% elif 'date' in sd and j in sd['date'] %}
                            {% else %}
                              {{ i[j] }}
                            {% endif %}
                            </td>
                          {% endfor %}
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
            <div class="table_footer">
              <div class="pagination_container">
                <div class="page_cnt">Per Page
                  <select name="per_wheel" id="per_wheel" onchange="paginateW(cat, docname)">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25" selected="">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="500">500</option>
                  </select>
                </div>
                <div class="page_cnt">Page
                  <select name="pg_wheel" id="pg_wheel" onchange="paginateW(cat, docname)">
                    {% for i in range(1, pg_cnt + 1) %}
                      <option value="{{i}}" {% if page==i %}selected{% endif %}>{{i}}</option>
                    {% endfor %}
                    
                  </select>
                </div>
                <div id="page_cnt" class="page_cnt">{% if item_tot == 0 %}0{% else %}1{% endif %}-{% if per_page > item_tot %}{{ item_tot }}{% else %}{{ per_page }}{% endif %} of {{ item_tot }}</div>
                <div class="fas fa-chevron-left" onclick="paginateL(cat, docname)"></div>
                <div class="fas fa-chevron-right" onclick="paginateR(cat, docname)"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>

  <!-- Modal Section -->

  <!-- loading_modal -->
  <div id="loading_modal" class="modal">
    {% include "loading_modal.html" %}
  </div>
  <!-- end loading_modal -->

  <!-- search modal -->
  <div id="search_modal" class="modal">
    {% include "search_modal.html" %}
  </div>
  <!-- end search modal -->

  <!-- table_settings modal -->
  <div id="table_settings_modal" class="modal">
  <!-- Modal content -->
    <div class="settings_container">
      <div class="settings_row">
        <div class="settings_col_m6_center">
          <div class="settings_card">
            <div class="settings_card_header">
              <span class="close" onclick="hideModal('table_settings_modal')"><div class="fas fa-times" style="font-size: 3rem;"></div></span>
              <h4 class="settings_card_title">Table Settings</h4>
            </div>
            <div class="settings_card_body">
              <div class="settings_form">
                <div class="settings_card_row">
                  <div class="settings_card_col_md6">
                    <div class="settings_card_form_group">
                      <label class="settings_card_form_label">Add/Remove Columns</label>
                      {% for i in range(0, cls['col_tot']) %}
                        <div class="checkbox_grp col_adj" onclick="toggleCol('col_{{i}}');">
                          <div class="checkbox_label">
                            {{ cls[i]['hdr'] }}
                          </div>
                          <div class="checkbox_box">
                            <label class="switch switch-green">
                              <input type="checkbox" class="switch-input" name="cols" value="{{i}}" id="col_{{i}}" {% if i in settings %}checked{% endif %} />
                              <span class="switch-label" data-on="On" data-off="Off"></span>
                              <span class="switch-handle"></span>
                            </label>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="settings_card_col_md6">
                    <div class="settings_card_form_group">
                      <label class="settings_card_form_label">Design Theme</label>
                      <select name="mfa" class="settings_card_form_input">
                        <option value="dark">Dark</option>
                        <option value="default">Default</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="settings_card_text_center">
                  <button class="update_button settings_update_button" onclick="UpdateSettingsDB(cat, docname);">Update Settings</button>
                </div>
                <div class="settings_card_clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end table_settings modal -->

  <!-- add modal -->
  {% if 'add' in cls['modules'] %}
    {% include "add_modal.html" %}
  {% endif %}
  <!-- end add modal -->

<!-- add modal web_console -->
  {% if 'add_web_console' in cls['modules'] %}
    {% include "add_modal_web_console.html" %}
  {% endif %}
<!-- end add modal web_console -->

  <!-- bulkadd modal -->
  {% if 'bulkadd' in cls['modules'] %}
    {% include "bulkadd_modal.html" %}
  {% endif %}
  <!-- end bulkadd modal -->

  <!-- info modal -->
  <div id="info_modal" class="modal">
  </div>
  <!-- end info modal -->

  <!-- edit modal -->
  {% if 'edit' in cls['modules'] %}
    <div id="edit_modal" class="modal">
    </div>
  {% endif %}
  <!-- end edit modal -->

  {% if 'sample_template' in cls['modules'] %}
    {% include "selected_template_modal.html" %}
  {% endif %}

  <!-- lock modal -->
  {% if 'lock' in cls['modules'] %}
    <div id="lock_modal" class="modal">
    <!-- Modal content -->
      <div class="settings_container">
        <div class="settings_row">
          <div class="settings_col_m{{ cls['modules']['lock']['size'] }}_center">
            <div class="settings_card">
              <div class="settings_card_header">
                <span class="close" onclick="hideModal('lock_modal')"><div class="fas fa-times" style="font-size: 3rem;"></div></span>
                <h4 id="lock_header" class="settings_card_title"></h4>
              </div>
              <div class="settings_card_body">
                <div class="settings_form">
                  <div class="settings_card_row">
                    <div class="settings_card_col_md12">
                      <div class="settings_card_form_group">
                        <label id="lock_warn" class="settings_card_form_label"></label>
                      </div>
                    </div>
                  </div>
                  <div class="settings_card_row">
                    <div class="settings_card_col_md8">
                      <div class="settings_card_form_group">
                        <label class="settings_card_form_label">Notification</label>
                        <div class="checkbox_grp col_adj" onclick="toggleCol('not_0');">
                          <div class="checkbox_label">
                            {{ cls['modules']['lock']['notification_title'] }}
                          </div>
                          <div class="checkbox_box">
                            <label class="switch switch-green">
                              <input type="checkbox" class="switch-input" name="notify" value="1" id="not_0" />
                              <span class="switch-label" data-on="On" data-off="Off"></span>
                              <span class="switch-handle"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="settings_card_text_center">
                    <button id="lock_btn" class="update_button settings_update_button"></button>
                  </div>
                  <div class="settings_card_clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <!-- end lock modal -->

  <!-- tasklist_modal -->
  {% if 'tasks' in cls['modules'] %}
    <div id="tasklist_modal" class="modal">
    </div>
  {% endif %}
  <!-- end tasklist_modal modal -->

  <!-- add modal -->
  {% if 'add' in cls['modules'] %}
    {% if 'value_popup' in cls['modules']['add'] %}
      {% include "value_popup_modal.html" %}
    {% endif %}
  {% endif %}
  <!-- end add modal -->

{% endblock %}

<!-- End Page Container -->

{% block scripts %}
  {{ super() }}
  <!-- page-specific scripts -->
  <script src='../static/js/bootstrap-datepicker.min.js'></script>

    <script>
    $('.input-group.date').datepicker({format: "mm.dd.yyyy"});
    </script>


{% if 'sample_template' in cls['modules'] %}
<script>
  function loadSampleSelectedTemplate(template_id) {

    var xhttp = new XMLHttpRequest();
    var csrf_token = "{{ csrf_token() }}";
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        var new_text = JSON.parse(this.responseText);
        document.getElementById('sam_temp_title').innerHTML = new_text.msg_title;
        document.getElementById('sample_temp_msg').innerHTML = new_text.msg_body;

        showModal('selected_template_modal')
      }
    };
    xhttp.open("POST", '/load_phishing_campaign_sample_template', false);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.setRequestHeader("X-CSRF-Token", csrf_token);
    xhttp.send('template_id=' + template_id);



  }
</script>
{% endif %}

{% if 'refer_func' in cls['modules'] %}
  <script>
    var referrer = document.referrer;
    console.log(referrer)
    if (referrer.includes("{{ cls['modules']['refer_func']['includes'] }}")) {
      showModal("{{ cls['modules']['refer_func']['modal'] }}");
    }
  </script>
{% endif %}

  <script>
    {% if 'gantt' in cls['modules'] %}
      var gantt_url = '{{ cls['modules']['gantt']['url'] }}';
    {% endif %}
    {% if 'delete' in cls['modules'] %}
      var removeItemDb_url = '{{ cls['modules']['delete']['url'] }}';
    {% endif %}
    var cat = '{{ cls['specs']['cat'] }}';
    var docname = '{{ cls['specs']['docname'] }}';
    var table_type = '{{ table_type }}'
    var act_id = '';
    {% if 'lock' in cls['modules'] %}
      var lock_msg = '{{ cls['modules']['lock']['warn_msg'] }}';
      var lock_msg2 = '{{ cls['modules']['lock']['warn_msg2'] }}';
    {% endif %}
    var d_src_opts_r = '{{ cls['modules']['c_search']['dyn_opts'] }}'
    var d_src_opts = d_src_opts_r.replace(/&#39;/g,'"')
  </script>

  {% if 'tasks' in cls['modules'] %}
    <script>
      var webTasks = Array.from( [{% for i in cls['modules']['tasks']['web_task_list'] %}"{{ i }}",{% endfor %}] );
      var checkedList = Array.from([]);
      var selAll = false;
      var selAllExclusions = Array.from([]);

      function containsObject(obj, list) {
        var i;
        for (i = 0; i < list.length; i++) {
          if (list[i] === obj) {
            return true;
          }
        }
        return false;
      }

      function sendTaskListWeb(target_list, target_entity, target_type) {
        window.location.href = target_list[0].replace(/ /g,"_").toLowerCase() + '_' + target_entity;
      };

      function sendTaskList(target_list, target_entity, target_type) {
        var xhttp = new XMLHttpRequest();
        var csrf_token = "{{ csrf_token() }}";
        var url = '{{ cls['modules']['tasks']['url'] }}';
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            window.location.href = '{{cls['specs']['cat']}}_joblist';
          }
        };
        xhttp.open("POST", url, false);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.setRequestHeader("X-CSRF-Token", csrf_token);
        xhttp.send("target_list=" + target_list + "&target_entity=" + target_entity + "&target_type=" + target_type);
      };

      function confTaskCompleted() {
        var targets = [];
        var elems = document.querySelectorAll('.i_container.mgmt_cb_c.conf');
        var target_entity = document.getElementById('task_entity_id').value;
        var target_type = "{{ cls['modules']['tasks']['target_type'] }}";
        for (var i=0; i < elems.length; i++) {
          if (elems[i].firstChild.checked == true) {
            targets.push( elems[i].firstChild.getAttribute("name") );
          }
        }
        if (containsObject(targets[0],webTasks)) {
          sendTaskListWeb(targets, target_entity, target_type);
        }
        else {
          sendTaskList(targets, target_entity, target_type);
        }
      };

      function addToCL(c_id) {
        if (document.getElementById(c_id).firstChild.checked == true) {
          var ent_name = document.getElementById(c_id).firstChild.getAttribute("name");
          checkedList.push({ 'id': c_id, 'name': ent_name });
          if (selAll == true) {
            for (var i = 0; i < selAllExclusions.length; i++) {
              if (selAllExclusions[i]['id'] == c_id) {
                selAllExclusions.splice(i,1);
              }
            }
          }
          else {
            document.getElementById(c_id).firstChild.checked = false;
          }
        }
        else {
          for (var i = 0; i < checkedList.length; i++) {
            if (checkedList[i]['id'] == c_id) {
              checkedList.splice(i, 1);
            }
          }
          if (selAll == true) {
            var ent_name = document.getElementById(c_id).firstChild.getAttribute("name");
            selAllExclusions.push({'id': c_id, 'name': ent_name});
          }
          else {
            document.getElementById(c_id).firstChild.checked = true;
          }
        }
      };
    </script>
  {% endif %}

{% endblock %}