{% extends 'base_auth.html' %}

{% block app_content %}

    <div class="container-fluid">
        <!-- start of tabs -->
        <div class="row">
            <div class="col-md-12 active">
                <h3 class="no-margin-top" style="padding-bottom: 5px;color: floralwhite;">{{ app_data.ApplicationName }}:{{ app_data.Component }}

                </h3>
                {% include "component_horizontal_bar.html" %}
            </div>
        </div>


        <!-- end of tabs -->
        <div class="row">
            <div class="col-lg-12">

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div id="base-content" class="col-lg-12">


                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li><a data-toggle="tooltip" data-placement="top" title="Components" href="/threat_assessment/{{ app_data.ID }}/{{ details.details.ID }}">Threat Assessments</a>
                        </li>


                        <li><a data-toggle="tooltip" data-placement="top" title="Test" href="/threat_assessment/{{ app_data.ID }}/{{ details.details.ID }}">{{ details.AddDate }}</a>
                        </li>


                        <li class="breadcrumb-item active" aria-current="page">Threat Assessment</li>

                    </ol>
                </nav>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="clearfix">
                            <h4 class="pull-left finding-title">
                                Status: {{ details.details.Status }}<br><br>
                                Add Date: {{ details.details.AddDate }}<br><br>
                                Submitted By: {{ details.details.username }}
                            </h4>


                        </div>
                    </div>

                </div>


                <div class="panel panel-default table-responsive">
                    <div class="panel-heading">
                        <h4>Identified Threats</h4>
                    </div>

                    <div class="clearfix pagination-in-panel">


                        <div class="pull-left pagination  pagination-sm" style="color:black;padding-left: 1em;">
                            Showing entries 1 to {{ details.vulns_all|length }} of {{ details.vulns_all|length }}
                        </div>


                    </div>
                    <div class="table-responsive panel panel-default">
                        <table id="findings" class="tablesorter-bootstrap table table-striped" aria-describedby="Components Table">
                            <thead>
                            <tr>
                                <th class="sorting" tabindex="0" aria-controls="components-table" rowspan="1"
                                            colspan="1" style="width: 169.417px;"
                                            aria-label="Version: activate to sort column ascending">Info
                                        </th>
                                <th>Title</th>
                                <th class="text-center">Severity</th>
                                <th class="text-center">Date</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for i in details.vulns_all %}
                            <tr>
                                <td class="text-center" onclick="showThreatDetails({{ i.ID }})"><a href="#"><div class="fas fa-info-circle"></div></a></td>
                                <td>
                                    {{ i.Description }}
                                </td>
                                <td class="text-center">
                            <span class="label severity severity-Info" style="color:black">
                            {{ i.Severity }}
                            </span>
                                </td>
                                <td class="text-center">
                                    {{ i.AddDate }}
                                </td>


                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div class="clearfix pagination-in-panel">


                        <div class="pull-left pagination  pagination-sm" style="color:black;padding-left: 1em;">
                            Showing entries 1 to {{ details.vulns_all|length }} of {{ details.vulns_all|length }}
                        </div>


                    </div>

                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>


<script>
var threats_dict = {{ details['threats_all']|safe }}
console.log(threats_dict)


function showThreatDetails(threat_id) {
    var dyn_el = document.getElementById(`threat_dyn`)
    dyn_el.innerText = threats_dict[threat_id].Description
    var dyn_b = document.getElementById(`adddate_dyn`)
    dyn_b.innerText = threats_dict[threat_id].AddDate
    var dyn_c = document.getElementById(`details_dyn`)
    dyn_c.innerText = threats_dict[threat_id].Details
    var dyn_d = document.getElementById(`loa_dyn`)
    dyn_d.innerText = threats_dict[threat_id].LikelihoodOfAttack
    var dyn_e = document.getElementById(`severity_dyn`)
    dyn_e.innerText = threats_dict[threat_id].Severity
    var dyn_f = document.getElementById(`mitigations_dyn`)
    dyn_f.innerText = threats_dict[threat_id].Mitigations
    var dyn_g = document.getElementById(`example_dyn`)
    dyn_g.innerText = threats_dict[threat_id].Example
    var dyn_h = document.getElementById(`references_dyn`)
    dyn_h.innerText = threats_dict[threat_id].rReferences
    showModal('threat_details_modal');
}

function showModal(modal_nm) {
  // Get the modal
  var modal = document.getElementById(modal_nm);
  modal.style.display = "block";
};
function hideModal(modal_nm) {
  // Get the modal
  var modal = document.getElementById(modal_nm);
  modal.style.display = "none";
};
</script>

{% include "threat_details_modal.html" %}


{% endblock %}

