{% extends 'base_auth.html' %}

{% block app_content %}

    <div class="container-fluid">
        <!-- start of tabs -->
        <div class="row">
            <div class="col-md-12 active">
                <h3 class="no-margin-top" style="padding-bottom: 5px;color: floralwhite;">{{ app_data.ApplicationName }}
                </h3>
                {% include "application_horizontal_bar.html" %}
            </div>
        </div>


        <!-- end of tabs -->
        <div class="row">
            <div class="col-lg-12">

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div id="base-content" class="col-lg-12">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="#">Settings</a></li>

                        <li class="breadcrumb-item active" aria-current="page">Tool Configurations</li>

                    </ol>
                </nav>


                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default table-responsive">
                            <div class="panel-heading">
                                <h4>Tools
                                    <a title="Add New Tool" class="pull-right btn btn-primary btn-sm"
                                       href="/tool_configurations/{{ app_data.ID }}/add"><span class="fa fa-plus"></span></a>
                                </h4>
                            </div>

                            <table class="tablesorter-bootstrap table table-condensed table-striped table-hover" aria-describedby="Component Table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>ID</th>
                                    <th>Type</th>
                                    <th>Category</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for i in entities %}
                                <tr>
                                    <td>

                                        <a href="#">{{ i.Name }}</a>

                                    </td>
                                    <td>1</td>
                                    <td>

                                        <a href="#">{{ i.AuthenticationType }}</a>

                                    </td>
                                    <td>{{ i.ToolType }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-sm btn-warning"
                                               href="/product/{{ i.ID }}/tool_product/{{ i.ID }}/edit">Edit</a>
                                            <a class="btn btn-sm btn-danger delete-finding"
                                               href="/product/{{ i.ID }}/tool_product/{{ i.ID }}/delete">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}


                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>




{% endblock %}