{% extends 'base_auth.html' %}

{% block app_content %}

    <div class="container-fluid">
        <!-- start of tabs -->
        <div class="row">
            <div class="col-md-12 active">
                <h3 class="no-margin-top" style="padding-bottom: 5px;color: floralwhite;">{{ app_data.ApplicationName }}

                </h3>
                {% include "application_horizontal_bar.html" %}
            </div>
        </div>

        <!-- end of tabs -->
        <div class="row">
            <div class="col-lg-12">

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div id="base-content" class="col-lg-12">


                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">

                        <li class="breadcrumb-item active" aria-current="page">View Service Ticket</li>

                    </ol>
                </nav>


                <div id="test">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="clearfix">
                                <h3 class="pull-left finding-title">

                                    {{ details.TicketName }}

                                </h3>

                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="notes" class="table-striped table table-condensed table-hover centered" aria-describedby="Components Table">


                                <tbody>
                                <tr>
                                    <th>ID</th>
                                    <th>Ticket Name</th>
                                    <th>Add Date</th>
                                    <th>Source</th>
                                    <th>Status</th>
                                    <th>Reporter</th>
                                    <th>Assignee</th>
                                </tr>
                                <tr>
                                    <td>{{ details.ID }}</td>
                                    <td>{{ details.TicketName }}</td>
                                    <td>{{ details.AddDate }}</td>
                                    <td class="nowrap, align-top">{{ details.Source }}</td>
                                    <td>{{ details.Status }}</td>
                                    <td>{{ details.Reporter }}</td>
                                    <td>{{ details.Assignee }}</td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>



                    <div class="view-finding">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Description <span class="pull-right"><a data-toggle="collapse" href="#vuln_desc"><div
                                        class="glyphicon glyphicon-chevron-up"></div></a></span></h4>
                            </div>
                            <div id="vuln_desc" class="panel-body finding-description collapse in">
                                <pre><p>{{ details.Description|safe }}</p></pre>
                            </div>
                        </div>



                    </div>






                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>



<script>
function AddIssueNote() {
  var note_val = document.getElementById('id_entry').value;
  var issue_id = document.getElementById('issue_id').value;
  var xhttp = new XMLHttpRequest();
  var csrf_token = "{{ csrf_token() }}";
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.location.reload(true);
    }
  };
  xhttp.open("POST", "add_issue_note", true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.setRequestHeader("X-CSRF-Token", csrf_token);
  xhttp.send("note_val=" + note_val + "&issue_id=" + issue_id);
}
</script>
<script>
function AddIssueDispo(dispo) {
  var issue_id = document.getElementById('issue_id').value;
  var xhttp = new XMLHttpRequest();
  var csrf_token = "{{ csrf_token() }}";
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.location.reload(true);
    }
  };
  xhttp.open("POST", "add_issue_dispo", true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.setRequestHeader("X-CSRF-Token", csrf_token);
  xhttp.send("dispo=" + dispo + "&issue_id=" + issue_id);
}
</script>

{% endblock %}




