<div class="panel panel-default">
                        <table id="error_notes" class="table-striped table table-condensed table-hover centered" aria-describedby="Components Table">
                            <tbody>
                            <tr>
                                <th>Location</th>
                                <th>File Line</th>
                                <th>Category</th>
                                <th>Policy Violation</th>

                            </tr>
                            <tr>
                                <td>
                                    <span>
                                        {% if details.RepoURL %}<a href="{{ details.RepoURL.split('.git')[0] }}/blob/release/12-2022/Test-1/{{ details.VulnerableFileName }}"  target="_blank" rel="noopener" title="{{ details.VulnerableFileName }}">{% endif %}{{ details.VulnerableFileName }}{% if details.RepoURL %}</a>{% endif %}
                                        <div class="fa-solid fa-up-right-from-square"></div>
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        {{ details.SourceCodeFileStartLine }}
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        {{ details.VulnerabilityName.split(' - ')[1] }}
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        {{ details.VulnerabilityName.split(' - ')[2] }}
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>