<div class="panel panel-default">
                        <table id="error_notes" class="table-striped table table-condensed table-hover centered" aria-describedby="Component Table">
                            <tbody>
                            <tr>
                                <th>Location</th>
                                <th>Component Name</th>
                                <th>Component Version</th>
                            </tr>
                            <tr>
                                <td>
                                    <span>
                                        <a href="#" title="App/lib/spring-beans-5.3.6.jar">App/lib/spring-beans-5.3.6.jar</a>
                                        <div class="fa fa-copy fa-align-right copytoclipboard" title="copy to clipboard"
                                           data-clipboard-text="App/lib/spring-beans-5.3.6.jar"></div>
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        org.springframework:spring-beans
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        5.3.6
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>