{% extends 'base_auth.html' %}

{% block app_content %}

    <div class="container-fluid">
        <!-- start of tabs -->
        <div class="row">
            <div class="col-md-12 active">
                <h3 class="no-margin-top" style="padding-bottom: 5px;color: floralwhite;">
                    {{ app_data.ApplicationName }}

                </h3>
                {% include "assets/application_horizontal_bar.html" %}
            </div>
        </div>
        <!-- end of tabs -->
        <div class="row">
            <div class="col-lg-12">

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div id="base-content" class="col-lg-12">


                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading tight">
                                <h3 class="has-filters">
                                    Open Vulnerabilities
                                    <div class="dropdown pull-right" style="top: -0.5em;">
                                        &nbsp;
                                        <button class="btn btn-primary dropdown-toggle" type="button" id="downloadMenu"
                                                data-toggle="dropdown" aria-expanded="true">
                                            <span class="fa fa-download"></span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu"
                                            aria-labelledby="downloadMenu">
                                            <li role="presentation">
                                                <a id="report"
                                                   href="/all_vulnerabilities/export">
                                                    <div class="fa fa-file-text-o"></div>PDF Report
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a id="csv_export"
                                                   href="/all_vulnerabilities/csv">
                                                    <div class="fa fa-table"></div> CSV Export
                                                </a>
                                            </li>
                                        </ul>
                                        <!-- Filter Button -->
                                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#filterModal">
                                            <span class="fa fa-filter"></span> Filter
                                        </button>

                                        <button class="btn btn-success" type="button" data-toggle="modal" data-target="#csvModal">
                                            <span class="fa fa-upload"></span> CSV Template & Upload
                                        </button>

                                        <!-- CSV Template and Upload Modal -->
                                        {% include "vulns/csv_upload_modal.html" %}

                                        <!-- CSV Column Explanation Modal -->
                                        {% include "vulns/csv_upload_explanation_modal.html" %}


                                    </div>
                                </h3>

                                <!-- Filter Modal -->
                                <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="filterModalLabel">Filter Vulnerabilities</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <label for="filterField">Field:</label>
                                                <select id="filterField" class="form-control">
                                                    <option value="Classification">Classification</option>
                                                    <option value="Source">Source</option>
                                                    <option value="Docker Image Name">Docker Image Name</option>
                                                    <option value="Application Name">Application Name</option>
                                                    <option value="Uri">URI</option>
                                                    <option value="HtmlMethod">HTML Method</option>
                                                    <option value="Param">HTML Parameter</option>
                                                    <option value="VulnerablePackage">Package</option>
                                                    <option value="VulnerableFileName">File Name</option>
                                                    <option value="Status">Status</option>
                                                </select>
                                                <label for="filterValue">Value:</label>
                                                <input type="text" id="filterValue" class="form-control" placeholder="Enter filter value">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <button type="button" class="btn btn-primary" onclick="setFilter('{{ app_data.ApplicationName }}')">Apply Filter</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        {% include "pagination_tab_all.html" %}

                        <div class="dropdown hidden" style="padding-bottom: 5px;" id="bulk_edit_menu">

                            <button class="btn btn-info btn-sm btn-primary dropdown-toggle" type="button"
                                    id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                    style="color: black;">
                                Bulk Edit
                                <span class="caret"></span>
                            </button>

                            <div class="btn-group mr-2" role="group" aria-label="Bulk Actions">

                                <button type="button" id="merge_findings" class="btn btn-sm  btn-primary"
                                        data-toggle="tooltip" data-placement="bottom" title="Merge Findings">
                                    <a class="white-color merge" href="#" alt="Merge Findings">
                                        <div class="fa fa-compress"></div>
                                    </a>
                                </button>


                                <button type="button" class="btn btn-sm  btn-primary" data-toggle="tooltip"
                                        data-placement="bottom" title="Delete Findings">
                                    <a class="white-color delete-bulk" href="#" alt="Delete Findings">
                                        <div class="fa fa-trash"></div>
                                    </a>
                                </button>

                            </div>

                        </div>


                        <div class="panel panel-default table-responsive">
                            <div id="open_findings_wrapper"
                                 class="dataTables_wrapper form-inline dt-bootstrap no-footer">


                                <table id="open_findings" aria-describedby="Components Table"
                                       class="tablesorter-bootstrap table table-condensed table-striped table-hover dataTable no-footer">
                                    <thead>
                                    <tr>
                                        <input type="hidden" id="val_page" value="{{ table_details['page'] }}">
                                        <input type="hidden" id="val_per_page" value="{{ table_details['per_page'] }}">
                                        <input type="hidden" id="val_orderby" value="{{ table_details['orderby'] }}">


                                        <th class="noVis sorting_disabled" rowspan="1" colspan="1" style="width: 0px;" data-column-index="1" aria-label=""></th>
                                        <th onclick="fieldSorter('Severity', 'dynamic')" class="nowrap centered sorting" tabindex="0" aria-controls="open_findings"
                                            rowspan="1" colspan="1" style="width: 70px;color: black;" data-column-index="2"
                                            aria-label="Severity&amp;nbsp;: activate to sort column ascending"><a
                                                title="Click to sort descending"
                                                href="#">Severity&nbsp;<div
                                                class="fa fa-sort dd-sort"></div></a></th>
                                        <th onclick="fieldSorter('VulnerabilityName', 'dynamic')" class="nowrap sorting" tabindex="0" aria-controls="open_findings"
                                            rowspan="1" colspan="1" style="width: 82px;" data-column-index="3"
                                            aria-label="Name&amp;nbsp;: activate to sort column ascending"><a
                                                title="Click to sort ascending"
                                                href="#">Name&nbsp;<div
                                                class="fa fa-sort dd-sort"></div></a></th>
                                        <th onclick="fieldSorter('CWEID', 'dynamic')" class="sorting" tabindex="0" aria-controls="open_findings" rowspan="1"
                                            colspan="1" style="width: 32px;" data-column-index="4"
                                            aria-label="CWE: activate to sort column ascending"><a
                                                title="Click to sort ascending"
                                                href="#">CWE&nbsp;<div
                                                class="fa fa-sort dd-sort"></div></a>
                                        </th>
                                        <th onclick="fieldSorter('CVEID', 'dynamic')" class="sorting" tabindex="0" aria-controls="open_findings" rowspan="1"
                                            colspan="1" style="width: 86px;" data-column-index="5"
                                            aria-label="Vulnerability Id: activate to sort column ascending">
                                            <a
                                                title="Click to sort ascending"
                                                href="#">CVE&nbsp;<div
                                                class="fa fa-sort dd-sort"></div></a>
                                        </th>
                                        <th onclick="fieldSorter('AddDate', 'dynamic')" class="nowrap sorting" tabindex="0" aria-controls="open_findings"
                                            rowspan="1" colspan="1" style="width: 79px;" data-column-index="6"
                                            aria-label="Date&amp;nbsp;: activate to sort column ascending"><a
                                                title="Click to sort ascending"
                                                href="#">Date&nbsp;<div
                                                class="fa fa-sort dd-sort"></div></a></th>
                                        <th class="nowrap sorting" tabindex="0" aria-controls="open_findings"
                                            rowspan="1" colspan="1" style="width: 27px;" data-column-index="7"
                                            aria-label="Age: activate to sort column ascending">Age&nbsp;
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="open_findings" rowspan="1"
                                            colspan="1" style="width: 27.4333px;color: black;" data-column-index="8"
                                            aria-label="SLA: activate to sort column ascending">SLA&nbsp;
                                        </th>
                                        <th onclick="fieldSorter('Source', 'dynamic')" class="sorting" tabindex="0" aria-controls="open_findings" rowspan="1"
                                            colspan="1" style="width: 60px;" data-column-index="10"
                                            aria-label="Found By: activate to sort column ascending"><a
                                                title="Click to sort ascending"
                                                href="#">Found By&nbsp;<div
                                                class="fa fa-sort dd-sort"></div></a>
                                        </th>
                                        <th onclick="fieldSorter('Status', 'dynamic')" class="sorting" tabindex="0" aria-controls="open_findings" rowspan="1"
                                            colspan="1" style="width: 87px;" data-column-index="11"
                                            aria-label="Status: activate to sort column ascending"><a
                                                title="Click to sort ascending"
                                                href="#">Status&nbsp;<div
                                                class="fa fa-sort dd-sort"></div></a>
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="open_findings" rowspan="1"
                                            colspan="1" style="width: 87px;" data-column-index="11">Resource Type
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="open_findings" rowspan="1"
                                            colspan="1" style="width: 87px;" data-column-index="11">Resource
                                        </th>
                                        <th class="nowrap sorting" tabindex="0" aria-controls="open_findings"
                                            rowspan="1" colspan="1" style="width: 67px;" data-column-index="13"
                                            aria-label="Product&amp;nbsp;: activate to sort column ascending"><a
                                                title="Click to sort ascending"
                                                href="?o=test__engagement__product__name">Application&nbsp;Component<div
                                                class="fa fa-sort dd-sort"></div></a></th>

                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for i in entities %}
                                        <tr class="active_finding odd">



                                        <td class="  noVis">
                                            <div class="align-top">
                                                <div class="dropdown">
                                                    <a href="#" class="dropdown-toggle pull-left"
                                                       data-toggle="dropdown">&nbsp;<div class="fa fa-ellipsis-v"></div>&nbsp;</a>
                                                    <ul class="dropdown-menu" role="menu"
                                                        aria-labelledby="dropdownMenu1">
                                                        <li>
                                                            <a class="" href="/finding/{{ i.ApplicationId }}/{{ i.VulnerabilityID }}">
                                                                <div class="fa fa-arrow-circle-right"></div> View
                                                            </a>
                                                        </li>



                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="text-align: center;" class="centered" data-order="3"><span style="color:black;" class="label severity severity-High">
                                      {{ i.Severity }}
                                  </span></td>
                                        <td style="text-align: center;"><a title="{{ i.VulnerabilityName }}" href="/finding/{{ i.ApplicationId }}/{{ i.VulnerabilityID }}">{{ i.VulnerabilityName }}</a>


                                            <div class="fa fa-code has-popover dojo-sup" data-trigger="hover"
                                               data-content="/root/register.jsp" data-placement="right"
                                               data-container="body" data-original-title="Files" title="">

                                            </div>
                                            <sup>
{#                                                <a title="Search jar" class="tag-label tag-color" href="/simple_search?query=tag:jar">jar</a>#}
                                                {% if i.Classification == 'SCA' %}
                                                <a title="Search lang-pkgs" class="tag-label tag-color" href="/simple_search?query=tag:lang-pkgs">lang-pkgs</a>
                                                {% elif i.Classification == 'Container' %}
                                                <a title="Search os-pkgs" class="tag-label tag-color" href="/simple_search?query=tag:os-pkgs">os-pkgs</a>
                                                {% endif %}


                                            </sup>
                                        </td>
                                        <td style="text-align: center;" class="nowrap">
                                            {% if i.CWEID %}
                                            <a target="_blank" href="https://cwe.mitre.org/data/definitions/{{ i.CWEID.replace('CWE-', '') }}.html">
                                            <div class="fa fa-external-link"></div>{% endif %} {{ i.CWEID }}
                                        </a></td>
                                        <td style="text-align: center;" class="nowrap" style="color: black;">
                                            {% if i.CVEID %}
                                            <a target="_blank" href="https://nvd.nist.gov/vuln/detail/{{ i.CVEID }}">
                                            <div class="fa fa-external-link"></div>{% endif %} {{ i.CVEID }}
                                        </a></td>

                                        <td style="text-align: center;" class="nowrap">{{ i.ReleaseDate }}</td>

                                        <td style="text-align: center;">{{ moment(i.ReleaseDate|format_datetime).fromNow() }}</td>

                                        <td style="color: black;text-align: center;"><a class="has-popover" data-toggle="tooltip" data-placement="bottom"
                                               title="" href="#"
                                               data-content="Overdue: Remediation for high findings in 30 days or less since {{ i.ReleaseDate }})"
                                               data-original-title=""><span
                                                class="label severity age-red" style="color: black;">{{ i.SLAStatus|safe }}</span></a></td>

                                        <td style="text-align: center;">{{ i.Source }}</td>
                                        <td style="text-align: center;" class="nowrap">{{ i.Status }}</td>

                                        <td style="text-align: center;" class="nowrap">
                                            {% if i.Classification.startswith("Secret") or i.Classification == 'SAST' or i.Classification.startswith("IaC") %}
                                            File
                                            {% elif i.Classification.startswith("Container") %}
                                            Container Library
                                            {% elif i.Classification == "SCA" %}
                                            Source Code Library
                                            {% elif i.Classification == "DAST" %}
                                            URI
                                            {% else %}
                                            {% endif %}
                                        </td>

                                        <td style="text-align: center;" class="nowrap">
                                            {% if i.Classification.startswith("Secret") or i.Classification == 'SAST' or i.Classification.startswith("IaC") %}
                                                {{ i.VulnerableFileName }}{% if i.SourceCodeFileStartLine %}:{{ i.SourceCodeFileStartLine }}{% endif %}{% if i.SourceCodeFileEndLine %}:{{ i.SourceCodeFileEndLine }}{% endif %}
                                            {% elif i.Classification.startswith("Container") or i.Classification == 'SCA' %}
                                                {{ i.VulnerablePackage }}
                                            {% elif i.Classification == "DAST" %}
                                                {{ i.Uri }}
                                            {% else %}
                                            {% endif %}

                                        </td>

                                        <td class="centered">{{ i.ApplicationName }}:{{ i.ApplicationAcronym }}</td>

                                    </tr>
                                    {% endfor %}



                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% include "pagination_tab_all.html" %}

                    </div>
                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>

<input id="filter_type" type="hidden" value="{{ filter_type }}">
<input id="filter_value" type="hidden" value="{{ filter_value }}">
<script>
function setFilter(app_name) {
    var field = document.getElementById('filterField').value;
    var val = document.getElementById('filterValue').value;
    window.location.href = "/all_app_vulns_filtered/" + app_name + "/" + field + "/" + val;
}

var filter_type = document.getElementById('filter_type').value;
var filter_value = document.getElementById('filter_value').value;

function updatePerPage(new_per_page) {
    var cur_page = document.getElementById('val_page').value;
    var cur_per_page = document.getElementById('val_per_page').value;
    var cur_orderby = document.getElementById('val_orderby').value;
    var xhttp = new XMLHttpRequest();
    var csrf_token = "{{ csrf_token() }}";
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var resp = this.responseText;
        document.body.parentElement.innerHTML = resp;
    }
  };
  xhttp.open("POST", "/all_app_vulns_filtered/" + app_name + "/" + filter_type + "/" + filter_value, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.setRequestHeader("X-CSRF-Token", csrf_token);
  xhttp.send("cur_page=" + cur_page + "&cur_per_page=" + cur_per_page + "&cur_orderby=" + cur_orderby + "&new_per_page=" + new_per_page);
}

function updatePagination(new_page) {
    var cur_page = document.getElementById('val_page').value;
    var cur_per_page = document.getElementById('val_per_page').value;
    var cur_orderby = document.getElementById('val_orderby').value;
    var xhttp = new XMLHttpRequest();
    var csrf_token = "{{ csrf_token() }}";
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var resp = this.responseText;
        document.body.parentElement.innerHTML = resp;
    }
  };
  xhttp.open("POST", "/all_app_vulns_filtered/" + app_name + "/" + filter_type + "/" + filter_value, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.setRequestHeader("X-CSRF-Token", csrf_token);
  xhttp.send("cur_page=" + cur_page + "&cur_per_page=" + cur_per_page + "&cur_orderby=" + cur_orderby + "&new_page=" + new_page);
}

function fieldSorter(field_name, new_dir) {
    var cur_page = document.getElementById('val_page').value;
    var cur_per_page = document.getElementById('val_per_page').value;
    var cur_orderby = document.getElementById('val_orderby').value;
    var xhttp = new XMLHttpRequest();
    var csrf_token = "{{ csrf_token() }}";
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var resp = this.responseText;
        document.body.parentElement.innerHTML = resp;
    }
  };
  xhttp.open("POST", "/all_app_vulns_filtered/" + app_name + "/" + filter_type + "/" + filter_value, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.setRequestHeader("X-CSRF-Token", csrf_token);
  xhttp.send("field_name=" + field_name + "&cur_page=" + cur_page + "&cur_per_page=" + cur_per_page + "&cur_orderby=" + cur_orderby + "&new_dir=" + new_dir);
}
</script>

{% endblock %}