{% extends 'base_auth.html' %}

{% block app_content %}

    <div class="container-fluid">
        <!-- start of tabs -->
        <div class="row">
            <div class="col-md-12 active">
                <h3 class="no-margin-top" style="padding-bottom: 5px;color: floralwhite;">{{ app_data.ApplicationName }}:{{ app_data.Component }}
                </h3>
                {% include "assets/component_horizontal_bar.html" %}
            </div>
        </div>

        <!-- end of tabs -->
        <div class="row">
            <div class="col-lg-12">

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div id="base-content" class="col-lg-12">


                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading tight">
                                <h3 class="has-filters">
                                    Application Profile

                                </h3>
                            </div>

                        </div>


                        <div class="clearfix">


                        </div>
                        <div class="panel panel-default table-responsive">
                            <table id="products" class="tablesorter-bootstrap table table-condensed table-striped" aria-describedby="Component Table" >
                                <thead>
                                <tr>
                                    <th>Add Date</th>
                                    <th title="Secret Scanning tests for hard-coded secrets, such as API keys, in your code. It's required if your application stores code in a Source Code Management (SCM) system.">Secret Scanning Required</th>
                                    <th title="Software Composition Analysis (SCA) checks for vulnerabilities in open-source components. It's required if your application uses open-source libraries or components.">SCA Required</th>
                                    <th title="Static Application Security Testing (SAST) analyzes source code to find security vulnerabilities. It's required if your application has custom-built source code and features.">SAST Required</th>
                                    <th title="Infrastructure as Code (IaC) scanning checks for security flaws in your infrastructure configuration files. It's required if your application uses infrastructure provisioning tools like Docker, Helm, Kubernetes, Terraform or CloudFormation.">IAC Scanning Required</th>
                                    <th title="Container Scanning checks for vulnerabilities in your Docker images or other container formats. It's required if your application is containerized.">Container Scanning Required</th>
                                    <th title="Infrastructure Scanning checks for vulnerabilities in your cloud or on-premise servers. It's required if your application is hosted on such infrastructure.">Infrastructure Scanning Required</th>
                                    <th title="Dynamic Application Security Testing (DAST) checks for vulnerabilities in your running application. It's required if your application has an interface that interacts with users or external systems.">DAST Required</th>
                                    <th title="Dynamic Application Security Testing for APIs (DAST API) checks for vulnerabilities in your application's APIs. It's required if your application provides APIs for client apps or external systems.">DAST API Required</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for i in entities %}
                                <tr>
                                    <td>{{ i.AddDate }}</td>
                                    <td>{% if i.SecretScanReq == '0' %}<div class="fa-solid fa-xmark" style="color: red;"></div>{% else %}<div class="fa-solid fa-check" style="color: green;"></div>{% endif %}</td>
                                    <td>{% if i.SCAReq == '0' %}<div class="fa-solid fa-xmark" style="color: red;"></div>{% else %}<div class="fa-solid fa-check" style="color: green;"></div>{% endif %}</td>
                                    <td>{% if i.SASTReq == '0' %}<div class="fa-solid fa-xmark" style="color: red;"></div>{% else %}<div class="fa-solid fa-check" style="color: green;"></div>{% endif %}</td>
                                    <td>{% if i.IACReq == '0' %}<div class="fa-solid fa-xmark" style="color: red;"></div>{% else %}<div class="fa-solid fa-check" style="color: green;"></div>{% endif %}</td>
                                    <td>{% if i.ContainerReq == '0' %}<div class="fa-solid fa-xmark" style="color: red;"></div>{% else %}<div class="fa-solid fa-check" style="color: green;"></div>{% endif %}</td>
                                    <td>{% if i.InfrastructureScanReq == '0' %}<div class="fa-solid fa-xmark" style="color: red;"></div>{% else %}<div class="fa-solid fa-check" style="color: green;"></div>{% endif %}</td>
                                    <td>{% if i.DASTReq == '0' %}<div class="fa-solid fa-xmark" style="color: red;"></div>{% else %}<div class="fa-solid fa-check" style="color: green;"></div>{% endif %}</td>
                                    <td>{% if i.DASTApiReq == '0' %}<div class="fa-solid fa-xmark" style="color: red;"></div>{% else %}<div class="fa-solid fa-check" style="color: green;"></div>{% endif %}</td>
                                </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix">


                        </div>

                    </div>
                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>




{% endblock %}