{% extends 'base_auth.html' %}

{% block app_content %}

    <div class="container-fluid">
        <!-- start of tabs -->
        <div class="row">
            <div class="col-md-12 active">
                <h3 class="no-margin-top" style="padding-bottom: 5px;color: floralwhite;">{{ app_data.ApplicationName }}:{{ app_data.Component }}

                </h3>
                {% include "assets/component_horizontal_bar.html" %}
            </div>
        </div>

        <!-- Time filter form -->
        <form id="time-filter" action="/component_KPIs/{{ app_data.ID }}" method="post" style="display: none;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label for="start_date" style="color: white !important;">Start Date and Time:</label>
            <input type="datetime-local" id="start_date" name="start_date" style="width: 30%;">

            <label for="end_date" style="color: white !important;">End Date and Time:</label>
            <input type="datetime-local" id="end_date" name="end_date" style="width: 30%;">

            <button id="filter-btn" type="submit" style="width: 15%;display: block;">Filter</button>
        </form>


            <!-- end of tabs -->
    <div class="row">
        <div class="col-lg-12">

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div id="base-content" class="col-lg-12">

            <div class="panel panel-default">
                <div class="panel-heading tight">
                    <div class="clearfix">
                        <h3 class="pull-left" style="color: #333;">
                            Security Scanning Metrics
                            <i id="filter-icon" class="fa fa-filter" style="cursor: pointer;"></i>
                        </h3>

                        <div class="dropdown pull-right">
                            <button class="btn btn-primary" type="button" id="help_btn" onclick="startIntroTour()">
                                <i class="fa-solid fa-question"></i>
                            </button>
                        </div>

                    </div>
                </div>

                <!-- Secret Scanning -->
                <h2 id="nav_category_title" style="margin-left: 0.5em; color: #555;">Secret Scanning</h2>
                <table class="table-style" style="margin-left: 2em;">
                    <tr>
                        <th id="nav_metric">Metric</th>
                        <th id="nav_value" style="padding-left: 1em;">Value</th>
                    </tr>
                    <tr>
                        <td id="nav_total_findings">Total Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['Secret'] %}{{ vuln_metrics['Secret']['total_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td id="nav_open_findings">Open Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['Secret'] %}{{ vuln_metrics['Secret']['open_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td id="nav_mitigated_findings">Mitigated Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['Secret'] %}{{ vuln_metrics['Secret']['mitigated_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td id="nav_risk_accepted_findings">Risk Accepted Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['Secret'] %}{{ vuln_metrics['Secret']['riskaccepted_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td id="nav_detection_accuracy_rate">Detection Accuracy Rate</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['Secret']['metrics'] %}{{ vuln_metrics['Secret']['metrics']['finding_accuracy'] }}%{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td id="nav_mean_time_to_remediate">Mean Time to Remediate</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['Secret']['metrics'] and vuln_metrics['Secret']['metrics']['mttr'] != 'N/A' %}{{ vuln_metrics['Secret']['metrics']['mttr'] }} days{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td id="nav_average_scan_time">Average Scan Time</td>
                        <td style="padding-left: 1em;">{{ metrics['secret']['ave_scan_time'][0] }} mins, {{ metrics['secret']['ave_scan_time'][1] }} secs</td>
                    </tr>
                    <tr>
                        <td id="nav_maximum_scan_time">Maximum Scan Time</td>
                        <td style="padding-left: 1em;">{{ metrics['secret']['highest_build_time'][0] }} mins, {{ metrics['secret']['highest_build_time'][1] }} secs</td>
                    </tr>
                    <tr>
                        <td id="nav_percentage_of_pipeline_failures">Percentage of Pipeline Failures</td>
                        <td style="padding-left: 1em;">{{ metrics['secret']['percent_of_all_pipeline_failures'] }}%</td>
                    </tr>
                    <tr>
                        <td id="nav_total_cicd_pipeline_time_percentage">Total CI/CD Pipeline Time Percentage</td>
                        <td style="padding-left: 1em;">{{ metrics['secret']['total_build_time_percent'] }}%</td>
                    </tr>
                </table>

                <!-- SCA -->
                <h2 style="margin-left: 0.5em; color: #555;">Software Composition Analysis (SCA)</h2>
                <table class="table-style" style="margin-left: 2em;">
                    <tr>
                        <th>Metric</th>
                        <th style="padding-left: 1em;">Value</th>
                    </tr>
                    <tr>
                        <td>Total Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['SCA'] %}{{ vuln_metrics['SCA']['total_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Open Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['SCA'] %}{{ vuln_metrics['SCA']['open_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Mitigated Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['SCA'] %}{{ vuln_metrics['SCA']['mitigated_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Risk Accepted Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['SCA'] %}{{ vuln_metrics['SCA']['riskaccepted_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Detection Accuracy Rate</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['SCA']['metrics'] %}{{ vuln_metrics['SCA']['metrics']['finding_accuracy'] }}%{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Mean Time to Remediate</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['SCA']['metrics'] and vuln_metrics['SCA']['metrics']['mttr'] != 'N/A' %}{{ vuln_metrics['SCA']['metrics']['mttr'] }} days{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Average Scan Time</td>
                        <td style="padding-left: 1em;">{{ metrics['sca']['ave_scan_time'][0] }} mins, {{ metrics['sca']['ave_scan_time'][1] }} secs</td>
                    </tr>
                    <tr>
                        <td>Maximum Scan Time</td>
                        <td style="padding-left: 1em;">{{ metrics['sca']['highest_build_time'][0] }} mins, {{ metrics['sca']['highest_build_time'][1] }} secs</td>
                    </tr>
                    <tr>
                        <td>Percentage of Pipeline Failures</td>
                        <td style="padding-left: 1em;">{{ metrics['sca']['percent_of_all_pipeline_failures'] }}%</td>
                    </tr>
                    <tr>
                        <td>Total CI/CD Pipeline Time Percentage</td>
                        <td style="padding-left: 1em;">{{ metrics['sca']['total_build_time_percent'] }}%</td>
                    </tr>
                </table>

                <!-- SAST -->
                <h2 style="margin-left: 0.5em; color: #555;">Static Application Security Testing (SAST)</h2>
                <table class="table-style" style="margin-left: 2em;">
                    <tr>
                        <th>Metric</th>
                        <th style="padding-left: 1em;">Value</th>
                    </tr>
                    <tr>
                        <td>Total Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['SAST'] %}{{ vuln_metrics['SAST']['total_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Open Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['SAST'] %}{{ vuln_metrics['SAST']['open_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Mitigated Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['SAST'] %}{{ vuln_metrics['SAST']['mitigated_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Risk Accepted Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['SAST'] %}{{ vuln_metrics['SAST']['riskaccepted_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Detection Accuracy Rate</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['SAST']['metrics'] %}{{ vuln_metrics['SAST']['metrics']['finding_accuracy'] }}%{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Mean Time to Remediate</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['SAST']['metrics'] and vuln_metrics['SAST']['metrics']['mttr'] != 'N/A' %}{{ vuln_metrics['SAST']['metrics']['mttr'] }} days{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Average Scan Time</td>
                        <td style="padding-left: 1em;">{{ metrics['sast']['ave_scan_time'][0] }} mins, {{ metrics['sast']['ave_scan_time'][1] }} secs</td>
                    </tr>
                    <tr>
                        <td>Maximum Scan Time</td>
                        <td style="padding-left: 1em;">{{ metrics['sast']['highest_build_time'][0] }} mins, {{ metrics['sast']['highest_build_time'][1] }} secs</td>
                    </tr>
                    <tr>
                        <td>Percentage of Pipeline Failures</td>
                        <td style="padding-left: 1em;">{{ metrics['sast']['percent_of_all_pipeline_failures'] }}%</td>
                    </tr>
                    <tr>
                        <td>Total CI/CD Pipeline Time Percentage</td>
                        <td style="padding-left: 1em;">{{ metrics['sast']['total_build_time_percent'] }}%</td>
                    </tr>
                </table>

                <!-- IaC Security Scanning -->
                <h2 style="margin-left: 0.5em; color: #555;">Infrastructure as Code (IaC) Security Scanning</h2>
                <table class="table-style" style="margin-left: 2em;">
                    <tr>
                        <th>Metric</th>
                        <th style="padding-left: 1em;">Value</th>
                    </tr>
                    <tr>
                        <td>Total Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['IaC'] %}{{ vuln_metrics['IaC']['total_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Open Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['IaC'] %}{{ vuln_metrics['IaC']['open_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Mitigated Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['IaC'] %}{{ vuln_metrics['IaC']['mitigated_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Risk Accepted Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['IaC'] %}{{ vuln_metrics['IaC']['riskaccepted_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Detection Accuracy Rate</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['IaC']['metrics'] %}{{ vuln_metrics['IaC']['metrics']['finding_accuracy'] }}%{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Mean Time to Remediate</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['IaC']['metrics'] and vuln_metrics['IaC']['metrics']['mttr'] != 'N/A' %}{{ vuln_metrics['IaC']['metrics']['mttr'] }} days{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Average Scan Time</td>
                        <td style="padding-left: 1em;">{{ metrics['iac']['ave_scan_time'][0] }} mins, {{ metrics['iac']['ave_scan_time'][1] }} secs</td>
                    </tr>
                    <tr>
                        <td>Maximum Scan Time</td>
                        <td style="padding-left: 1em;">{{ metrics['iac']['highest_build_time'][0] }} mins, {{ metrics['iac']['highest_build_time'][1] }} secs</td>
                    </tr>
                    <tr>
                        <td>Percentage of Pipeline Failures</td>
                        <td style="padding-left: 1em;">{{ metrics['iac']['percent_of_all_pipeline_failures'] }}%</td>
                    </tr>
                    <tr>
                        <td>Total CI/CD Pipeline Time Percentage</td>
                        <td style="padding-left: 1em;">{{ metrics['iac']['total_build_time_percent'] }}%</td>
                    </tr>
                </table>

                <!-- Container Security Scanning -->
                <h2 style="margin-left: 0.5em; color: #555;">Container Security Scanning</h2>
                <table class="table-style" style="margin-left: 2em;">
                    <tr>
                        <th>Metric</th>
                        <th style="padding-left: 1em;">Value</th>
                    </tr>
                    <tr>
                        <td>Total Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['Container'] %}{{ vuln_metrics['Container']['total_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Open Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['Container'] %}{{ vuln_metrics['Container']['open_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Mitigated Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['Container'] %}{{ vuln_metrics['Container']['mitigated_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Risk Accepted Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['Container'] %}{{ vuln_metrics['Container']['riskaccepted_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Detection Accuracy Rate</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['Container']['metrics'] %}{{ vuln_metrics['Container']['metrics']['finding_accuracy'] }}%{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Mean Time to Remediate</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['Container']['metrics'] and vuln_metrics['Container']['metrics']['mttr'] != 'N/A' %}{{ vuln_metrics['Container']['metrics']['mttr'] }} days{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Average Scan Time</td>
                        <td style="padding-left: 1em;">{{ metrics['docker']['ave_scan_time'][0] }} mins, {{ metrics['docker']['ave_scan_time'][1] }} secs</td>
                    </tr>
                    <tr>
                        <td>Maximum Scan Time</td>
                        <td style="padding-left: 1em;">{{ metrics['docker']['highest_build_time'][0] }} mins, {{ metrics['docker']['highest_build_time'][1] }} secs</td>
                    </tr>
                    <tr>
                        <td>Percentage of Pipeline Failures</td>
                        <td style="padding-left: 1em;">{{ metrics['docker']['percent_of_all_pipeline_failures'] }}%</td>
                    </tr>
                    <tr>
                        <td>Total CI/CD Pipeline Time Percentage</td>
                        <td style="padding-left: 1em;">{{ metrics['docker']['total_build_time_percent'] }}%</td>
                    </tr>
                </table>

                <!-- Infrastructure Security Scanning -->
                <h2 style="margin-left: 0.5em; color: #555;">Infrastructure Security Scanning</h2>
                <table class="table-style" style="margin-left: 2em;">
                    <tr>
                        <th>Metric</th>
                        <th style="padding-left: 1em;">Value</th>
                    </tr>
                    <tr>
                        <td>Total Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['Infrastructure'] %}{{ vuln_metrics['Infrastructure']['total_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Open Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['Infrastructure'] %}{{ vuln_metrics['Infrastructure']['open_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Mitigated Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['Infrastructure'] %}{{ vuln_metrics['Infrastructure']['mitigated_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Risk Accepted Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['Infrastructure'] %}{{ vuln_metrics['Infrastructure']['riskaccepted_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Detection Accuracy Rate</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['Infrastructure']['metrics'] %}{{ vuln_metrics['Infrastructure']['metrics']['finding_accuracy'] }}%{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Mean Time to Remediate</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['Infrastructure']['metrics'] and vuln_metrics['Infrastructure']['metrics']['mttr'] != 'N/A' %}{{ vuln_metrics['Infrastructure']['metrics']['mttr'] }} days{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Average Scan Time</td>
                        <td style="padding-left: 1em;">{{ metrics['infrastructure']['ave_scan_time'][0] }} mins, {{ metrics['infrastructure']['ave_scan_time'][1] }} secs</td>
                    </tr>
                    <tr>
                        <td>Maximum Scan Time</td>
                        <td style="padding-left: 1em;">{{ metrics['infrastructure']['highest_build_time'][0] }} mins, {{ metrics['infrastructure']['highest_build_time'][1] }} secs</td>
                    </tr>
                    <tr>
                        <td>Percentage of Pipeline Failures</td>
                        <td style="padding-left: 1em;">{{ metrics['infrastructure']['percent_of_all_pipeline_failures'] }}%</td>
                    </tr>
                    <tr>
                        <td>Total CI/CD Pipeline Time Percentage</td>
                        <td style="padding-left: 1em;">{{ metrics['infrastructure']['total_build_time_percent'] }}%</td>
                    </tr>
                </table>

                <!-- DAST -->
                <h2 style="margin-left: 0.5em; color: #555;">Dynamic Application Security Testing (DAST)</h2>
                <table class="table-style" style="margin-left: 2em;">
                    <tr>
                        <th>Metric</th>
                        <th style="padding-left: 1em;">Value</th>
                    </tr>
                    <tr>
                        <td>Total Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['DAST'] %}{{ vuln_metrics['DAST']['total_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Open Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['DAST'] %}{{ vuln_metrics['DAST']['open_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Mitigated Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['DAST'] %}{{ vuln_metrics['DAST']['mitigated_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Risk Accepted Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['DAST'] %}{{ vuln_metrics['DAST']['riskaccepted_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Detection Accuracy Rate</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['DAST']['metrics'] %}{{ vuln_metrics['DAST']['metrics']['finding_accuracy'] }}%{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Mean Time to Remediate</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['DAST']['metrics'] and vuln_metrics['DAST']['metrics']['mttr'] != 'N/A' %}{{ vuln_metrics['DAST']['metrics']['mttr'] }} days{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Average Scan Time</td>
                        <td style="padding-left: 1em;">{{ metrics['dast']['ave_scan_time'][0] }} mins, {{ metrics['dast']['ave_scan_time'][1] }} secs</td>
                    </tr>
                    <tr>
                        <td>Maximum Scan Time</td>
                        <td style="padding-left: 1em;">{{ metrics['dast']['highest_build_time'][0] }} mins, {{ metrics['dast']['highest_build_time'][1] }} secs</td>
                    </tr>
                    <tr>
                        <td>Percentage of Pipeline Failures</td>
                        <td style="padding-left: 1em;">{{ metrics['dast']['percent_of_all_pipeline_failures'] }}%</td>
                    </tr>
                    <tr>
                        <td>Total CI/CD Pipeline Time Percentage</td>
                        <td style="padding-left: 1em;">{{ metrics['dast']['total_build_time_percent'] }}%</td>
                    </tr>
                </table>

                <!-- DASTAPI -->
                <h2 style="margin-left: 0.5em; color: #555;">Dynamic Application Security Testing API (DASTAPI)</h2>
                <table class="table-style" style="margin-left: 2em;">
                    <tr>
                        <th>Metric</th>
                        <th style="padding-left: 1em;">Value</th>
                    </tr>
                    <tr>
                        <td>Total Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['DASTAPI'] %}{{ vuln_metrics['DASTAPI']['total_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Open Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['DASTAPI'] %}{{ vuln_metrics['DASTAPI']['open_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Mitigated Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['DASTAPI'] %}{{ vuln_metrics['DASTAPI']['mitigated_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Risk Accepted Findings</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['DASTAPI'] %}{{ vuln_metrics['DASTAPI']['riskaccepted_findings'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Detection Accuracy Rate</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['DASTAPI']['metrics'] %}{{ vuln_metrics['DASTAPI']['metrics']['finding_accuracy'] }}{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Mean Time to Remediate</td>
                        <td style="padding-left: 1em;">{% if vuln_metrics['DASTAPI']['metrics'] and vuln_metrics['DASTAPI']['metrics']['mttr'] != 'N/A' %}{{ vuln_metrics['DASTAPI']['metrics']['mttr'] }} days{% else %}N/A{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Average Scan Time</td>
                        <td style="padding-left: 1em;">N/A</td>
                    </tr>
                    <tr>
                        <td>Maximum Scan Time</td>
                        <td style="padding-left: 1em;">N/A</td>
                    </tr>
                    <tr>
                        <td>Percentage of Pipeline Failures</td>
                        <td style="padding-left: 1em;">N/A</td>
                    </tr>
                    <tr>
                        <td>Total CI/CD Pipeline Time Percentage</td>
                        <td style="padding-left: 1em;">N/A</td>
                    </tr>

                </table>
                <br><br>
                </div>
            </div>
        </div>

    </div>
    <!-- /.col-lg-12 -->
</div>


<style>
.table-style {
    border-collapse: collapse;
    width: 94%;
    border: 1px solid #ddd;
}

.table-style th,
.table-style td {
    text-align: left;
    padding: 8px;
}

.table-style tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-style th {
    background-color: #4caf50;
    color: white;
}

.panel-heading.tight {
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-default {
    border-color: #ddd;
}
</style>


{#  Scripts  #}
<script src='../static/js/Chart.js'></script>
<script>
        document.getElementById('filter-icon').addEventListener('click', function() {
            var filterForm = document.getElementById('time-filter');
            filterForm.style.display = filterForm.style.display === 'none' ? 'block' : 'none';
        });
    </script>
{% endblock %}

{% block scripts %}
  {{ super() }}
{#  Scripts  #}
<script>
var ijs = introJs()
  ijs.setOptions({
    steps: [
      {
        intro: "Welcome to the Security Scanning Metrics Page!  On this page, you can view a breakdown of the security scanning metrics grouped by testing type. Let's take a quick tour!"
      },
      {
        title: 'Assessment Type',
        element: document.querySelector('#nav_category_title'),
        intro: "The name of the specific Assessment Type is shown here."
      },
      {
        title: 'Metric Column',
        element: document.querySelector('#nav_metric'),
        intro: "The metric column is shown on the left."
      },
      {
        title: 'Value Column',
        element: document.querySelector('#nav_value'),
        intro: "The value column is shown on the left."
      },
      {
        title: 'Total Findings Row',
        element: document.querySelector('#nav_total_findings'),
        intro: "This row shows the total findings for the assessment category."
      },
      {
        title: 'Open Findings Row',
        element: document.querySelector('#nav_open_findings'),
        intro: "This row shows the open findings for the assessment category."
      },
      {
        title: 'Mitigated Findings Row',
        element: document.querySelector('#nav_mitigated_findings'),
        intro: "This row shows the mitigated findings for the assessment category."
      },
      {
        title: 'Risk Accepted Findings Row',
        element: document.querySelector('#nav_risk_accepted_findings'),
        intro: "This row shows the risk accepted findings for the assessment category."
      },
      {
        title: 'Detection Accuracy Rate Row',
        element: document.querySelector('#nav_detection_accuracy_rate'),
        intro: "This row shows the detection accuracy rate of findings for the assessment category."
      },
      {
        title: 'Mean Time to Remediate Row',
        element: document.querySelector('#nav_mean_time_to_remediate'),
        intro: "This row shows the mean time to remediate findings for the assessment category."
      },
      {
        title: 'Average Scan Time Row',
        element: document.querySelector('#nav_average_scan_time'),
        intro: "This row shows the average scan time for the assessment category."
      },
      {
        title: 'Maximum Scan Time Row',
        element: document.querySelector('#nav_maximum_scan_time'),
        intro: "This row shows the maximum scan time for the assessment category."
      },
      {
        title: 'Percentage of Pipeline Failures Row',
        element: document.querySelector('#nav_percentage_of_pipeline_failures'),
        intro: "This row shows the percentage of pipeline failures for the assessment category."
      },
      {
        title: 'Total CI/CD Pipeline Time Percentage Row',
        element: document.querySelector('#nav_total_cicd_pipeline_time_percentage'),
        intro: "This row shows the total percentage of time allocated to the assessment category."
      },
      {
        title: 'Filtering Metrics',
        element: document.querySelector('#filter-icon'),
        intro: "To filter the metrics by date, click on the 'filter' button."
      },
      {
        title: 'Adding Filter',
        element: document.querySelector('#filter-btn'),
        intro: "Enter the start and end dates, then click on the 'Filter' button."
      },
      {
        intro: "Security Scanning Metrics Page tour completed!"
      },


    ]
  })
  ijs.onchange(function(targetElement) {
    console.log(this._currentStep)
      if (this._currentStep === 15) {
          document.querySelector('#filter-icon').click();
    } else if (this._currentStep === 16) {
          document.querySelector('#filter-icon').click();
    }
  });


function startIntroTour() {
    ijs.start();
}

</script>

{% endblock %}
