{% extends 'base_auth.html' %}

{% block app_content %}

    <div class="container-fluid">
        <!-- start of tabs -->
        <div class="row">
            <div class="col-md-12 active">
                <h3 class="no-margin-top" style="padding-bottom: 5px;color: floralwhite;">
                    {{ app_data.ApplicationName }}:{{ app_data.Component }}

                </h3>
                {% include "assets/component_horizontal_bar.html" %}
            </div>
        </div>


        <!-- end of tabs -->
        <div class="row">
            <div class="col-lg-12">

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div id="base-content" class="col-lg-12">


                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading tight">
                                <h3 class="has-filters">
                                    Findings - {{ heading }}
                                    <div class="dropdown pull-right" style="top: -0.5em;">
                                        &nbsp;

                                        <!-- Filter Button -->
                                        <button id="nav_filter_btn" class="btn btn-primary" type="button" data-toggle="modal" data-target="#filterModal">
                                            <span class="fa fa-filter"></span> Filter
                                        </button>

                                        <button id="nav_csv_upload" class="btn btn-success" type="button" data-toggle="modal" data-target="#csvModal">
                                            <span class="fa fa-upload"></span> CSV Template & Upload
                                        </button>

                                        <!-- CSV Template and Upload Modal -->
                                        {% include "vulns/csv_upload_modal.html" %}

                                        <!-- CSV Column Explanation Modal -->
                                        {% include "vulns/csv_upload_explanation_modal.html" %}

                                        <button class="btn btn-primary dropdown-toggle" type="button" id="downloadMenu"
                                                data-toggle="dropdown" aria-expanded="true">
                                            <span class="fa fa-download"></span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu"
                                            aria-labelledby="downloadMenu">
                                            <li role="presentation">
                                                <a id="report"
                                                   href="/filtered_findings/{{ app_data.ID }}/{{ filter_type }}/{{ filter_value }}/export">
                                                    <div class="fa fa-file-text-o"></div> PDF Report
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a id="csv_export"
                                                   href="/filtered_findings/{{ app_data.ID }}/{{ filter_type }}/{{ filter_value }}/csv">
                                                    <div class="fa fa-table"></div> CSV Export
                                                </a>
                                            </li>
                                        </ul>

                                        <button class="btn btn-primary" type="button" id="help_btn" onclick="startIntroTour()">
                                            <i class="fa-solid fa-question"></i>
                                        </button>


                                    </div>
                                </h3>

                                <!-- Filter Modal -->
                                <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="filterModalLabel">Filter Vulnerabilities</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <label for="filterField">Field:</label>
                                                <select id="filterField" class="form-control">
                                                    <option value="Classification">Classification</option>
                                                    <option value="Source">Source</option>
                                                    <option value="Docker Image Name">Docker Image Name</option>
                                                    <option value="Application Name">Application Name</option>
                                                    <option value="Uri">URI</option>
                                                    <option value="HtmlMethod">HTML Method</option>
                                                    <option value="Param">HTML Parameter</option>
                                                    <option value="VulnerablePackage">Package</option>
                                                    <option value="VulnerableFileName">File Name</option>
                                                    <option value="Status">Status</option>
                                                </select>
                                                <label for="filterValue">Value:</label>
                                                <input type="text" id="filterValue" class="form-control" placeholder="Enter filter value">
                                            </div>
                                            <div class="modal-footer">
                                                <button id="nav_filter_cancel_btn" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <button id="nav_apply_filter_btn" type="button" class="btn btn-primary" onclick="setFilter({{ app_data.ID }})">Apply Filter</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        {% include "pagination_tab.html" %}

                        <div class="dropdown hidden" style="padding-bottom: 5px;" id="bulk_edit_menu">

                            <button class="btn btn-info btn-sm btn-primary dropdown-toggle" type="button"
                                    id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                    style="color: black;">
                                Bulk Edit
                                <span class="caret"></span>
                            </button>

                            <div class="btn-group mr-2" role="group" aria-label="Bulk Actions">

                                <button type="button" id="merge_findings" class="btn btn-sm  btn-primary"
                                        data-toggle="tooltip" data-placement="bottom" title="Merge Findings">
                                    <a class="white-color merge" href="#" alt="Merge Findings">
                                        <div class="fa fa-compress"></div>
                                    </a>
                                </button>


                                <button type="button" class="btn btn-sm  btn-primary" data-toggle="tooltip"
                                        data-placement="bottom" title="Delete Findings">
                                    <a class="white-color delete-bulk" href="#" alt="Delete Findings">
                                        <div class="fa fa-trash"></div>
                                    </a>
                                </button>

                            </div>

                        </div>


                        <div class="panel panel-default table-responsive">
                            <div id="open_findings_wrapper"
                                 class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                                <table id="open_findings" aria-describedby="Components Table"
                                       class="tablesorter-bootstrap table table-condensed table-striped table-hover dataTable no-footer">
                                    <thead>
                                    <tr>
                                        <input type="hidden" id="val_page" value="{{ table_details['page'] }}">
                                        <input type="hidden" id="val_per_page" value="{{ table_details['per_page'] }}">
                                        <input type="hidden" id="val_orderby" value="{{ table_details['orderby'] }}">


                                        <th class="noVis sorting_disabled" rowspan="1" colspan="1" style="width: 0px;" data-column-index="1" aria-label=""></th>
                                        <th id="nav_severity" onclick="fieldSorter({{ app_data.ID }}, 'Severity', 'dynamic')" class="nowrap centered sorting" tabindex="0" aria-controls="open_findings"
                                            rowspan="1" colspan="1" style="width: 70px;color: black;" data-column-index="2"
                                            aria-label="Severity&amp;nbsp;: activate to sort column ascending"><a
                                                title="Click to sort descending"
                                                href="#">Severity&nbsp;<div
                                                class="fa fa-sort dd-sort"></div></a></th>
                                        <th id="nav_name" onclick="fieldSorter({{ app_data.ID }}, 'VulnerabilityName', 'dynamic')" class="nowrap sorting" tabindex="0" aria-controls="open_findings"
                                            rowspan="1" colspan="1" style="width: 82px;" data-column-index="3"
                                            aria-label="Name&amp;nbsp;: activate to sort column ascending"><a
                                                title="Click to sort ascending"
                                                href="#">Name&nbsp;<div
                                                class="fa fa-sort dd-sort"></div></a></th>
                                        <th id="nav_cwe" onclick="fieldSorter({{ app_data.ID }}, 'CWEID', 'dynamic')" class="sorting" tabindex="0" aria-controls="open_findings" rowspan="1"
                                            colspan="1" style="width: 32px;" data-column-index="4"
                                            aria-label="CWE: activate to sort column ascending"><a
                                                title="Click to sort ascending"
                                                href="#">CWE&nbsp;<div
                                                class="fa fa-sort dd-sort"></div></a>
                                        </th>
                                        <th id="nav_cve" onclick="fieldSorter({{ app_data.ID }}, 'CVEID', 'dynamic')" class="sorting" tabindex="0" aria-controls="open_findings" rowspan="1"
                                            colspan="1" style="width: 86px;" data-column-index="5"
                                            aria-label="Vulnerability Id: activate to sort column ascending">
                                            <a
                                                title="Click to sort ascending"
                                                href="#">CVE&nbsp;<div
                                                class="fa fa-sort dd-sort"></div></a>
                                        </th>
                                        <th id="nav_date" onclick="fieldSorter({{ app_data.ID }}, 'AddDate', 'dynamic')" class="nowrap sorting" tabindex="0" aria-controls="open_findings"
                                            rowspan="1" colspan="1" style="width: 79px;" data-column-index="6"
                                            aria-label="Date&amp;nbsp;: activate to sort column ascending"><a
                                                title="Click to sort ascending"
                                                href="#">Date&nbsp;<div
                                                class="fa fa-sort dd-sort"></div></a></th>
                                        <th id="nav_age" class="nowrap sorting" tabindex="0" aria-controls="open_findings"
                                            rowspan="1" colspan="1" style="width: 27px;" data-column-index="7"
                                            aria-label="Age: activate to sort column ascending">Age&nbsp;
                                        </th>
                                        <th id="nav_sla" class="sorting" tabindex="0" aria-controls="open_findings" rowspan="1"
                                            colspan="1" style="width: 27.4333px;color: black;" data-column-index="8"
                                            aria-label="SLA: activate to sort column ascending">SLA&nbsp;
                                        </th>
                                        <th id="nav_found_by" onclick="fieldSorter({{ app_data.ID }}, 'Source', 'dynamic')" class="sorting" tabindex="0" aria-controls="open_findings" rowspan="1"
                                            colspan="1" style="width: 60px;" data-column-index="10"
                                            aria-label="Found By: activate to sort column ascending"><a
                                                title="Click to sort ascending"
                                                href="#">Found By&nbsp;<div
                                                class="fa fa-sort dd-sort"></div></a>
                                        </th>
                                        <th id="nav_status" onclick="fieldSorter({{ app_data.ID }}, 'Status', 'dynamic')" class="sorting" tabindex="0" aria-controls="open_findings" rowspan="1"
                                            colspan="1" style="width: 87px;" data-column-index="11"
                                            aria-label="Status: activate to sort column ascending"><a
                                                title="Click to sort ascending"
                                                href="#">Status&nbsp;<div
                                                class="fa fa-sort dd-sort"></div></a>
                                        </th>
                                        <th id="nav_resource_type" class="sorting" tabindex="0" aria-controls="open_findings" rowspan="1"
                                            colspan="1" style="width: 87px;" data-column-index="11">Resource Type
                                        </th>
                                        <th id="nav_resource" class="sorting" tabindex="0" aria-controls="open_findings" rowspan="1"
                                            colspan="1" style="width: 87px;" data-column-index="11">Resource
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for i in entities %}
                                        <tr class="active_finding odd">



                                        <td class="  noVis">
                                            <div class="align-top">
                                                <div class="dropdown">
                                                    <a href="#" class="dropdown-toggle pull-left"
                                                       data-toggle="dropdown">&nbsp;<div class="fa fa-ellipsis-v"></div>&nbsp;</a>
                                                    <ul class="dropdown-menu" role="menu"
                                                        aria-labelledby="dropdownMenu1">
                                                        <li>
                                                            <a class="" href="/finding/{{ app_data.ID }}/{{ i.VulnerabilityID }}">
                                                                <div class="fa fa-arrow-circle-right"></div> View
                                                            </a>
                                                        </li>



                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="text-align: center;" class="centered" data-order="3"><span style="color:black;" class="label severity severity-High">
                                      {{ i.Severity }}
                                  </span></td>
                                        <td style="text-align: center;"><a title="{{ i.VulnerabilityName }}" href="/finding/{{ app_data.ID }}/{{ i.VulnerabilityID }}">{{ i.VulnerabilityName }}</a>


                                            <div class="fa fa-code has-popover dojo-sup" data-trigger="hover"
                                               data-content="/root/register.jsp" data-placement="right"
                                               data-container="body" data-original-title="Files" title="">

                                            </div>
                                            <sup>
{#                                                <a title="Search jar" class="tag-label tag-color" href="/simple_search?query=tag:jar">jar</a>#}
                                                {% if i.Classification == 'SCA' %}
                                                <a title="Search lang-pkgs" class="tag-label tag-color" href="/simple_search?query=tag:lang-pkgs">lang-pkgs</a>
                                                {% elif i.Classification == 'Container' %}
                                                <a title="Search os-pkgs" class="tag-label tag-color" href="/simple_search?query=tag:os-pkgs">os-pkgs</a>
                                                {% endif %}


                                            </sup>
                                        </td>
                                        <td style="text-align: center;" class="nowrap">
                                            {% if i.CWEID %}
                                            <a target="_blank" href="https://cwe.mitre.org/data/definitions/{{ i.CWEID.replace('CWE-', '') }}.html">
                                            <div class="fa fa-external-link"></div>{% endif %} {{ i.CWEID }}
                                        </a></td>
                                        <td style="text-align: center;" class="nowrap" style="color: black;">
                                            {% if i.CVEID %}
                                            <a target="_blank" href="https://nvd.nist.gov/vuln/detail/{{ i.CVEID }}">
                                            <div class="fa fa-external-link"></div>{% endif %} {{ i.CVEID }}
                                        </a></td>

                                        <td style="text-align: center;" class="nowrap">{{ i.ReleaseDate }}</td>

                                        <td style="text-align: center;">{{ moment(i.ReleaseDate|format_datetime).fromNow() }}</td>

                                        <td style="color: black;text-align: center;"><a class="has-popover" data-toggle="tooltip" data-placement="bottom"
                                               title="" href="#"
                                               data-content="Overdue: Remediation for high findings in 30 days or less since {{ i.ReleaseDate }})"
                                               data-original-title=""><span
                                                class="label severity age-red" style="color: black;">{{ i.SLAStatus|safe }}</span></a></td>

                                        <td style="text-align: center;">{{ i.Source }}</td>
                                        <td style="text-align: center;" class="nowrap">{{ i.Status }}</td>

                                        <td style="text-align: center;" class="nowrap">
                                            {% if i.Classification.startswith("Secret") or i.Classification == 'SAST' or i.Classification.startswith("IaC") %}
                                            File
                                            {% elif i.Classification.startswith("Container") %}
                                            Container Library
                                            {% elif i.Classification == "SCA" %}
                                            Source Code Library
                                            {% elif i.Classification == "DAST" %}
                                            URI
                                            {% else %}
                                            {% endif %}
                                        </td>

                                        <td style="text-align: center;" class="nowrap">
                                            {% if i.Classification.startswith("Secret") or i.Classification == 'SAST' or i.Classification.startswith("IaC") %}
                                                {{ i.VulnerableFileName }}{% if i.SourceCodeFileStartLine %}:{{ i.SourceCodeFileStartLine }}{% endif %}{% if i.SourceCodeFileEndLine %}:{{ i.SourceCodeFileEndLine }}{% endif %}
                                            {% elif i.Classification.startswith("Container") or i.Classification == 'SCA' %}
                                                {{ i.VulnerablePackage }}
                                            {% elif i.Classification == "DAST" %}
                                                {{ i.Uri }}
                                            {% else %}
                                            {% endif %}

                                        </td>

                                    </tr>
                                    {% endfor %}



                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% include "pagination_tab.html" %}

                    </div>
                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>

<input id="filter_type" type="hidden" value="{{ filter_type }}">
<input id="filter_value" type="hidden" value="{{ filter_value }}">
<script>
function setFilter(app_id) {
    var field = document.getElementById('filterField').value;
    var val = document.getElementById('filterValue').value;
    window.location.href = "/filtered_findings/" + app_id + "/" + field + "/" + val;
}
</script>
<script>
var filter_type = document.getElementById('filter_type').value;
var filter_value = document.getElementById('filter_value').value;

function updatePerPage(app_id, new_per_page) {
    var cur_page = document.getElementById('val_page').value;
    var cur_per_page = document.getElementById('val_per_page').value;
    var cur_orderby = document.getElementById('val_orderby').value;
    var xhttp = new XMLHttpRequest();
    var csrf_token = "{{ csrf_token() }}";
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var resp = this.responseText;
        document.body.parentElement.innerHTML = resp;
    }
  };
  xhttp.open("POST", "/filtered_findings/" + "{{ app_data.ID }}/" + filter_type + "/" + filter_value, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.setRequestHeader("X-CSRF-Token", csrf_token);
  xhttp.send("cur_page=" + cur_page + "&cur_per_page=" + cur_per_page + "&cur_orderby=" + cur_orderby + "&new_per_page=" + new_per_page);
}

function updatePagination(app_id, new_page) {
    var cur_page = document.getElementById('val_page').value;
    var cur_per_page = document.getElementById('val_per_page').value;
    var cur_orderby = document.getElementById('val_orderby').value;
    var xhttp = new XMLHttpRequest();
    var csrf_token = "{{ csrf_token() }}";
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var resp = this.responseText;
        document.body.parentElement.innerHTML = resp;
    }
  };
  xhttp.open("POST", "/filtered_findings/" + "{{ app_data.ID }}/" + filter_type + "/" + filter_value, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.setRequestHeader("X-CSRF-Token", csrf_token);
  xhttp.send("cur_page=" + cur_page + "&cur_per_page=" + cur_per_page + "&cur_orderby=" + cur_orderby + "&new_page=" + new_page);
}

function fieldSorter(app_id, field_name, new_dir) {
    var cur_page = document.getElementById('val_page').value;
    var cur_per_page = document.getElementById('val_per_page').value;
    var cur_orderby = document.getElementById('val_orderby').value;
    var xhttp = new XMLHttpRequest();
    var csrf_token = "{{ csrf_token() }}";
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var resp = this.responseText;
        document.body.parentElement.innerHTML = resp;
    }
  };
  xhttp.open("POST", "/filtered_findings/" + "{{ app_data.ID }}/" + filter_type + "/" + filter_value, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.setRequestHeader("X-CSRF-Token", csrf_token);
  xhttp.send("field_name=" + field_name + "&cur_page=" + cur_page + "&cur_per_page=" + cur_per_page + "&cur_orderby=" + cur_orderby + "&new_dir=" + new_dir);
}
</script>

{% endblock %}
{% block scripts %}
  {{ super() }}
{#  Scripts  #}
<script>
var ijs = introJs()
  ijs.setOptions({
    steps: [
      {
        intro: "Welcome to the Vulnerability Findings Page!  On this page, you can view a list of the vulnerability findings for the Application component. Let's take a quick tour!"
      },
      {
        title: 'Filter Button',
        element: document.querySelector('#nav_filter_btn'),
        intro: "To filter the vulnerability findings, click on the 'Filter' button."
      },
      {
        intro: "The Filter Window will soon appear."
      },
      {
        title: 'Filter Modal',
        element: document.querySelector('#filterField'),
        intro: "Select the Field to apply the filter to and then add the filter Value."
      },
      {
        title: 'Apply Filter',
        element: document.querySelector('#nav_apply_filter_btn'),
        intro: "Click on the 'Apply Filter' button to save the filter."
      },
      {
        title: 'CSV Manual Upload',
        element: document.querySelector('#nav_csv_upload'),
        intro: "To manually upload findings for this Application Component, click on the 'CSV Template & Upload' button."
      },
      {
        intro: 'The CSV Upload Window will appear.'
      },
      {
        title: 'Download CSV File Template',
        element: document.querySelector('#nav_download_csv_template'),
        intro: "To download the CSV Upload Template File, click on the 'Download CSV Template' button."
      },
      {
        title: 'CSV Column Explanation',
        element: document.querySelector('#nav_csv_explanation_btn'),
        intro: "To view a breakdown of acceptable fields and examples for the CSV Upload Template, click on the 'CSV Column Explanation' button."
      },
      {
        title: 'Report Downloads',
        element: document.querySelector('#downloadMenu'),
        intro: "To download a report of the Vulnerability findings, click on the 'Download' button."
      },
      {
        title: 'Severity Column',
        element: document.querySelector('#nav_severity'),
        intro: "The Severity for the Vulnerability Finding is listed here."
      },
      {
        title: 'Name Column',
        element: document.querySelector('#nav_name'),
        intro: "The Name of the Vulnerability Finding is listed here.  Click on the link to view details about the Vulnerability Finding."
      },
      {
        title: 'CWE Column',
        element: document.querySelector('#nav_cwe'),
        intro: "The Common Weakness Enumerator (CWE) identifier of the Vulnerability Finding is listed here."
      },
      {
        title: 'CVE Column',
        element: document.querySelector('#nav_cve'),
        intro: "The Common Vulnerability Enumerator (CVE) identifier of the Vulnerability Finding is listed here."
      },
      {
        title: 'Date Column',
        element: document.querySelector('#nav_date'),
        intro: "The Date and Time the Vulnerability Finding was added is listed here."
      },
      {
        title: 'Age Column',
        element: document.querySelector('#nav_age'),
        intro: "The Age of the Vulnerability Finding is listed here."
      },
      {
        title: 'SLA Column',
        element: document.querySelector('#nav_sla'),
        intro: "The assigned SLA (by severity) of the Vulnerability Finding is listed here."
      },
      {
        title: 'Found By Column',
        element: document.querySelector('#nav_found_by'),
        intro: "The source of the Vulnerability Finding is listed here."
      },
      {
        title: 'Status Column',
        element: document.querySelector('#nav_status'),
        intro: "The Status of the Vulnerability Finding is listed here."
      },
      {
        title: 'Resource Type Column',
        element: document.querySelector('#nav_resource_type'),
        intro: "The Resource Type of the Vulnerability Finding is listed here."
      },
      {
        title: 'Resource Column',
        element: document.querySelector('#nav_resource'),
        intro: "The Resource related to the Vulnerability Finding is listed here."
      },
      {
        title: 'Pagination',
        element: document.querySelector('.help_pagination'),
        intro: "To scroll through multiple pages of listings and to adjust the entries per page, use the Pagination menu."
      },
      {
        intro: "Vulnerability Findings Page tour completed!"
      },


    ]
  })
  ijs.onchange(function(targetElement) {
    console.log(this._currentStep)
      if (this._currentStep === 2) {
          document.querySelector('#nav_filter_btn').click();
      } else if (this._currentStep === 5) {
          document.querySelector('#nav_filter_cancel_btn').click();
      } else if (this._currentStep === 6) {
          document.querySelector('#nav_csv_upload').click();
      } else if (this._currentStep === 9) {
          document.querySelector('#nav_modal_close_btn').click();
      }
  });


function startIntroTour() {
    ijs.start();
}

</script>

{% endblock %}