{% extends 'base_auth.html' %}

{% block app_content %}

    <div class="container-fluid">
        <!-- start of tabs -->


        <div class="row">
            <div class="col-md-12 active">
                <h3 class="no-margin-top" style="padding-bottom: 5px;color: floralwhite;">
                    {{ app_data.ApplicationName }}

                </h3>
                {% include "assets/application_horizontal_bar.html" %}
            </div>
        </div>


        <!-- end of tabs -->
        <div class="row">
            <div class="col-lg-12">

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div id="base-content" class="col-lg-12">


                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li><a data-toggle="tooltip" data-placement="top" title="Finding" href="/finding/{{ app_data.ID }}/{{ details.VulnerabilityID }}">{{ details.VulnerabilityName }}</a></li>

                        <li class="breadcrumb-item active" aria-current="page">Review Finding</li>

                    </ol>
                </nav>


                <h3 style="color: white;"> Mark Finding for Review</h3>
                <h4 style="color: white;">{{ details.VulnerabilityName }}</h4>
                <p style="color: white;">Please provide a reason why this finding needs to be reviewed.</p>
                <form class="form-horizontal" action="/finding/{{ app_data.ID }}/{{ details.VulnerabilityID }}/request_review" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>


                    <div class="form-group">


                        <label class="col-sm-2 control-label" for="id_reviewers" style="color: white;">Reviewers<sup>*</sup>

                            <div class="fa fa-question-circle has-popover" data-trigger="hover"
                               data-content="Select all users who can review Finding." data-placement="right"
                               data-container="body" data-original-title="" title="">
                            </div>

                        </label>

                        <div class="col-sm-10  ">
                            <select name="reviewers" class="form-control selectpicker" required="" id="id_reviewers"
                                    multiple="" data-live-search="true" data-container="body" style="width: 70%;">
                                <option value="1">(admin)</option>
                            </select>

                        </div>

                    </div>

                    <div class="form-group">


                        <label class="col-sm-2 control-label
                        " for="id_entry" style="color: white;">Notes:<sup>*</sup>

                            <div class="fa fa-question-circle has-popover" data-trigger="hover"
                               data-content="Please provide a message for reviewers." data-placement="right"
                               data-container="body" data-original-title="" title="">
                            </div>

                        </label>

                        <div class="col-sm-10  ">
                            <textarea name="entry" cols="40" rows="10" maxlength="2400" class="form-control" required=""
                                      id="id_entry"></textarea>


                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input class="btn btn-primary" name="submit" type="submit" value="Mark for Review" style="width: auto;">
                        </div>
                    </div>
                </form>

            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>




{% endblock %}