{% extends 'base_auth.html' %}

{% block app_content %}

    <div class="container-fluid">
        <!-- start of tabs -->
        <div class="row">
            <div class="col-md-12 active">
                <h3 class="no-margin-top" style="padding-bottom: 5px;color: floralwhite;">{{ app_data.ApplicationName }}:{{ app_data.Component }}

                </h3>
                {% include "assets/component_horizontal_bar.html" %}
            </div>
        </div>


        <div class="row hidden-xs">
            <div class="col-lg-12">
                <div class="dropdown pull-right">
                    <button class="btn btn-primary" type="button" id="help_btn" onclick="startIntroTour()">
                        <i class="fa-solid fa-question"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- end of tabs -->
        <div class="row">
            <div class="col-lg-12"></div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div id="base-content" class="col-lg-12">
                <form class="form-horizontal" action="/add_cicd_pipeline/{{ app_data.ID }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <link href="/static/tagulous/lib/select2-4/css/select2.min.css" type="text/css" media="all" rel="stylesheet">
                    <script src="/static/tagulous/lib/select2-4/js/select2.full.min.js"></script>
                    <script src="/static/tagulous/tagulous.js"></script>
                    <script src="/static/tagulous/adaptor/select2-4.js"></script>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="projectName" style="color:white;">Project Name:</label>
                        <div class="col-sm-10  ">
                            <input type="text" class="form-control" id="projectName" name="project_name" value="{{ all_sources[3] }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="url" style="color:white;">URL (optional):</label>
                        <div class="col-sm-10  ">
                            <input type="url" class="form-control" id="url" name="url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="description" style="color:white;">Description:</label>
                        <div class="col-sm-10  ">
                            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="source" style="color:white;">Source:</label>
                        <div class="col-sm-10  ">
                            <select class="form-control" class="form-control selectpicker" id="source" name="source" data-live-search="true" data-container="body" style="width: 70%;">
                                <option selected disabled>{{ all_sources[1] }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input style="width: max-content;margin-left: 94px;margin-top: 1rem;" class="btn btn-primary" type="submit" value="Submit" id="nav_submit_btn">
                        </div>
                    </div>
                </form>

            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>

<script src="/static/js/index.js"></script>


{% endblock %}
{% block scripts %}
  {{ super() }}
{#  Scripts  #}
<script>
var ijs = introJs()
  ijs.setOptions({
    steps: [
      {
        intro: "Welcome to the Add CI/CD Pipeline Integration Page!  On this page, you can add a new CI/CD Pipeline Integration for the Application component. Let's take a quick tour!"
      },
      {
        title: 'Project Name',
        element: document.querySelector('#projectName'),
        intro: "Add the name of the CI/CD Pipeline Job or Project here."
      },
      {
        title: 'Pipeline URL',
        element: document.querySelector('#url'),
        intro: "If available, add the Pipeline URL in this field."
      },
      {
        title: 'Description',
        element: document.querySelector('#description'),
        intro: "Add an optional description of the CI/CD Pipeline integration."
      },
      {
        title: 'Pipeline Source',
        element: document.querySelector('#source'),
        intro: "Select the source of the CI/CD Pipeline."
      },
      {
        title: 'Submit New Pipeline',
        element: document.querySelector('#nav_submit_btn'),
        intro: "After adding the necessary information, click on the 'Submit' button to save the new integration."
      },
      {
        intro: "Add CI/CD Pipeline Integration Page tour completed!"
      },


    ]
  })
  ijs.onchange(function(targetElement) {
    console.log(this._currentStep)
      if (this._currentStep === 3) {
          console.log(document.querySelector('#nav_metrics').classList)
          document.querySelector('#nav_metrics').classList.add('open');
          console.log(document.querySelector('#nav_metrics').classList)
    }
  });


function startIntroTour() {
    ijs.start();
}

</script>

{% endblock %}

