{% extends 'base_auth.html' %}

{% block app_content %}

    <div class="container-fluid">
        <!-- start of tabs -->
        <div class="row">
            <div class="col-md-12 active">
                <h3 class="no-margin-top" style="padding-bottom: 5px;color: floralwhite;">{{ app_data.ApplicationName }}:{{ app_data.Component }}
                </h3>
                {% include "assets/component_horizontal_bar.html" %}
            </div>
        </div>





        <!-- end of tabs -->
        <div class="row">
            <div class="col-lg-12">

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div id="base-content" class="col-lg-12">


                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading tight">
                                <h3 class="has-filters">
                                    Integration Configurations
                                    <div class="dropdown pull-right" style="bottom: 1rem;">

                                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1"
                                                data-toggle="dropdown" aria-expanded="true">
                                            <span class="fa fa-wrench"></span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu"
                                            aria-labelledby="dropdownMenu1">
                                            <li role="presentation">
                                                <a href="/add_app_integration/{{ app_data.ID }}">
                                                    <div class="fa fa-plus"></div> Add Integration
                                                </a>
                                            </li>
                                        </ul>

                                        <button class="btn btn-primary" type="button" id="help_btn" onclick="startIntroTour()">
                                            <i class="fa-solid fa-question"></i>
                                        </button>

                                    </div>
                                </h3>
                            </div>

                        </div>


                        <div class="clearfix">


                        </div>
                        <div class="panel panel-default table-responsive">
                            <table id="products" class="tablesorter-bootstrap table table-condensed table-striped" aria-describedby="Component Table" >
                                <thead>
                                <tr>
                                    <th id="nav_project_key">Project Key</th>
                                    <th id="nav_category">Category</th>
                                    <th id="nav_delete"></th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for i in entities %}
                                <tr>
                                    <td>
                                        {{ i.AppEntity }}
                                    </td>
                                    <td>
                                        {{ i.Type }}
                                    </td>
                                    <td class="text-center">
                                        <div class="fa-solid fa-trash btn-delete" data-toggle="modal" data-target="#deleteModal-{{i.id}}"></div>
                                    </td>
                                </tr>

                                     <!-- Delete Confirmation Modal -->
                                        <div class="modal fade" id="deleteModal-{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to remove this integration? This action is irreversible.
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        <button type="button" class="btn btn-danger" onclick="deleteUser({{i.ID}})">Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix">


                        </div>

                    </div>
                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>

<script>
function deleteUser(env_id) {
    var xhttp = new XMLHttpRequest();
    var csrf_token = "{{ csrf_token() }}";
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            location.reload();
        }
    };
    xhttp.open("POST", '/remove_app_integration', true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.setRequestHeader("X-CSRF-Token", csrf_token);
    xhttp.send("env_id=" + env_id);
}
</script>



{% endblock %}
{% block scripts %}
  {{ super() }}
{#  Scripts  #}
<script>
var ijs = introJs()
  ijs.setOptions({
    steps: [
      {
        intro: "Welcome to the Integration Configurations Page!  On this page, you can view and configure 3rd party integrations. Let's take a quick tour!"
      },
      {
        title: 'Project Key Column',
        element: document.querySelector('#nav_project_key'),
        intro: "The name of the Application component-specific Integration is shown here."
      },
      {
        title: 'Category Column',
        element: document.querySelector('#nav_category'),
        intro: "The category or source of the integration is listed in this column."
      },
      {
        title: 'Delete Column',
        element: document.querySelector('#nav_delete'),
        intro: "To remove or delete the integration, click on the 'Trash' icon."
      },
      {
        title: 'Add New Integration',
        element: document.querySelector('#dropdownMenu1'),
        intro: "To add a new integration, click on the dropdown menu to get started."
      },
      {
        intro: "Integration Configurations Page tour completed!"
      },


    ]
  })
  ijs.onchange(function(targetElement) {
    console.log(this._currentStep)
      if (this._currentStep === 3) {
          console.log(document.querySelector('#nav_metrics').classList)
          document.querySelector('#nav_metrics').classList.add('open');
          console.log(document.querySelector('#nav_metrics').classList)
    }
  });


function startIntroTour() {
    ijs.start();
}

</script>

{% endblock %}