{% extends 'base_auth.html' %}

{% block app_content %}

    <div class="container-fluid">
        <!-- start of tabs -->
        <div class="row">
            <div class="col-md-12 active">
                <h3 class="no-margin-top" style="padding-bottom: 5px;color: floralwhite;">{{ app_data.ApplicationName }}:{{ app_data.Component }}

                </h3>
                {% include "assets/component_horizontal_bar.html" %}
            </div>
        </div>


        <!-- end of tabs -->
        <div class="row">
            <div class="col-lg-12">

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div id="base-content" class="col-lg-12">


                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading tight">
                                <div class="clearfix">
                                <h3 class="pull-left">
                                    Service Tickets
                                </h3>

                                    <div class="dropdown pull-right">
                                        <button class="btn btn-primary" type="button" id="help_btn" onclick="startIntroTour()">
                                            <i class="fa-solid fa-question"></i>
                                        </button>
                                    </div>

                                </div>
                            </div>

                        </div>


                        <div class="clearfix"></div>

                        {% include "pagination_tab.html" %}

                        <div class="panel panel-default table-responsive">
                            <table id="products" class="tablesorter-bootstrap table table-condensed table-striped" aria-describedby="Components Table">
                                <thead>
                                <tr>
                                    <input type="hidden" id="val_page" value="{{ table_details['page'] }}">
                                    <input type="hidden" id="val_per_page" value="{{ table_details['per_page'] }}">
                                    <input type="hidden" id="val_orderby" value="{{ table_details['orderby'] }}">

                                    <th id="nav_ticket_name">Ticket Name</th>
                                    <th id="nav_add_date">Add Date</th>
                                    <th id="nav_application">Application</th>
                                    <th id="nav_source">Source</th>
                                    <th id="nav_status">Status</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for i in entities %}
                                <tr>
                                    <td>
                                        <a href="/issue/{{ app_data.ID }}/{{ i.ID }}"><strong>{{ i.TicketName }}</strong></a>
                                    </td>
                                    <td>
                                        {{ i.AddDate }}
                                    </td>
                                    <td>
                                        {{ i.ApplicationName }}
                                    </td>
                                    <td>
                                        {{ i.Source }}
                                    </td>
                                    <td>
                                        {{ i.Status }}
                                    </td>


                                </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>

                        {% include "pagination_tab.html" %}

                    </div>
                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>

<script>
function updatePerPage(app_id, new_per_page) {
    var cur_page = document.getElementById('val_page').value;
    var cur_per_page = document.getElementById('val_per_page').value;
    var cur_orderby = document.getElementById('val_orderby').value;
    var xhttp = new XMLHttpRequest();
    var csrf_token = "{{ csrf_token() }}";
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var resp = this.responseText;
        document.body.parentElement.innerHTML = resp;
    }
  };
  xhttp.open("POST", "/application_issues/" + app_id, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.setRequestHeader("X-CSRF-Token", csrf_token);
  xhttp.send("cur_page=" + cur_page + "&cur_per_page=" + cur_per_page + "&cur_orderby=" + cur_orderby + "&new_per_page=" + new_per_page);
}

function updatePagination(app_id, new_page) {
    var cur_page = document.getElementById('val_page').value;
    var cur_per_page = document.getElementById('val_per_page').value;
    var cur_orderby = document.getElementById('val_orderby').value;
    var xhttp = new XMLHttpRequest();
    var csrf_token = "{{ csrf_token() }}";
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var resp = this.responseText;
        document.body.parentElement.innerHTML = resp;
    }
  };
  xhttp.open("POST", "/application_issues/" + app_id, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.setRequestHeader("X-CSRF-Token", csrf_token);
  xhttp.send("cur_page=" + cur_page + "&cur_per_page=" + cur_per_page + "&cur_orderby=" + cur_orderby + "&new_page=" + new_page);
}

function fieldSorter(app_id, field_name, new_dir) {
    var cur_page = document.getElementById('val_page').value;
    var cur_per_page = document.getElementById('val_per_page').value;
    var cur_orderby = document.getElementById('val_orderby').value;
    var xhttp = new XMLHttpRequest();
    var csrf_token = "{{ csrf_token() }}";
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var resp = this.responseText;
        document.body.parentElement.innerHTML = resp;
    }
  };
  xhttp.open("POST", "/application_issues/" + app_id, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.setRequestHeader("X-CSRF-Token", csrf_token);
  xhttp.send("field_name=" + field_name + "&cur_page=" + cur_page + "&cur_per_page=" + cur_per_page + "&cur_orderby=" + cur_orderby + "&new_dir=" + new_dir);
}
</script>

{% endblock %}
{% block scripts %}
  {{ super() }}
{#  Scripts  #}
<script>
var ijs = introJs()
  ijs.setOptions({
    steps: [
      {
        intro: "Welcome to the Service Tickets Page!  On this page, you can view a list of service tickets related to the application component. Let's take a quick tour!"
      },
      {
        title: 'Ticket Name Column',
        element: document.querySelector('#nav_ticket_name'),
        intro: "The name of the Service Ticket is shown here."
      },
      {
        title: 'Add Date Column',
        element: document.querySelector('#nav_add_date'),
        intro: "The Date and Time that the Service Ticket was created is listed in this column."
      },
      {
        title: 'Application Column',
        element: document.querySelector('#nav_application'),
        intro: "The name of the Application associated with the Service Ticket is listed here."
      },
      {
        title: 'Source Column',
        element: document.querySelector('#nav_source'),
        intro: "The Source of the Service Ticket is listed here."
      },
      {
        title: 'Status Column',
        element: document.querySelector('#nav_status'),
        intro: "The Status of the Service Ticket is listed here."
      },
      {
        title: 'Pagination',
        element: document.querySelector('.help_pagination'),
        intro: "To scroll through multiple pages of listings and to adjust the entries per page, use the Pagination menu."
      },
      {
        intro: "Service Tickets Page tour completed!"
      },


    ]
  })
  ijs.onchange(function(targetElement) {
    console.log(this._currentStep)
      if (this._currentStep === 3) {
          console.log(document.querySelector('#nav_metrics').classList)
          document.querySelector('#nav_metrics').classList.add('open');
          console.log(document.querySelector('#nav_metrics').classList)
    }
  });


function startIntroTour() {
    ijs.start();
}

</script>

{% endblock %}