{% extends 'base_auth.html' %}

{% block app_content %}

    <div class="container-fluid">
        <!-- start of tabs -->
        <div class="row">
            <div class="col-md-12 active">
                <h3 class="no-margin-top" style="padding-bottom: 5px;color: floralwhite;">{{ app_data.ApplicationName }}:{{ app_data.Component }}

                </h3>
                {% include "assets/component_horizontal_bar.html" %}
            </div>
        </div>


        <div class="row hidden-xs">
            <div class="col-lg-12">


                <div class="dropdown pull-right">
                    <button class="btn btn-primary" type="button" id="help_btn" onclick="startIntroTour()">
                        <i class="fa-solid fa-question"></i>
                    </button>
                </div>

            </div>
        </div>
        <!-- end of tabs -->
        <div class="row">
            <div class="col-lg-12"></div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div id="base-content" class="col-lg-12">
                <form class="form-horizontal" action="/edit_application/{{ app_data.ID }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <link href="/static/tagulous/lib/select2-4/css/select2.min.css" type="text/css" media="all" rel="stylesheet">
                    <script src="/static/tagulous/lib/select2-4/js/select2.full.min.js"></script>
                    <script src="/static/tagulous/tagulous.js"></script>
                    <script src="/static/tagulous/adaptor/select2-4.js"></script>
                    <div class="form-group">
                        <label id="nav_app_name" class="col-sm-2 control-label" for="id_appname" style="color:white;">Application Name<sup>*</sup></label>
                        <div class="col-sm-10  ">
                            <input type="text" name="name" maxlength="255" class="form-control" required="" id="id_appname" value="{{ app_data.ApplicationName }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="id_componentname" style="color:white;">Component Name<sup>*</sup></label>
                        <div class="col-sm-10  ">
                            <input type="text" name="componentname" maxlength="255" class="form-control" required="" id="id_componentname" value="{{ app_data.Component }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="id_description" style="color:white;">Description</label>
                        <div class="col-sm-10  ">
                            <textarea name="description" cols="40" rows="10" class="form-control" id="req">{{ app_data.Description }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="id_initial_version" style="color:white;">Initial Version</label>
                        <div class="col-sm-10  ">
                            <input type="text" name="initial_version" maxlength="255" class="form-control" id="id_initial_version" value="{{ app_data.Version }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="id_repo_url" style="color:white;">Code Repository URL</label>
                        <div class="col-sm-10  ">
                            <input type="text" name="repo_url" maxlength="255" class="form-control" id="id_repo_url" value="{{ app_data.RepoURL }}">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="id_prod_type" style="color:white;">Product Type</label>
                        <div class="col-sm-10  ">
                            <select name="prod_type" class="form-control selectpicker" id="id_prod_type"
                                    data-live-search="true" data-container="body" style="width: 70%;">
                                <option value="">---------</option>
                                {% for i in product_types %}
                                    <option value="{{ i }}" {% if i == app_data.ProductType %}selected=""{% endif %}>{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="id_sla_configuration" style="color:white;">SLA Configuration<sup>*</sup></label>
                        <div class="col-sm-10  ">
                            <select name="sla_configuration" class="form-control selectpicker" id="id_sla_configuration"
                                    data-live-search="true" data-container="body" style="width: 70%;">
                                <option value="">---------</option>
                                {% for i in all_slas %}
                                    <option value="{{ i.ID }}" {% if i.ID == app_data.SlaID %}selected=""{% endif %}>{{ i.Name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="id_regulations" style="color:white;">Regulations</label>
                        <div class="col-sm-10  ">
                            <select name="regulations" class="form-control selectpicker" id="id_regulations" multiple=""
                                    data-live-search="true" data-container="body" style="width: 70%;">
                                {% for i in all_regs %}

                                    <option value="{{ i.ID }}" {% for j in app_regs %}{% if i.ID == j.RegulationID %}selected=""{% endif %}{% endfor %}>{{ i.Acronym }} ({{ i.Jurisdiction }})</option>


                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="id_data_types" style="color:white;">Sensitive Data Types</label>
                        <div class="col-sm-10  ">
                            <select name="data_types" class="form-control selectpicker" id="id_data_types" multiple=""
                                    data-live-search="true" data-container="body" style="width: 70%;">
                                <option value="PCI" {% if app_data.PCI == "1" %}selected=""{% endif %}>Credit Card Info (PCI)</option>
                                <option value="PHI" {% if app_data.PHI == "1" %}selected=""{% endif %}>Health Info (PHI)</option>
                                <option value="PII" {% if app_data.PII == "1" %}selected=""{% endif %}>Personally Identifiable Info (PII)</option>
                                <option value="MiscCustomerData" {% if app_data.MiscCustomerData == "1" %}selected=""{% endif %}>Miscellaneous Customer Data</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="id_business_criticality" style="color:white;">Business criticality</label>
                        <div class="col-sm-10  ">
                            <select name="business_criticality" class="form-control selectpicker" id="id_business_criticality"
                                    data-live-search="true" data-container="body" style="width: 70%;">
                                <option value="">---------</option>
                                <option value="Critical" {% if app_data.AppValue == 'Critical' %}selected=""{% endif %}>Critical</option>
                                <option value="High" {% if app_data.AppValue == 'High' %}selected=""{% endif %}>High</option>
                                <option value="Medium" {% if app_data.AppValue == 'Medium' %}selected=""{% endif %}>Medium</option>
                                <option value="Low" {% if app_data.AppValue == 'Low' %}selected=""{% endif %}>Low</option>
                                <option value="Minimal" {% if app_data.AppValue == 'Minimal' %}selected=""{% endif %}>Minimal</option>
                                <option value="none">None</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="id_platform" style="color:white;">Platform</label>
                        <div class="col-sm-10  ">
                            <select name="platform" class="form-control selectpicker" id="id_platform" data-live-search="true" data-container="body" style="width: 70%;">
                                <option value="">---------</option>
                                <option value="api" {% if app_data.Type == 'api' %}selected=""{% endif %}>API</option>
                                <option value="desktop" {% if app_data.Type == 'desktop' %}selected=""{% endif %}>Desktop</option>
                                <option value="iot" {% if app_data.Type == 'iot' %}selected=""{% endif %}>Internet of Things</option>
                                <option value="mobile" {% if app_data.Type == 'mobile' %}selected=""{% endif %}>Mobile</option>
                                <option value="web" {% if app_data.Type == 'web' %}selected=""{% endif %}>Web</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="id_lifecycle" style="color:white;">Lifecycle</label>
                        <div class="col-sm-10  ">
                            <select name="lifecycle" class="form-control selectpicker" id="id_lifecycle"
                                    data-live-search="true" data-container="body" style="width: 70%;">
                                <option value="">---------</option>
                                <option value="construction" {% if app_data.Lifecycle == 'construction' %}selected=""{% endif %}>Construction</option>
                                <option value="production" {% if app_data.Lifecycle == 'production' %}selected=""{% endif %}>Production</option>
                                <option value="retirement" {% if app_data.Lifecycle == 'retirement' %}selected=""{% endif %}>Retirement</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="id_origin" style="color:white;">Origin</label>
                        <div class="col-sm-10  ">
                            <select name="origin" class="form-control selectpicker" id="id_origin" data-live-search="true"
                                    data-container="body" style="width: 70%;">
                                <option value="">---------</option>
                                <option value="third party library" {% if app_data.Origin == 'third party library' %}selected=""{% endif %}>Third Party Library</option>
                                <option value="purchased" {% if app_data.Origin == 'purchased' %}selected=""{% endif %}>Purchased</option>
                                <option value="contractor" {% if app_data.Origin == 'contractor' %}selected=""{% endif %}>Contractor Developed</option>
                                <option value="internal" {% if app_data.Origin == 'internal' %}selected=""{% endif %}>Internally Developed</option>
                                <option value="open source" {% if app_data.Origin == 'open source' %}selected=""{% endif %}>Open Source</option>
                                <option value="outsourced" {% if app_data.Origin == 'outsourced' %}selected=""{% endif %}>Outsourced</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="id_user_records" style="color:white;">User records
                            <div class="fa fa-question-circle has-popover" data-trigger="hover"
                               data-content="Estimate the number of user records within the application."
                               data-placement="right" data-container="body" data-original-title="" title="">
                            </div>
                        </label>
                        <div class="col-sm-10  ">
                            <input type="number" name="user_records" min="0" class="form-control" id="id_user_records" value="{{ app_data.UserRecords }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="id_revenue" style="color:white;">Revenue
                            <div class="fa fa-question-circle has-popover" data-trigger="hover"
                               data-content="Estimate the application's revenue." data-placement="right"
                               data-container="body" data-original-title="" title="">
                            </div>
                        </label>
                        <div class="col-sm-10  ">
                            <input type="number" name="revenue" step="0.01" class="form-control" id="id_revenue" value="{{ app_data.Revenue }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10 ">
                            <div class="checkbox">
                                <label style="color:white;">
                                    <input type="checkbox" name="internet_accessible" id="id_internet_accessible" {% if app_data.WebEnabled == '1' %}checked=""{% endif %}>
                                    <span style="margin-left: 50px;">Internet accessible</span>
                                    <div class="fa fa-question-circle has-popover" data-trigger="hover"
                                       data-content="Specify if the application is accessible from the public internet."
                                       data-placement="right" data-container="body" data-original-title="" title="">
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input style="width: max-content;margin-left: 94px;margin-top: 1rem;" class="btn btn-primary" type="submit" value="Submit" id="nav_submit_btn">
                        </div>
                    </div>
                </form>

            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>


{% endblock %}
{% block scripts %}
  {{ super() }}
{#  Scripts  #}
<script>
var ijs = introJs()
  ijs.setOptions({
    steps: [
      {
        intro: "Welcome to the Edit Application Page!  On this page, you can edit information about the Application component. Let's take a quick tour!"
      },
      {
        title: 'Data Field',
        element: document.querySelector('#nav_app_name'),
        intro: "On the left, you will see the name of the data field."
      },
      {
        title: 'Data Value',
        element: document.querySelector('#id_appname'),
        intro: "On the right, you can modify the value of the field."
      },
      {
        title: 'Save Changes',
        element: document.querySelector('#nav_submit_btn'),
        intro: "Once you have updated the necessary fields, click on the 'Submit' button to save your changes."
      },
      {
        intro: "Edit Application Page tour completed!"
      },


    ]
  })
  ijs.onchange(function(targetElement) {
    console.log(this._currentStep)
      if (this._currentStep === 3) {
          console.log(document.querySelector('#nav_metrics').classList)
          document.querySelector('#nav_metrics').classList.add('open');
          console.log(document.querySelector('#nav_metrics').classList)
    }
  });


function startIntroTour() {
    ijs.start();
}

</script>

{% endblock %}

