{% extends 'base_auth.html' %}

{% block app_content %}
    <div class="container-fluid">

        <!-- start of tabs -->
        <div class="row">
            <div class="col-md-12 active">
                <h3 class="no-margin-top" style="padding-bottom: 5px;color: floralwhite;">{{ app_data.ApplicationName }}:{{ app_data.Component }}

                </h3>
                {% include "assets/component_horizontal_bar.html" %}
            </div>
        </div>

        <h2 class="my-4" style="color: white;">CI/CD Pipeline Integrations
        <div class="dropdown pull-right">
                                        <button class="btn btn-primary" type="button" id="help_btn" onclick="startIntroTour()">
                                            <i class="fa-solid fa-question"></i>
                                        </button>
                                    </div>
        </h2>

        <div class="row">
            <div class="col-md-4">
                <label for="assessment-type" style="color: white;">Select Assessment Type:</label>
                <select id="assessment-type" class="form-control" onchange="updateOpts();">
                    <option value="">--Select Assessment Type--</option>
                    <option value="Secret Scanning">Secret Scanning</option>
                    <option value="SCA">SCA</option>
                    <option value="SAST">SAST</option>
                    <option value="IaC Security Scanning">IaC Security Scanning</option>
                    <option value="Container Security Scanning">Container Security Scanning</option>
                    <option value="Infrastructure Security Scanning">Infrastructure Security Scanning</option>
                    <option value="Dynamic Application Security Testing (DAST)">Dynamic Application Security Testing (DAST)</option>
                    <option value="Dynamic API Security Testing (DAST-API)">Dynamic API Security Testing (DAST-API)</option>
                    <option value="Security Quality Gate">Security Quality Gate</option>
                    <!-- Add other Assessment Types here -->
                </select>
            </div>


        </div>

        <div class="row" id="language_container" style="display: none;">
            <div class="col-md-2">
                <label style="color: white;margin-top: 1em;">Languages Used:</label>

                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="Android">
                        <span style="padding-left: 1.75em;">Android</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="Apex">
                        <span style="padding-left: 1.75em;">Apex</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="ASP Classic">
                        <span style="padding-left: 1.75em;">ASP Classic</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="COBOL">
                        <span style="padding-left: 1.75em;">COBOL</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="ColdFusion">
                        <span style="padding-left: 1.75em;">ColdFusion</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="C/C++">
                        <span style="padding-left: 1.75em;">C/C++</span>
                    </label>
                </div>
            </div>
            <div class="col-md-2" style="margin-top: 2.75em;">
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="Dart/Flutter">
                        <span style="padding-left: 1.75em;">Dart/Flutter</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="Go">
                        <span style="padding-left: 1.75em;">Go</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="Groovy">
                        <span style="padding-left: 1.75em;">Groovy</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="iOS">
                        <span style="padding-left: 1.75em;">iOS</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="Ionic">
                        <span style="padding-left: 1.75em;">Ionic</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="Java">
                        <span style="padding-left: 1.75em;">Java</span>
                    </label>
                </div>
            </div>
            <div class="col-md-2" style="margin-top: 2.75em;">
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="JavaScript">
                        <span style="padding-left: 1.75em;">JavaScript</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="Kotlin">
                        <span style="padding-left: 1.75em;">Kotlin</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value=".NET">
                        <span style="padding-left: 1.75em;">.NET</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value=".NET MAUI">
                        <span style="padding-left: 1.75em;">.NET MAUI</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="Perl">
                        <span style="padding-left: 1.75em;">Perl</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="PhoneGap/Cordova">
                        <span style="padding-left: 1.75em;">PhoneGap/Cordova</span>
                    </label>
                </div>
            </div>
            <div class="col-md-2" style="margin-top: 2.75em;">
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="PHP">
                        <span style="padding-left: 1.75em;">PHP</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="PL/SQL">
                        <span style="padding-left: 1.75em;">PL/SQL</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="Python">
                        <span style="padding-left: 1.75em;">Python</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="React Native">
                        <span style="padding-left: 1.75em;">React Native</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="RPG">
                        <span style="padding-left: 1.75em;">RPG</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="Ruby on Rails">
                        <span style="padding-left: 1.75em;">Ruby on Rails</span>
                    </label>
                </div>
            </div>
            <div class="col-md-2" style="margin-top: 2.75em;">
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="Scala">
                        <span style="padding-left: 1.75em;">Scala</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="Titanium">
                        <span style="padding-left: 1.75em;">Titanium</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="Transact-SQL">
                        <span style="padding-left: 1.75em;">Transact-SQL</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="TypeScript">
                        <span style="padding-left: 1.75em;">TypeScript</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="Visual Basic 6">
                        <span style="padding-left: 1.75em;">Visual Basic 6</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="dyn_checkbox"><input style="margin-left: 0em !important;" type="checkbox" name="tests[]" value="Xamarin">
                        <span style="padding-left: 1.75em;">Xamarin</span>
                    </label>
                </div>

            </div>

        </div>

        <div class="row" id="docker_container" style="display: none;">
            <div class="col-md-4">
                <label for="image_name" style="color: white;">Container Image Name:</label>
                <input id="image_name" class="form-control" type="text"/>
                <label for="image_tag" style="color: white;">Container Image Tag:</label>
                <input id="image_tag" class="form-control" type="text" placeholder="latest"/>
                <label for="image_registry" style="color: white;">Container Registry Name:</label>
                <input id="image_registry" class="form-control" type="text"/>
            </div>
        </div>

        <div class="row" id="dast_container" style="display: none;">
            <div class="col-md-4">
                <label for="target_url" style="color: white;">Target URL:</label>
                <input id="target_url" class="form-control" type="text"/>
            </div>
        </div>




        <div class="row" style="padding-top: 1.5rem;">
            <div class="col-md-12">
                <button id="nav_submit_btn" class="btn btn-primary mt-4" onclick="updateCode();">Submit</button>
            </div>
        </div>



        <div id="pre_reqs_container" style="display: none;padding-top: 2.5rem;">
            <div class="row">
                <div class="col-md-12">
                    <label for="output-prereqs" style="color: white;">Pre-Requisites:</label>
                    <div id="output-prereqs" style="color: white;"></div>
                </div>
            </div>
        </div>
        <div id="env_container" style="display: none;padding-top: 2.5rem;">
            <div class="row">
                <div class="col-md-12">
                    <label for="output-env" style="color: white;">Environment Variables:</label>
                    <textarea id="output-env" class="form-control" rows="10" readonly></textarea>
                </div>
            </div>

            <div class="row" style="padding-top: 1.5rem;">
                <div class="col-md-12">
                    <button class="btn btn-primary mt-4" onclick="copyToClipboard()">Copy to Clipboard</button>
                </div>
            </div>
        </div>
        <div id="stage_data_container" style="display: none;padding-top: 2.5rem;">
            <div class="row">
                <div class="col-md-12">
                    <label for="output-stage_data" style="color: white;">Stage Data:</label>
                    <textarea id="output-stage_data" class="form-control" rows="10" readonly></textarea>
                </div>
            </div>

            <div class="row" style="padding-top: 1.5rem;">
                <div class="col-md-12">
                    <button class="btn btn-primary mt-4" onclick="copyToClipboard()">Copy to Clipboard</button>
                    <button class="btn btn-primary mt-4" data-toggle="modal" data-target="#validateModal">Validate</button>
                </div>
            </div>
        </div>

        <br><br><br>

        <!-- Validation Modal -->
        <div class="modal fade" id="validateModal" tabindex="-1" role="dialog" aria-labelledby="validateModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="validateModalLabel">Validate Stage Configuration</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="gitBranch">Git Branch (required):</label>
                            <input type="text" class="form-control" id="gitBranch" placeholder="main" value="main">
                        </div>
                        <div class="form-group">
                            <label for="emailDistribution">Email Distribution List (optional):</label>
                            <input type="text" class="form-control" id="emailDistribution" placeholder="Enter email distribution list">
                        </div>
                    </div>
                    <p>NOTE: This will perform a Security Assessment with these configurations on the OnDemand Security Pipeline.  This process can take up to 1 hour to complete and the results will be emailed to your registered email in addition to the optional Email distribution list entered above.</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="validateStageData()">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Confirm Modal -->
        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="confirmModalLabel">Validation In Progress</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <p>Thank you for your submission.  You should expect an email with the results of the testing within the next 30 minutes depending on the scope of the desired testing.</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        // Define the mapping of CI/CD Type and Assessment Type to Vendors
        var vendorsMap = {
            'Jenkins': {
                'Secret Scanning': ['Trufflehog'],
                'SCA': ['Snyk'],
                'SAST': ['SonarQube'],
                'IaC Security Scanning': ['Terrascan'],
                'Container Security Scanning': ['Anchore'],
                'Infrastructure Security Scanning': [],
                'Dynamic Application Security Testing (DAST)': ['OWASP-ZAP'],
                'Dynamic API Security Testing (DAST-API)': ['OWASP-ZAP'],
                'Security Quality Gate': ['SecurityUniversal']
            }
        };

        function updateOpts() {
            document.getElementById("pre_reqs_container").style.display = "none";
            document.getElementById("env_container").style.display = "none";
            document.getElementById("stage_data_container").style.display = "none";
            document.getElementById("language_container").style.display = "none";
            document.getElementById("docker_container").style.display = "none";
            document.getElementById("dast_container").style.display = "none";
            var assessmentType = document.getElementById('assessment-type').value;

            if (assessmentType) {
                // Generate the code based on the selected CI/CD Pipeline Integration, Assessment Type, and Vendor
                var language_rec = ["SCA", "SAST"];
                if (language_rec.includes(assessmentType)) {
                    document.getElementById("language_container").style.display = "block";
                }
                if (assessmentType == "Container Security Scanning") {
                    document.getElementById("docker_container").style.display = "block";
                }

                if (assessmentType == "Dynamic Application Security Testing (DAST)" || assessmentType == "Dynamic API Security Testing (DAST-API)") {
                    document.getElementById("dast_container").style.display = "block";
                }
            }
        }

        function updateCode() {
            var assessmentType = document.getElementById('assessment-type').value;

            if (assessmentType) {
                // Generate the code based on the selected CI/CD Pipeline Integration, Assessment Type, and Vendor
                getStageData();
            }
        }

        function copyToClipboard() {
            var outputCode = document.getElementById('output-code');
            outputCode.select();
            document.execCommand('copy');
            alert('Code copied to clipboard!');
        }

        function getStageData() {
          var stage = document.getElementById('assessment-type').value;
          var xhttp = new XMLHttpRequest();
          var csrf_token = "{{ csrf_token() }}";
          var lang_data = ""
          var lang_rec = ["SCA", "SAST"]
          if (lang_rec.includes(stage)) {
              var checkboxes = document.querySelectorAll("#language_container input[type='checkbox']:checked");
              var checkedValues = Array.from(checkboxes).map(function(checkbox) {
                  return checkbox.value;
              });
              lang_data = checkedValues.join(', ');
          }
          var image_name = document.getElementById('image_name').value;
          var image_tag = document.getElementById('image_tag').value;
          var image_registry = document.getElementById('image_registry').value;
          var target_url = document.getElementById('target_url').value;
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var resp = JSON.parse(this.responseText);
                var outputCode = document.getElementById('output-prereqs');
                outputCode.innerHTML = resp.pre_reqs.replace(/\n/g, "<br/>");
                outputCode = document.getElementById('output-env');
                outputCode.value = resp.env_data;
                outputCode = document.getElementById('output-stage_data');
                outputCode.value = resp.stage_data;
                document.getElementById('pre_reqs_container').style.display = 'block';
                document.getElementById('env_container').style.display = 'block';
                document.getElementById('stage_data_container').style.display = 'block';
            }
          };
          xhttp.open("POST", "/get_cicd_pipeline_stage_data", true);
          xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          xhttp.setRequestHeader("X-CSRF-Token", csrf_token);
          xhttp.send("stage=" + stage + "&lang_data=" + lang_data + "&image_name=" + image_name + "&image_tag=" + image_tag + "&image_registry=" + image_registry + "&target_url=" + target_url);
        }

        function validateStageData() {
          var stage = document.getElementById('assessment-type').value;
          var xhttp = new XMLHttpRequest();
          var csrf_token = "{{ csrf_token() }}";

          var languages = ""
          var lang_rec = ["SCA", "SAST"]
          if (lang_rec.includes(stage)) {
              var checkboxes = document.querySelectorAll("#language_container input[type='checkbox']:checked");
              var checkedValues = Array.from(checkboxes).map(function(checkbox) {
                  return checkbox.value;
              });
              languages = checkedValues.join(', ');
          }

          var emails = document.getElementById('emailDistribution').value;
          var gitBranch = document.getElementById('gitBranch').value;
          var image_name = document.getElementById('image_name').value;
          var image_tag = document.getElementById('image_tag').value;
          var image_registry = document.getElementById('image_registry').value;
          var target_url = document.getElementById('target_url').value;
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var resp = JSON.parse(this.responseText);
                $('#validateModal').modal('hide');
                $('#confirmModal').modal('show');
            }
          };
          xhttp.open("POST", "/validate_cicd_pipeline_stage/" + "{{ app_data.ID }}", true);
          xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          xhttp.setRequestHeader("X-CSRF-Token", csrf_token);
          xhttp.send("stage=" + stage + "&languages=" + languages + "&emails=" + emails + "&gitBranch=" + gitBranch + "&image_name=" + image_name + "&image_tag=" + image_tag + "&image_registry=" + image_registry + "&target_url=" + target_url);
        }

    </script>
{% endblock %}
{% block scripts %}
  {{ super() }}
{#  Scripts  #}
<script>
var ijs = introJs()
  ijs.setOptions({
    steps: [
      {
        intro: "Welcome to the CI/CD Pipeline Integrations Page!  On this page, you use the wizard to auto-generate CI/CD Pipeline integration code and snippets. Let's take a quick tour!"
      },
      {
        title: 'Assessment Type',
        element: document.querySelector('#assessment-type'),
        intro: "Select the CI/CD Security Assessment Type here."
      },
      {
        title: 'Submit Assessment Type',
        element: document.querySelector('#nav_submit_btn'),
        intro: "After selecting the Assessment Type, click on the Submit button.  You will then be presented with Assessment Type-specific instructions."
      },
      {
        intro: "CI/CD Pipeline Integrations Page tour completed!"
      },


    ]
  })
  ijs.onchange(function(targetElement) {
    console.log(this._currentStep)
      if (this._currentStep === 3) {
          console.log(document.querySelector('#nav_metrics').classList)
          document.querySelector('#nav_metrics').classList.add('open');
          console.log(document.querySelector('#nav_metrics').classList)
    }
  });


function startIntroTour() {
    ijs.start();
}

</script>

{% endblock %}
