{% extends 'base_auth.html' %}

{% block app_content %}

    <div class="container-fluid">
        <!-- start of tabs -->
        <div class="row">
            <div class="col-md-12 active">
                <h3 class="no-margin-top" style="padding-bottom: 5px;color: floralwhite;">{{ app_data.ApplicationName }}:{{ app_data.Component }}
                </h3>
                {% include "assets/component_horizontal_bar.html" %}
            </div>
        </div>


        <!-- end of tabs -->
        <!-- start of tabs -->


        <div class="row hidden-xs">
            <div class="col-lg-12">



            </div>
        </div>


        <!-- end of tabs -->
        <div class="row">
            <div class="col-lg-12">

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div id="base-content" class="col-lg-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading tight">
                                <div class="clearfix">
                                <h3 class="pull-left">
                                    Pipeline Jobs
                                    
                                </h3>
                                    <div class="dropdown pull-right">
                                        <button class="btn btn-primary" type="button" id="help_btn" onclick="startIntroTour()">
                                            <i class="fa-solid fa-question"></i>
                                        </button>
                                    </div>

                                </div>
                            </div>

                        </div>


                        <div class="clearfix"></div>

                        {% include "pagination_tab.html" %}

                        <div class="panel panel-default table-responsive">
                            <table id="products" class="tablesorter-bootstrap table table-condensed table-striped" aria-describedby="Components Table">
                                <thead>
                                <tr>
                                    <input type="hidden" id="val_page" value="{{ table_details['page'] }}">
                                    <input type="hidden" id="val_per_page" value="{{ table_details['per_page'] }}">
                                    <input type="hidden" id="val_orderby" value="{{ table_details['orderby'] }}">


                                    <th id="nav_build_number">Build Number</th>
                                    <th id="nav_pipeline_name">Pipeline Name</th>
                                    <th id="nav_start_date">Start Date</th>
                                    <th id="nav_job_name">Job Name</th>
                                    <th id="nav_branch">Branch</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for i in entities %}
                                <tr>
                                    <td>
                                        <a href="/securitygatescorecard/{{ i.ID }}"><strong>{{ i.BuildNum }}</strong></a>
                                    </td>
                                    <td>
                                        {{ i.Project }}
                                    </td>
                                    <td>
                                        {{ i.StartDate }}
                                    </td>
                                    <td>
                                        {{ i.JobName }}
                                    </td>
                                    <td>
                                        {{ i.GitBranch }}
                                    </td>


                                </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>

                        {% include "pagination_tab.html" %}

                    </div>
                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>

<script>
function updatePerPage(app_id, new_per_page) {
    var cur_page = document.getElementById('val_page').value;
    var cur_per_page = document.getElementById('val_per_page').value;
    var cur_orderby = document.getElementById('val_orderby').value;
    var xhttp = new XMLHttpRequest();
    var csrf_token = "{{ csrf_token() }}";
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var resp = this.responseText;
        document.body.parentElement.innerHTML = resp;
    }
  };
  xhttp.open("POST", "/pipeline_jobs/" + app_id, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.setRequestHeader("X-CSRF-Token", csrf_token);
  xhttp.send("cur_page=" + cur_page + "&cur_per_page=" + cur_per_page + "&cur_orderby=" + cur_orderby + "&new_per_page=" + new_per_page);
}

function updatePagination(app_id, new_page) {
    var cur_page = document.getElementById('val_page').value;
    var cur_per_page = document.getElementById('val_per_page').value;
    var cur_orderby = document.getElementById('val_orderby').value;
    var xhttp = new XMLHttpRequest();
    var csrf_token = "{{ csrf_token() }}";
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var resp = this.responseText;
        document.body.parentElement.innerHTML = resp;
    }
  };
  xhttp.open("POST", "/pipeline_jobs/" + app_id, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.setRequestHeader("X-CSRF-Token", csrf_token);
  xhttp.send("cur_page=" + cur_page + "&cur_per_page=" + cur_per_page + "&cur_orderby=" + cur_orderby + "&new_page=" + new_page);
}

function fieldSorter(app_id, field_name, new_dir) {
    var cur_page = document.getElementById('val_page').value;
    var cur_per_page = document.getElementById('val_per_page').value;
    var cur_orderby = document.getElementById('val_orderby').value;
    var xhttp = new XMLHttpRequest();
    var csrf_token = "{{ csrf_token() }}";
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var resp = this.responseText;
        document.body.parentElement.innerHTML = resp;
    }
  };
  xhttp.open("POST", "/pipeline_jobs/" + app_id, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.setRequestHeader("X-CSRF-Token", csrf_token);
  xhttp.send("field_name=" + field_name + "&cur_page=" + cur_page + "&cur_per_page=" + cur_per_page + "&cur_orderby=" + cur_orderby + "&new_dir=" + new_dir);
}
</script>

{% endblock %}
{% block scripts %}
  {{ super() }}
{#  Scripts  #}
<script>
var ijs = introJs()
  ijs.setOptions({
    steps: [
      {
        intro: "Welcome to the Pipeline Jobs Page!  On this page, you can view a summary of the CI/CD Pipeline jobs run for this application component. Let's take a quick tour!"
      },
      {
        title: 'Build Number Column',
        element: document.querySelector('#nav_build_number'),
        intro: "The Build Number for the CI/CD Pipeline Job is shown here.  Clicking on the link will bring you to the Security Gate Scorecard for the Pipeline Job."
      },
      {
        title: 'Pipeline Name Column',
        element: document.querySelector('#nav_pipeline_name'),
        intro: "The CI/CD Pipeline Name is listed in this column."
      },
      {
        title: 'Start Date Column',
        element: document.querySelector('#nav_start_date'),
        intro: "The UTC Start Time that the CI/CD Pipeline job was initiated is shown here."
      },
      {
        title: 'Job Name Column',
        element: document.querySelector('#nav_job_name'),
        intro: "The name of the CI/CD Pipeline Job is listed in this column."
      },
      {
        title: 'Branch Column',
        element: document.querySelector('#nav_branch'),
        intro: "The GIT branch related to the CI/CD Pipeline Job is shown here."
      },
      {
        title: 'Pagination',
        element: document.querySelector('.help_pagination'),
        intro: "To scroll through multiple pages of listings and to adjust the entries per page, use the Pagination menu."
      },
      {
        intro: "Pipeline Jobs Page tour completed!"
      },


    ]
  })
  ijs.onchange(function(targetElement) {
    console.log(this._currentStep)
      if (this._currentStep === 3) {
          console.log(document.querySelector('#nav_metrics').classList)
          document.querySelector('#nav_metrics').classList.add('open');
          console.log(document.querySelector('#nav_metrics').classList)
    }
  });


function startIntroTour() {
    ijs.start();
}

</script>

{% endblock %}