{% extends 'base_auth.html' %}

{% block app_content %}

<style>
  label, label > span { display: block; }
  label { margin: 15px 0; }
</style>

<script>
  function toggleAllCheckboxes() {
    const masterCheckbox = document.getElementById('masterCheckbox');
    const checkboxes = document.querySelectorAll('input[type="checkbox"]:not(#masterCheckbox)');
    checkboxes.forEach(checkbox => {
      checkbox.checked = masterCheckbox.checked;
    });
  }
</script>

<form action="" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <label>
    <span style="color: white;">Client Name</span>
    <input type="text" name="client_name" style="margin: 0;width: 20%;">
  </label>
  <label>
    <br>
    <span style="color: white;">Allowed Scope</span>
      <div class="form-group" style="display: flex;">
        <input type="checkbox" id="masterCheckbox" onclick="toggleAllCheckboxes()">
        <label for="masterCheckbox" style="margin: 2px 4px; color: white;"> CHECK/UNCHECK ALL</label><br>
      </div>

      <div class="form-group" style="display: flex;">
          <input type="checkbox" name="read:vulnerabilities">
          <label for="read:vulnerabilities" style="margin: 2px 4px; color: white;"> read:vulnerabilities</label>
      </div>
      <div class="form-group" style="display: flex;">
          <input type="checkbox" name="write:vulnerabilities">
          <label for="write:vulnerabilities" style="margin: 2px 4px; color: white;"> write:vulnerabilities</label><br>
      </div>
  </label>

  <button style="width: 10%;">Submit</button>
</form>

{% endblock %}